02_CodeFiles/10_ESP8266-01/02_Codes/01_Remote_Light_Control.json
[{"id":"a9fcaacf.d223c8","type":"ui_button","z":"9f48997c.0b6f68","name":"","group":"c9a68efa.98a11","order":1,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"white","bgcolor":"","icon":"fa-circle","payload":"1","payloadType":"num","topic":"","x":190,"y":585,"wires":[["c3616c05.aef87"]]},{"id":"1aee6f31.cf3df1","type":"ui_button","z":"9f48997c.0b6f68","name":"","group":"c9a68efa.98a11","order":2,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"black","bgcolor":"","icon":"fa-circle-o","payload":"0","payloadType":"num","topic":"","x":190,"y":665,"wires":[["c3616c05.aef87"]]},{"id":"71adcb86.0d0214","type":"ui_text","z":"9f48997c.0b6f68","group":"c9a68efa.98a11","order":4,"width":0,"height":0,"name":"","label":"디바이스 상태 :","format":"{{msg.payload}}","layout":"col-center","x":980,"y":441,"wires":[]},{"id":"b075ebb6.bc7f88","type":"debug","z":"9f48997c.0b6f68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":561,"y":503,"wires":[]},{"id":"c3616c05.aef87","type":"ui_switch","z":"9f48997c.0b6f68","name":"","label":"상태 스위치:","tooltip":"","group":"c9a68efa.98a11","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":320,"y":625,"wires":[["be13028e.32c7e"]]},{"id":"a0b247a7.ad4108","type":"moment","z":"9f48997c.0b6f68","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"9","adjType":"hours","adjDir":"add","format":"","locale":"","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":590,"y":385,"wires":[["f7ed1f28.841d7"]]},{"id":"f7ed1f28.841d7","type":"function","z":"9f48997c.0b6f68","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":441,"wires":[["f79c2b41.8f1488"]]},{"id":"f79c2b41.8f1488","type":"function","z":"9f48997c.0b6f68","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":793,"y":441,"wires":[["71adcb86.0d0214"]]},{"id":"9951b732.a7b4f8","type":"mqtt in","z":"9f48997c.0b6f68","name":"","topic":"myhome/groundfloor/livingroom/ledlamp","qos":"2","datatype":"auto","broker":"c7f41d19.66829","x":290,"y":445,"wires":[["a0b247a7.ad4108","b075ebb6.bc7f88"]]},{"id":"be13028e.32c7e","type":"mqtt out","z":"9f48997c.0b6f68","name":"","topic":"myhome/groundfloor/livingroom/ledlamp","qos":"","retain":"","broker":"c7f41d19.66829","x":590,"y":625,"wires":[]},{"id":"1a84bf7c.2a0651","type":"mqtt in","z":"9f48997c.0b6f68","name":"","topic":"myhome/groundfloor/restroom/ledlamp","qos":"2","datatype":"auto","broker":"c7f41d19.66829","x":290,"y":884,"wires":[["985f749e.a64d48","3378b627.40991a"]]},{"id":"8c29fe51.eff9d","type":"comment","z":"9f48997c.0b6f68","name":"My livingroom","info":"","x":110,"y":325,"wires":[]},{"id":"99f8f61f.11ff88","type":"comment","z":"9f48997c.0b6f68","name":"My restroom","info":"","x":110,"y":764,"wires":[]},{"id":"c47a51a3.922bf","type":"mqtt out","z":"9f48997c.0b6f68","name":"","topic":"myhome/groundfloor/restroom/ledlamp","qos":"","retain":"","broker":"c7f41d19.66829","x":600,"y":1024,"wires":[]},{"id":"e438ff73.90b37","type":"ui_text","z":"9f48997c.0b6f68","group":"9972312e.a7d97","order":4,"width":0,"height":0,"name":"","label":"디바이스 상태 :","format":"{{msg.payload}}","layout":"col-center","x":980,"y":884,"wires":[]},{"id":"3378b627.40991a","type":"debug","z":"9f48997c.0b6f68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":561,"y":946,"wires":[]},{"id":"985f749e.a64d48","type":"moment","z":"9f48997c.0b6f68","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"9","adjType":"hours","adjDir":"add","format":"","locale":"","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":590,"y":828,"wires":[["9228e472.8cbe08"]]},{"id":"9228e472.8cbe08","type":"function","z":"9f48997c.0b6f68","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":884,"wires":[["54cbd0be.23bec"]]},{"id":"54cbd0be.23bec","type":"function","z":"9f48997c.0b6f68","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":793,"y":884,"wires":[["e438ff73.90b37"]]},{"id":"7feaf172.9362c","type":"ui_button","z":"9f48997c.0b6f68","name":"","group":"9972312e.a7d97","order":1,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"white","bgcolor":"","icon":"fa-circle","payload":"1","payloadType":"num","topic":"","x":190,"y":984,"wires":[["fa0b6ca6.f015d"]]},{"id":"d694d9fb.954698","type":"ui_button","z":"9f48997c.0b6f68","name":"","group":"9972312e.a7d97","order":2,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"black","bgcolor":"","icon":"fa-circle-o","payload":"0","payloadType":"num","topic":"","x":190,"y":1064,"wires":[["fa0b6ca6.f015d"]]},{"id":"fa0b6ca6.f015d","type":"ui_switch","z":"9f48997c.0b6f68","name":"","label":"상태 스위치:","tooltip":"","group":"9972312e.a7d97","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":320,"y":1024,"wires":[["c47a51a3.922bf"]]},{"id":"65fa3893.653d38","type":"ui_button","z":"9f48997c.0b6f68","name":"","group":"e5254f77.6172f","order":1,"width":0,"height":0,"passthru":false,"label":"On All","tooltip":"","color":"white","bgcolor":"","icon":"fa-circle","payload":"1","payloadType":"num","topic":"","x":190,"y":180,"wires":[["ed8af087.17702"]]},{"id":"cbf2e2a8.3c001","type":"ui_button","z":"9f48997c.0b6f68","name":"","group":"e5254f77.6172f","order":2,"width":0,"height":0,"passthru":false,"label":"Off All","tooltip":"","color":"black","bgcolor":"","icon":"fa-circle-o","payload":"0","payloadType":"num","topic":"","x":190,"y":260,"wires":[["ed8af087.17702"]]},{"id":"ed8af087.17702","type":"ui_switch","z":"9f48997c.0b6f68","name":"","label":"상태 스위치:","tooltip":"","group":"e5254f77.6172f","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":320,"y":220,"wires":[["c3616c05.aef87","fa0b6ca6.f015d"]]},{"id":"cd4f11d6.a0d2e","type":"comment","z":"9f48997c.0b6f68","name":"All","info":"","x":90,"y":104,"wires":[]},{"id":"c9a68efa.98a11","type":"ui_group","z":"","name":"거실","tab":"2b6792af.363e2e","order":2,"disp":true,"width":"6","collapse":false},{"id":"c7f41d19.66829","type":"mqtt-broker","z":"","name":"","broker":"54.79.114.245","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9972312e.a7d97","type":"ui_group","z":"","name":"화장실","tab":"2b6792af.363e2e","order":3,"disp":true,"width":"6","collapse":false},{"id":"e5254f77.6172f","type":"ui_group","z":"","name":"전체","tab":"2b6792af.363e2e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b6792af.363e2e","type":"ui_tab","z":"","name":"조명 제어","icon":"dashboard","order":1,"disabled":false,"hidden":false}]