02_CodeFiles/10_ESP8266-01/02_Codes/02_Remote_Door_Sensor.json
[{"id":"b9fac0bf.7fe31","type":"mqtt in","z":"eb1bdefa.74069","name":"","topic":"myhome/groundfloor/warehouse/doorsensor1","qos":"2","datatype":"auto","broker":"3da44fd8.e4f04","x":270,"y":100,"wires":[["9abbcf77.4496f","4c3a8738.ea3d48"]]},{"id":"b938438.364e3c","type":"ui_text","z":"eb1bdefa.74069","group":"b7897b6.551ec88","order":1,"width":0,"height":0,"name":"","label":"디바이스 상태:","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":156,"wires":[]},{"id":"bdcf250a.fce048","type":"mqtt in","z":"eb1bdefa.74069","name":"","topic":"myhome/groundfloor/warehouse/doorsensor2","qos":"2","datatype":"auto","broker":"3da44fd8.e4f04","x":270,"y":320,"wires":[["3801c599.02f36a","3bf0ae3f.1afb42"]]},{"id":"6deef1d8.53a0c","type":"ui_text","z":"eb1bdefa.74069","group":"b7897b6.551ec88","order":2,"width":0,"height":0,"name":"","label":"문 상태:","format":"{{msg.payload}}","layout":"row-spread","x":783,"y":320,"wires":[]},{"id":"4c3a8738.ea3d48","type":"debug","z":"eb1bdefa.74069","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":577,"y":218,"wires":[]},{"id":"9abbcf77.4496f","type":"moment","z":"eb1bdefa.74069","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"9","adjType":"hours","adjDir":"add","format":"","locale":"ko_KR","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":607,"y":100,"wires":[["e831427d.78916"]]},{"id":"e831427d.78916","type":"function","z":"eb1bdefa.74069","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":156,"wires":[["e8c6c934.b033b8"]]},{"id":"e8c6c934.b033b8","type":"function","z":"eb1bdefa.74069","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":816,"y":156,"wires":[["b938438.364e3c"]]},{"id":"1cda0c39.3e3454","type":"ui_chart","z":"eb1bdefa.74069","name":"","group":"b7897b6.551ec88","order":3,"width":0,"height":0,"label":"Chart (1:열림/0:닫힘)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":883,"y":380,"wires":[[]]},{"id":"3801c599.02f36a","type":"function","z":"eb1bdefa.74069","name":"Parsing","func":"var buf = msg.payload;\n\nif(buf=='1'){\n    msg.payload = \"문이 닫혔습니다.\";\n}\nelse if(buf=='0'){\n    msg.payload = \"문이 열렸습니다.\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":320,"wires":[["6deef1d8.53a0c"]]},{"id":"3bf0ae3f.1afb42","type":"function","z":"eb1bdefa.74069","name":"Parsing","func":"var buf = msg.payload;\n\nif(buf=='1'){\n    msg.payload = '0';\n}\nelse if(buf=='0'){\n    msg.payload = '1';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":380,"wires":[["7c8064ff.659cec"]]},{"id":"7c8064ff.659cec","type":"json","z":"eb1bdefa.74069","name":"","property":"payload","action":"","pretty":false,"x":715,"y":380,"wires":[["1cda0c39.3e3454"]]},{"id":"eeeb8753.47f0d8","type":"ui_button","z":"eb1bdefa.74069","name":"","group":"e275072.e8ff8f8","order":2,"width":0,"height":0,"passthru":false,"label":"열림","tooltip":"","color":"white","bgcolor":"","icon":"fa-circle","payload":"1","payloadType":"num","topic":"","x":150,"y":520,"wires":[["11ec52e8.b700fd"]]},{"id":"8ce3923d.838da","type":"ui_button","z":"eb1bdefa.74069","name":"","group":"e275072.e8ff8f8","order":3,"width":0,"height":0,"passthru":false,"label":"닫힘","tooltip":"","color":"black","bgcolor":"","icon":"fa-circle-o","payload":"0","payloadType":"num","topic":"","x":150,"y":600,"wires":[["11ec52e8.b700fd"]]},{"id":"11ec52e8.b700fd","type":"ui_switch","z":"eb1bdefa.74069","name":"","label":"상태 스위치:","tooltip":"","group":"e275072.e8ff8f8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":560,"wires":[["ab621c6d.2fc24"]]},{"id":"ab621c6d.2fc24","type":"mqtt out","z":"eb1bdefa.74069","name":"","topic":"myhome/groundfloor/warehouse/doorlock","qos":"","retain":"","broker":"ca5bed9e.3df5f","x":560,"y":560,"wires":[]},{"id":"1ac8cd41.72f473","type":"comment","z":"eb1bdefa.74069","name":"Door Sensor","info":"","x":110,"y":56,"wires":[]},{"id":"2780a32d.2cd4fc","type":"comment","z":"eb1bdefa.74069","name":"Door Lock","info":"","x":100,"y":460,"wires":[]},{"id":"75e46091.e23c4","type":"ui_text","z":"eb1bdefa.74069","group":"e275072.e8ff8f8","order":1,"width":0,"height":0,"name":"","label":"디바이스 상태:","format":"{{msg.payload}}","layout":"col-center","x":942,"y":717,"wires":[]},{"id":"13a33884.7c00e7","type":"debug","z":"eb1bdefa.74069","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":538,"y":779,"wires":[]},{"id":"e50bc306.b444a","type":"moment","z":"eb1bdefa.74069","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"9","adjType":"hours","adjDir":"add","format":"","locale":"","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":567,"y":661,"wires":[["a10b38af.a66548"]]},{"id":"a10b38af.a66548","type":"function","z":"eb1bdefa.74069","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":717,"wires":[["a290e9d.4985218"]]},{"id":"a290e9d.4985218","type":"function","z":"eb1bdefa.74069","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":717,"wires":[["75e46091.e23c4"]]},{"id":"2a210502.dcac3a","type":"mqtt in","z":"eb1bdefa.74069","name":"","topic":"myhome/groundfloor/warehouse/doorlock","qos":"2","datatype":"auto","broker":"4fafe118.56ce","x":259,"y":717,"wires":[["e50bc306.b444a","13a33884.7c00e7"]]},{"id":"3da44fd8.e4f04","type":"mqtt-broker","z":"","name":"","broker":"54.79.114.245","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b7897b6.551ec88","type":"ui_group","z":"","name":"도난방지 도어상태","tab":"a9c9bc58.d21ab","order":1,"disp":true,"width":"6","collapse":false},{"id":"e275072.e8ff8f8","type":"ui_group","z":"","name":"도어락","tab":"a9c9bc58.d21ab","order":2,"disp":true,"width":"6","collapse":false},{"id":"ca5bed9e.3df5f","type":"mqtt-broker","z":"","name":"","broker":"54.79.114.245","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4fafe118.56ce","type":"mqtt-broker","z":"","name":"","broker":"13.211.139.200","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a9c9bc58.d21ab","type":"ui_tab","z":"","name":"물류 창고","icon":"dashboard","order":2,"disabled":false,"hidden":false}]