02_CodeFiles/10_ESP8266-01/02_Codes/03_Remote_System.json
[{"id":"c6a9637b.38a4c","type":"ui_gauge","z":"1b958899.bdfbf7","name":"","group":"9617f597.947ec8","order":1,"width":0,"height":0,"gtype":"gage","title":"Ping","label":"ms","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":180,"wires":[]},{"id":"7588be25.6d07d","type":"comment","z":"1b958899.bdfbf7","name":"Internet Speed [ ms ]","info":"","x":230,"y":100,"wires":[]},{"id":"e347c8a0.e95118","type":"ui_button","z":"1b958899.bdfbf7","name":"","group":"75915805.f2c048","order":0,"width":0,"height":0,"passthru":false,"label":"REBOOT","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":231,"y":380,"wires":[["8802480e.4aa8c8"]]},{"id":"8089b62d.0c8e28","type":"inject","z":"1b958899.bdfbf7","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":228.71957397460938,"y":426.2450180053711,"wires":[["8802480e.4aa8c8"]]},{"id":"e62ecdc.4ae433","type":"debug","z":"1b958899.bdfbf7","name":"","active":false,"console":"false","complete":"false","x":600.00537109375,"y":375.81644439697266,"wires":[]},{"id":"8802480e.4aa8c8","type":"exec","z":"1b958899.bdfbf7","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo reboot","x":398.7195739746094,"y":381.24495697021484,"wires":[["e62ecdc.4ae433"],[],[]]},{"id":"75d4e9e7.f24758","type":"ping","z":"1b958899.bdfbf7","mode":null,"name":"","host":"172.31.15.49","timer":"60","inputs":0,"x":250,"y":180,"wires":[["c6a9637b.38a4c","ae301ea8.1f535","87e3c14c.21274","7ccb9995.03faf8"]]},{"id":"ae301ea8.1f535","type":"debug","z":"1b958899.bdfbf7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"9dce308c.b785f","type":"cpu","z":"1b958899.bdfbf7","name":"Overall CPU Usage","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":510,"y":600,"wires":[["eafb5f2.2281da","a49a6f1d.6f3b8","316860f2.b1ea8","2c7d65af.7e048a"]]},{"id":"6bf966b0.a2a918","type":"inject","z":"1b958899.bdfbf7","name":"","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":600,"wires":[["9dce308c.b785f"]]},{"id":"eafb5f2.2281da","type":"debug","z":"1b958899.bdfbf7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":700,"wires":[]},{"id":"35d8e4a1.e631ac","type":"comment","z":"1b958899.bdfbf7","name":"Reboot the AWS EC2 Sever","info":"","x":260,"y":320,"wires":[]},{"id":"1fcb744a.58a5dc","type":"comment","z":"1b958899.bdfbf7","name":"Checking AWS EC2 CPU","info":"","x":250,"y":540,"wires":[]},{"id":"a49a6f1d.6f3b8","type":"ui_gauge","z":"1b958899.bdfbf7","name":"","group":"161047ec.1726f8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"[ % ]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":600,"wires":[]},{"id":"b7dcac19.63f8e","type":"inject","z":"1b958899.bdfbf7","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":780,"wires":[["df0ebd98.b1df6"]]},{"id":"df0ebd98.b1df6","type":"cpu","z":"1b958899.bdfbf7","name":"Array of Core Usage","msgCore":true,"msgOverall":false,"msgArray":true,"msgTemp":true,"x":520,"y":780,"wires":[["135f352e.1ac50b"]]},{"id":"5ac6d864.cf3498","type":"debug","z":"1b958899.bdfbf7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":780,"wires":[]},{"id":"135f352e.1ac50b","type":"json","z":"1b958899.bdfbf7","name":"","property":"payload","action":"","pretty":false,"x":730,"y":780,"wires":[["5ac6d864.cf3498"]]},{"id":"316860f2.b1ea8","type":"ui_chart","z":"1b958899.bdfbf7","name":"","group":"161047ec.1726f8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":640,"wires":[[]]},{"id":"87e3c14c.21274","type":"ui_chart","z":"1b958899.bdfbf7","name":"","group":"9617f597.947ec8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":220,"wires":[[]]},{"id":"7ccb9995.03faf8","type":"mqtt out","z":"1b958899.bdfbf7","name":"","topic":"systemPing","qos":"","retain":"","broker":"da865f72.345c5","x":490,"y":128,"wires":[]},{"id":"2c7d65af.7e048a","type":"mqtt out","z":"1b958899.bdfbf7","name":"","topic":"systemCpu","qos":"","retain":"","broker":"da865f72.345c5","x":770,"y":549,"wires":[]},{"id":"aca081f8.800aa","type":"mqtt in","z":"1b958899.bdfbf7","name":"","topic":"systemReboot","qos":"2","datatype":"auto","broker":"da865f72.345c5","x":208,"y":476,"wires":[["8802480e.4aa8c8"]]},{"id":"9617f597.947ec8","type":"ui_group","z":"","name":"Ping","tab":"a150a6db.ec5fc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"75915805.f2c048","type":"ui_group","z":"","name":"Reboot EC2 AWS","tab":"a150a6db.ec5fc8","order":5,"disp":true,"width":"6"},{"id":"161047ec.1726f8","type":"ui_group","z":"","name":"Overall CPU Usage [ % ]","tab":"a150a6db.ec5fc8","order":2,"disp":true,"width":"6","collapse":false},{"id":"da865f72.345c5","type":"mqtt-broker","z":"","name":"","broker":"54.79.114.245","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a150a6db.ec5fc8","type":"ui_tab","z":"","name":"System","icon":"dashboard","order":3,"disabled":false,"hidden":false}]