02_CodeFiles/10_ESP8266-01/02_Codes/SQLiteWithESP8266-01DHT_Node-RED.txt
[{"id":"ae7b69aa.dd2188","type":"mqtt in","z":"7c6ef140.4ef64","name":"MQTT: hum","topic":"hum","qos":"2","broker":"57f2f3e9.d38a8c","x":116.0109634399414,"y":96.22232151031494,"wires":[["e3ce44a8.8599d8","a928e174.81431","2d3bad77.775f72"]]},{"id":"e3ce44a8.8599d8","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":290.01094818115234,"y":166.22232151031494,"wires":[]},{"id":"760b077c.0696c8","type":"mqtt in","z":"7c6ef140.4ef64","name":"MQTT: tem","topic":"tem","qos":"2","broker":"57f2f3e9.d38a8c","x":122.01091003417969,"y":296.5556001663208,"wires":[["4d4e0c6d.dd3874","82b7e965.8ced48","2d0474dd.f1b25c"]]},{"id":"4d4e0c6d.dd3874","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":303.0108985900879,"y":354.55560398101807,"wires":[]},{"id":"82b7e965.8ced48","type":"ui_gauge","z":"7c6ef140.4ef64","name":"Temperature [°C]","group":"96e4befb.4694","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":328.5187225341797,"y":276.7118501663208,"wires":[]},{"id":"a928e174.81431","type":"ui_gauge","z":"7c6ef140.4ef64","name":"Humidity [%]","group":"b7e32566.c935f8","order":1,"width":"","height":"","gtype":"gage","title":"Humidity","label":"[ % ]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":305.4084777832031,"y":93.33341693878174,"wires":[]},{"id":"2d0474dd.f1b25c","type":"ui_chart","z":"7c6ef140.4ef64","name":"Temperature [°C]","group":"96e4befb.4694","order":2,"width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":330.65845108032227,"y":313.8334083557129,"wires":[[],[]]},{"id":"2d3bad77.775f72","type":"ui_chart","z":"7c6ef140.4ef64","name":"Humidity [%]","group":"b7e32566.c935f8","order":2,"width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":311.6584777832031,"y":129.5834321975708,"wires":[[],[]]},{"id":"cc16f328.36968","type":"comment","z":"7c6ef140.4ef64","name":"ESP8266 with DHT11(Temperature & Humidity)","info":"","x":205.99799346923828,"y":43.000000953674316,"wires":[]},{"id":"3d26eeee.134022","type":"mqtt in","z":"7c6ef140.4ef64","name":"MQTT: hum","topic":"hum","qos":"2","broker":"a2d8ceb7.b4a8a","x":155.0205535888672,"y":610.7023131977767,"wires":[["8a9006c1.790298","ba70ba38.759048"]]},{"id":"3947ae26.58a002","type":"mqtt in","z":"7c6ef140.4ef64","name":"MQTT: tem","topic":"tem","qos":"2","broker":"a2d8ceb7.b4a8a","x":145.0205535888672,"y":670.7023131977767,"wires":[["81020679.ac9118"]]},{"id":"add801db.2697d","type":"moment","z":"7c6ef140.4ef64","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":365.0205535888672,"y":490.7023131977767,"wires":[["d2d402bf.fd394"]]},{"id":"d2d402bf.fd394","type":"function","z":"7c6ef140.4ef64","name":"Parsing Time","func":"var time = msg.payload.toString().substr(0, 19).replace(\"T\",\" \");\nmsg.payload = time;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":575.0205535888672,"y":489.7023131977767,"wires":[["b8e73a2d.d3a478"]]},{"id":"97cadf5d.f1848","type":"join","z":"7c6ef140.4ef64","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":535.0205535888672,"y":570.7023131977767,"wires":[["1306fa13.7e8e26","95510bac.b78d28"]]},{"id":"81020679.ac9118","type":"delay","z":"7c6ef140.4ef64","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320.0205535888672,"y":671.7023131977767,"wires":[["97cadf5d.f1848"]]},{"id":"8a9006c1.790298","type":"delay","z":"7c6ef140.4ef64","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320.0205535888672,"y":611.7023131977767,"wires":[["97cadf5d.f1848"]]},{"id":"1306fa13.7e8e26","type":"function","z":"7c6ef140.4ef64","name":"JSON","func":"// \"2017-12-01 18:09:31 24.00 42.00\"\n\nvar localYear = msg.payload.toString().substr(0, 4);\nvar localMon = msg.payload.toString().substr(5, 2);\nvar localD = msg.payload.toString().substr(8, 2);\nvar localH = msg.payload.toString().substr(11, 2);\nvar localMin = msg.payload.toString().substr(14, 2);\nvar localSec = msg.payload.toString().substr(17, 2);\nvar tempBuf = msg.payload.toString().substr(20, 2);\nvar humBuf = msg.payload.toString().substr(26, 2);\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \nvar temp = parseFloat(tempBuf);\nvar hum = parseFloat(humBuf);\n\nmsg.payload = {data:{local,temp,hum}};\n\nreturn msg;","outputs":1,"noerr":0,"x":675.0205535888672,"y":570.7023131977767,"wires":[["407ebe9c.20e9d","d8c587b2.2c9bc8","2362b2e.7f76e4e"]]},{"id":"407ebe9c.20e9d","type":"debug","z":"7c6ef140.4ef64","name":"","active":true,"console":"false","complete":"false","x":867.5205497741699,"y":873.2023324966431,"wires":[]},{"id":"d8c587b2.2c9bc8","type":"function","z":"7c6ef140.4ef64","name":"Insert query","func":"var local = msg.payload.data.local;\nvar temp = msg.payload.data.temp;\nvar hum = msg.payload.data.hum;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + local + \", \" + temp + \", \" + hum + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1155.0205535888672,"y":570.7023131977767,"wires":[["19f903b1.a839ac"]]},{"id":"ba70ba38.759048","type":"function","z":"7c6ef140.4ef64","name":"Start signal","func":"return msg;","outputs":1,"noerr":0,"x":135.0205535888672,"y":530.7023131977767,"wires":[["add801db.2697d"]]},{"id":"b8e73a2d.d3a478","type":"delay","z":"7c6ef140.4ef64","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":362.0205535888672,"y":554.7023131977767,"wires":[["97cadf5d.f1848"]]},{"id":"95510bac.b78d28","type":"debug","z":"7c6ef140.4ef64","name":"","active":true,"console":"false","complete":"false","x":815.0205535888672,"y":490.7023131977767,"wires":[]},{"id":"95b3af69.32967","type":"inject","z":"7c6ef140.4ef64","name":"create database table","topic":"CREATE TABLE HOME( LOCAL INT PRIMARY KEY NOT NULL, TEMP INT NOT NULL, HUM INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1127.0205535888672,"y":525.7023131977767,"wires":[["19f903b1.a839ac"]]},{"id":"f52731ef.47ae6","type":"inject","z":"7c6ef140.4ef64","name":"view records","topic":"SELECT * FROM HOME ORDER BY LOCAL DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1165.7704963684082,"y":697.7023475300521,"wires":[["e3376677.e11088"]]},{"id":"ecd2d8e1.08b808","type":"inject","z":"7c6ef140.4ef64","name":"delete records","topic":"DELETE FROM HOME WHERE LOCAL <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1160.9898147583008,"y":654.4523933064193,"wires":[["19f903b1.a839ac"]]},{"id":"d413efd3.90a95","type":"inject","z":"7c6ef140.4ef64","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1161.2704582214355,"y":613.2023837696761,"wires":[["19f903b1.a839ac"]]},{"id":"e165fc03.59fe1","type":"ui_button","z":"7c6ef140.4ef64","name":"","group":"8d3ac107.a47ab","order":1,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1139.355812072754,"y":487.49999595992267,"wires":[["19f903b1.a839ac"]]},{"id":"2d48543f.86397c","type":"ui_template","z":"7c6ef140.4ef64","group":"8d3ac107.a47ab","name":"UI Table","order":2,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>T[°C]</th>\n <th>H[%]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n <td>{{msg.payload[$index].HUM}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1598.0205535888672,"y":696.7023131977767,"wires":[[]]},{"id":"173d55b8.39f1aa","type":"ui_text_input","z":"7c6ef140.4ef64","name":"","label":"","group":"42701f1c.44754","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1043.8711624145508,"y":745.3076970707625,"wires":[["4e7e0546.1bed4c"]]},{"id":"4e8d94f.fe73b6c","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":1628.6388244628906,"y":787.8506572376937,"wires":[]},{"id":"4e7e0546.1bed4c","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1195.9794692993164,"y":745.62975002639,"wires":[["b4cc6031.555d7"]]},{"id":"11376bab.e069d4","type":"ui_template","z":"7c6ef140.4ef64","group":"42701f1c.44754","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1636.4592514038086,"y":745.2540242802352,"wires":[["514d2f3e.6fd5f"]]},{"id":"ee757d.245c0a8","type":"ui_template","z":"7c6ef140.4ef64","group":"42701f1c.44754","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1614.7925262451172,"y":833.5873229634017,"wires":[[]]},{"id":"514d2f3e.6fd5f","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":1816.0205535888672,"y":789.7023131977767,"wires":[]},{"id":"19f903b1.a839ac","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1426.0205535888672,"y":570.7023131977767,"wires":[[]]},{"id":"e3376677.e11088","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1394.0205535888672,"y":697.7023131977767,"wires":[["2d48543f.86397c"]]},{"id":"b4cc6031.555d7","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1411.0205535888672,"y":746.7023131977767,"wires":[["11376bab.e069d4","4e8d94f.fe73b6c"]]},{"id":"2362b2e.7f76e4e","type":"mqtt out","z":"7c6ef140.4ef64","name":"MQTT - EspTempHumSensor","topic":"EspTempHumSensor","qos":"2","retain":"","broker":"538f8f38.aa2cf","x":925.8106994628906,"y":923.856029510498,"wires":[]},{"id":"2de7f0e6.e6695","type":"ui_template","z":"7c6ef140.4ef64","group":"96e4befb.4694","name":"","order":0,"width":0,"height":0,"format":"<img src=\"https://github.com/leehaesung/NodeRED/raw/master/02_CodeFiles/10_ESP8266-01/01_Images/ESP8266_DHT11.jpg\" height=\"400\" width=\"450\" >","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1620.8032989501953,"y":889.4271125793457,"wires":[[]]},{"id":"57f2f3e9.d38a8c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"96e4befb.4694","type":"ui_group","z":"","name":"Temperature","tab":"d52f4c1.53d79b","order":1,"disp":true,"width":"6"},{"id":"b7e32566.c935f8","type":"ui_group","z":"","name":"Humidity","tab":"d52f4c1.53d79b","order":2,"disp":true,"width":"6"},{"id":"a2d8ceb7.b4a8a","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8d3ac107.a47ab","type":"ui_group","z":"","name":"SQLite with ESP8266","tab":"d52f4c1.53d79b","order":3,"disp":true,"width":"6"},{"id":"42701f1c.44754","type":"ui_group","z":"","name":"Query Commander","tab":"d52f4c1.53d79b","order":4,"disp":true,"width":"6"},{"id":"6ca9e199.f52a3","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteEsp"},{"id":"538f8f38.aa2cf","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d52f4c1.53d79b","type":"ui_tab","z":"","name":"ESP8266 with DHT11","icon":"dashboard","order":2}]
