02_CodeFiles/10_ESP8266-01/02_Codes/SQLiteWithESP8266-01DHT_Node-RED_Ver_0.1.txt
[{"id":"ae7b69aa.dd2188","type":"mqtt in","z":"7c6ef140.4ef64","name":"MQTT: hum","topic":"hum","qos":"2","broker":"57f2f3e9.d38a8c","x":95.17764282226562,"y":668.7222015857697,"wires":[["e3ce44a8.8599d8","a928e174.81431","2d3bad77.775f72","35954d61.805de2"]]},{"id":"e3ce44a8.8599d8","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":279.17761993408203,"y":700.3889436721802,"wires":[]},{"id":"760b077c.0696c8","type":"mqtt in","z":"7c6ef140.4ef64","name":"MQTT: tem","topic":"tem","qos":"2","broker":"57f2f3e9.d38a8c","x":93.67758178710938,"y":430.7223653793335,"wires":[["4d4e0c6d.dd3874","82b7e965.8ced48","2d0474dd.f1b25c","462797d6.fefef8"]]},{"id":"4d4e0c6d.dd3874","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":278.0109062194824,"y":457.05573081970215,"wires":[]},{"id":"82b7e965.8ced48","type":"ui_gauge","z":"7c6ef140.4ef64","name":"Temperature [°C]","group":"96e4befb.4694","order":1,"width":"","height":"","gtype":"gage","title":"Temperature","label":" [°C]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":303.5187301635742,"y":379.2119770050049,"wires":[]},{"id":"a928e174.81431","type":"ui_gauge","z":"7c6ef140.4ef64","name":"Humidity [%]","group":"b7e32566.c935f8","order":1,"width":"","height":"","gtype":"gage","title":"Humidity","label":"[ % ]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":294.5751495361328,"y":627.500039100647,"wires":[]},{"id":"2d0474dd.f1b25c","type":"ui_chart","z":"7c6ef140.4ef64","name":"Temperature [°C]","group":"96e4befb.4694","order":2,"width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":305.6584587097168,"y":416.333535194397,"wires":[[],[]]},{"id":"2d3bad77.775f72","type":"ui_chart","z":"7c6ef140.4ef64","name":"Humidity [%]","group":"b7e32566.c935f8","order":2,"width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":300.8251495361328,"y":663.750054359436,"wires":[[],[]]},{"id":"cc16f328.36968","type":"comment","z":"7c6ef140.4ef64","name":"ESP8266 with DHT11(Temperature & Humidity)","info":"","x":205.99799346923828,"y":43.000000953674316,"wires":[]},{"id":"95b3af69.32967","type":"inject","z":"7c6ef140.4ef64","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL, HUM INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1264.520606994629,"y":523.2022948265076,"wires":[["19f903b1.a839ac"]]},{"id":"f52731ef.47ae6","type":"inject","z":"7c6ef140.4ef64","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1303.27054977417,"y":695.202329158783,"wires":[["e3376677.e11088"]]},{"id":"ecd2d8e1.08b808","type":"inject","z":"7c6ef140.4ef64","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1298.4898681640625,"y":651.9523749351501,"wires":[["19f903b1.a839ac"]]},{"id":"d413efd3.90a95","type":"inject","z":"7c6ef140.4ef64","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1298.7705116271973,"y":610.702365398407,"wires":[["19f903b1.a839ac"]]},{"id":"e165fc03.59fe1","type":"ui_button","z":"7c6ef140.4ef64","name":"","group":"8d3ac107.a47ab","order":1,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1276.8558654785156,"y":484.99997758865356,"wires":[["19f903b1.a839ac"]]},{"id":"2d48543f.86397c","type":"ui_template","z":"7c6ef140.4ef64","group":"8d3ac107.a47ab","name":"UI Table","order":3,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>T[°C]</th>\n <th>H[%]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n <td>{{msg.payload[$index].HUM}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1735.520606994629,"y":694.2022948265076,"wires":[[]]},{"id":"173d55b8.39f1aa","type":"ui_text_input","z":"7c6ef140.4ef64","name":"","label":"","group":"42701f1c.44754","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1181.3712158203125,"y":742.8076786994934,"wires":[["4e7e0546.1bed4c"]]},{"id":"4e8d94f.fe73b6c","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":1766.1388778686523,"y":785.3506388664246,"wires":[]},{"id":"4e7e0546.1bed4c","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1333.4795227050781,"y":743.1297316551208,"wires":[["b4cc6031.555d7"]]},{"id":"11376bab.e069d4","type":"ui_template","z":"7c6ef140.4ef64","group":"42701f1c.44754","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1773.9593048095703,"y":742.7540059089661,"wires":[["514d2f3e.6fd5f"]]},{"id":"ee757d.245c0a8","type":"ui_template","z":"7c6ef140.4ef64","group":"42701f1c.44754","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1752.292579650879,"y":831.0873045921326,"wires":[[]]},{"id":"514d2f3e.6fd5f","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":1953.520606994629,"y":787.2022948265076,"wires":[]},{"id":"19f903b1.a839ac","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1563.520606994629,"y":568.2022948265076,"wires":[[]]},{"id":"e3376677.e11088","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1531.520606994629,"y":695.2022948265076,"wires":[["2d48543f.86397c"]]},{"id":"b4cc6031.555d7","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1548.520606994629,"y":744.2022948265076,"wires":[["11376bab.e069d4","4e8d94f.fe73b6c"]]},{"id":"2de7f0e6.e6695","type":"ui_template","z":"7c6ef140.4ef64","group":"54eb8659.3a1e08","name":"","order":1,"width":0,"height":0,"format":"<img src=\"https://github.com/leehaesung/NodeRED/raw/master/02_CodeFiles/10_ESP8266-01/01_Images/ESP8266_DHT11.jpg\" height=\"400\" width=\"450\" >","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1758.303352355957,"y":886.9270942080766,"wires":[[]]},{"id":"462797d6.fefef8","type":"json","z":"7c6ef140.4ef64","name":"","x":257.5273742675781,"y":497.5164337158203,"wires":[["cb9fed9b.835c8"]]},{"id":"cb9fed9b.835c8","type":"function","z":"7c6ef140.4ef64","name":"Parsing Temperature","func":"var temp = msg.payload;\nmsg.payload = parseFloat(temp);\nreturn msg;","outputs":1,"noerr":0,"x":433.5273971557617,"y":496.223669052124,"wires":[["90c9ff4b.06a06","f4b4e5a8.2ceeb8","946ddbc5.8e8968","2a20f153.3bafae"]]},{"id":"35954d61.805de2","type":"json","z":"7c6ef140.4ef64","name":"","x":261.3909149169922,"y":743.3749852180481,"wires":[["2710b98b.81dd36"]]},{"id":"2710b98b.81dd36","type":"function","z":"7c6ef140.4ef64","name":"Parsing Humidity","func":"var hum = msg.payload;\nmsg.payload = parseFloat(hum);\nreturn msg;","outputs":1,"noerr":0,"x":429.3909378051758,"y":743.0822205543518,"wires":[["95479168.665c3","f302473b.e61a98"]]},{"id":"90c9ff4b.06a06","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":675.3891983032227,"y":539.9999847412109,"wires":[]},{"id":"95479168.665c3","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":675.3891983032227,"y":789.9999847412109,"wires":[]},{"id":"f4b4e5a8.2ceeb8","type":"moment","z":"7c6ef140.4ef64","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":690.3891983032227,"y":299.99998474121094,"wires":[["81135bcb.bd14b8"]]},{"id":"81135bcb.bd14b8","type":"function","z":"7c6ef140.4ef64","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":749.3891983032227,"y":350.99998474121094,"wires":[["79e43d8c.809f14","d8d00de7.36d5f"]]},{"id":"f302473b.e61a98","type":"function","z":"7c6ef140.4ef64","name":"Parsing Humidity","func":"msg.payload = {'humidity':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":695.3891983032227,"y":739.9999847412109,"wires":[["5ae08add.647894"]]},{"id":"946ddbc5.8e8968","type":"function","z":"7c6ef140.4ef64","name":"Parsing Temperature","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":725.3891983032227,"y":494.99998474121094,"wires":[["5ae08add.647894"]]},{"id":"79e43d8c.809f14","type":"function","z":"7c6ef140.4ef64","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":787.3891983032227,"y":403.99998474121094,"wires":[["5ae08add.647894"]]},{"id":"5ae08add.647894","type":"join","z":"7c6ef140.4ef64","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","x":1027.3891983032227,"y":567.9999847412109,"wires":[["cb29dcd1.5ea44","7a02f296.9aba7c"]]},{"id":"d8d00de7.36d5f","type":"function","z":"7c6ef140.4ef64","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":961.3891983032227,"y":349.99998474121094,"wires":[["eebd6c5e.93d77"]]},{"id":"2a20f153.3bafae","type":"function","z":"7c6ef140.4ef64","name":"Timestamp","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":747.3891983032227,"y":449.99998474121094,"wires":[["5ae08add.647894"]]},{"id":"cb29dcd1.5ea44","type":"function","z":"7c6ef140.4ef64","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \", \" + hum + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1216.3891983032227,"y":567.9999847412109,"wires":[["19f903b1.a839ac"]]},{"id":"7a02f296.9aba7c","type":"function","z":"7c6ef140.4ef64","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar pre = msg.payload.pressure;\n\nmsg.payload = {'data':{time,local,temp,hum,pre}};\n\nreturn msg;","outputs":1,"noerr":0,"x":763.3890609741211,"y":1572.500012397766,"wires":[["a9f5c.5a4f60a48","e6362374.61908"]]},{"id":"e6362374.61908","type":"mqtt out","z":"7c6ef140.4ef64","name":"","topic":"esp8266sqlite","qos":"2","retain":"","broker":"a1296cd7.cbe2c","x":983.3890609741211,"y":1572.500012397766,"wires":[]},{"id":"a9f5c.5a4f60a48","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":813.3890609741211,"y":1632.500012397766,"wires":[]},{"id":"eebd6c5e.93d77","type":"ui_text","z":"7c6ef140.4ef64","group":"8d3ac107.a47ab","order":2,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":1131.3891983032227,"y":349.99998474121094,"wires":[]},{"id":"8b41fe2b.72d6","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1547.5274658203125,"y":987.5054931640625,"wires":[["d34b4100.a4377"]]},{"id":"db59b1b8.f5075","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1337.5274658203125,"y":987.5054931640625,"wires":[["8b41fe2b.72d6"]]},{"id":"d34b4100.a4377","type":"json","z":"7c6ef140.4ef64","name":"","pretty":false,"x":1753.891448974609,"y":987.0010833740232,"wires":[["838330f3.2a85c"]]},{"id":"838330f3.2a85c","type":"function","z":"7c6ef140.4ef64","name":"Parsing MAX(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1950.5274658203125,"y":986.5054931640625,"wires":[["6c7c0c91.63bd84","5d33656e.e09c2c"]]},{"id":"6c7c0c91.63bd84","type":"ui_text","z":"7c6ef140.4ef64","group":"96e4befb.4694","order":4,"width":0,"height":0,"name":"","label":"MAX TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2177.5274658203125,"y":986.5054931640625,"wires":[]},{"id":"dd3e04bb.181c08","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1547.5274658203125,"y":1078.5054931640625,"wires":[["faa554b1.ae9458"]]},{"id":"30179dbd.4fc8c2","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1337.5274658203125,"y":1078.5054931640625,"wires":[["dd3e04bb.181c08"]]},{"id":"faa554b1.ae9458","type":"json","z":"7c6ef140.4ef64","name":"","pretty":false,"x":1753.891448974609,"y":1078.0010833740232,"wires":[["7a496a94.4a56d4"]]},{"id":"7a496a94.4a56d4","type":"function","z":"7c6ef140.4ef64","name":"Parsing MIN(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1950.5274658203125,"y":1077.5054931640625,"wires":[["9f2773b7.99ff6","b41f6b21.e52098"]]},{"id":"9f2773b7.99ff6","type":"ui_text","z":"7c6ef140.4ef64","group":"96e4befb.4694","order":5,"width":0,"height":0,"name":"","label":"MIN  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2197.5274658203125,"y":1078.5054931640625,"wires":[]},{"id":"f9a1115b.a905","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1548.5274658203125,"y":1165.5054931640625,"wires":[["317fea0c.6de4d6"]]},{"id":"1476e06d.6973e","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1338.5274658203125,"y":1165.5054931640625,"wires":[["f9a1115b.a905"]]},{"id":"317fea0c.6de4d6","type":"json","z":"7c6ef140.4ef64","name":"","pretty":false,"x":1754.891448974609,"y":1165.0010833740234,"wires":[["955616d4.b1d5e8"]]},{"id":"955616d4.b1d5e8","type":"function","z":"7c6ef140.4ef64","name":"Parsing AVG(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1951.5274658203125,"y":1164.5054931640625,"wires":[["6cbba41f.b6cd5c","39f70aa7.824fa6"]]},{"id":"39f70aa7.824fa6","type":"ui_text","z":"7c6ef140.4ef64","group":"96e4befb.4694","order":6,"width":0,"height":0,"name":"","label":"AVG  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2178.5274658203125,"y":1165.5054931640625,"wires":[]},{"id":"5d33656e.e09c2c","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":2152.5274658203125,"y":1027.5054931640625,"wires":[]},{"id":"b41f6b21.e52098","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":2167.5274658203125,"y":1119.5054931640625,"wires":[]},{"id":"6cbba41f.b6cd5c","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":2148.5274658203125,"y":1211.5054931640625,"wires":[]},{"id":"452e7312.1feb7c","type":"comment","z":"7c6ef140.4ef64","name":"Solving MAX, MIN, AVG TEMP","info":"","x":1160.319932937622,"y":935.2064247131348,"wires":[]},{"id":"102ce09c.6e53af","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1557.264404296875,"y":1315.8388671875,"wires":[["90bdd28f.79e16"]]},{"id":"d618bc39.6b9d8","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1347.264404296875,"y":1315.8388671875,"wires":[["102ce09c.6e53af"]]},{"id":"90bdd28f.79e16","type":"json","z":"7c6ef140.4ef64","name":"","pretty":false,"x":1763.6283874511714,"y":1315.3344573974607,"wires":[["6ef5f490.447e8c"]]},{"id":"6ef5f490.447e8c","type":"function","z":"7c6ef140.4ef64","name":"Parsing MAX(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":1950.264404296875,"y":1314.8388671875,"wires":[["6e9bd11e.4733d","e66a5ed6.e74"]]},{"id":"6e9bd11e.4733d","type":"ui_text","z":"7c6ef140.4ef64","group":"b7e32566.c935f8","order":4,"width":0,"height":0,"name":"","label":"MAX HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2177.264404296875,"y":1314.8388671875,"wires":[]},{"id":"853c64e7.11c3b8","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1557.264404296875,"y":1406.8388671875,"wires":[["8ddb5dff.b314f"]]},{"id":"159ab1f8.96985e","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1347.264404296875,"y":1406.8388671875,"wires":[["853c64e7.11c3b8"]]},{"id":"8ddb5dff.b314f","type":"json","z":"7c6ef140.4ef64","name":"","pretty":false,"x":1763.6283874511714,"y":1406.3344573974607,"wires":[["75ef760d.2b18f8"]]},{"id":"75ef760d.2b18f8","type":"function","z":"7c6ef140.4ef64","name":"Parsing MIN(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":1950.264404296875,"y":1405.8388671875,"wires":[["72c3511e.8c2b7","fb0aad1d.b767e"]]},{"id":"72c3511e.8c2b7","type":"ui_text","z":"7c6ef140.4ef64","group":"b7e32566.c935f8","order":5,"width":0,"height":0,"name":"","label":"MIN HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2187.264404296875,"y":1406.8388671875,"wires":[]},{"id":"f45bbc10.2ccd6","type":"sqlite","z":"7c6ef140.4ef64","mydb":"6ca9e199.f52a3","name":"","x":1558.264404296875,"y":1493.8388671875,"wires":[["3bb29bf5.fa99b4"]]},{"id":"18151b50.7024e5","type":"function","z":"7c6ef140.4ef64","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(HUM) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1348.264404296875,"y":1493.8388671875,"wires":[["f45bbc10.2ccd6"]]},{"id":"3bb29bf5.fa99b4","type":"json","z":"7c6ef140.4ef64","name":"","pretty":false,"x":1764.6283874511714,"y":1493.334457397461,"wires":[["287b73fd.99315c"]]},{"id":"287b73fd.99315c","type":"function","z":"7c6ef140.4ef64","name":"Parsing AVG(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":1951.264404296875,"y":1492.8388671875,"wires":[["cbf4a26d.df9a3","7fd0352c.559b4c"]]},{"id":"7fd0352c.559b4c","type":"ui_text","z":"7c6ef140.4ef64","group":"b7e32566.c935f8","order":6,"width":0,"height":0,"name":"","label":"AVG HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2168.264404296875,"y":1493.8388671875,"wires":[]},{"id":"e66a5ed6.e74","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":2162.264404296875,"y":1355.8388671875,"wires":[]},{"id":"fb0aad1d.b767e","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":2177.264404296875,"y":1447.8388671875,"wires":[]},{"id":"cbf4a26d.df9a3","type":"debug","z":"7c6ef140.4ef64","name":"","active":false,"console":"false","complete":"false","x":2158.264404296875,"y":1539.8388671875,"wires":[]},{"id":"e3b6881b.78fe28","type":"comment","z":"7c6ef140.4ef64","name":"Solving MAX, MIN, AVG HUMIDITY","info":"","x":1180.0568714141846,"y":1263.5397987365723,"wires":[]},{"id":"27b34ddd.360942","type":"ui_button","z":"7c6ef140.4ef64","name":"","group":"96e4befb.4694","order":3,"width":0,"height":0,"passthru":false,"label":"COMPUTING BUTTON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1094.024658203125,"y":1078.0262451171875,"wires":[["db59b1b8.f5075","30179dbd.4fc8c2","1476e06d.6973e"]]},{"id":"514825a9.aa258c","type":"ui_button","z":"7c6ef140.4ef64","name":"","group":"b7e32566.c935f8","order":3,"width":0,"height":0,"passthru":false,"label":"COMPUTING BUTTON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1103.1314086914062,"y":1410.8616123199463,"wires":[["d618bc39.6b9d8","159ab1f8.96985e","18151b50.7024e5"]]},{"id":"57f2f3e9.d38a8c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"96e4befb.4694","type":"ui_group","z":"","name":"Temperature","tab":"d52f4c1.53d79b","order":1,"disp":true,"width":"6"},{"id":"b7e32566.c935f8","type":"ui_group","z":"","name":"Humidity","tab":"d52f4c1.53d79b","order":2,"disp":true,"width":"6"},{"id":"8d3ac107.a47ab","type":"ui_group","z":"","name":"SQLite with ESP8266","tab":"d52f4c1.53d79b","order":3,"disp":true,"width":"6"},{"id":"42701f1c.44754","type":"ui_group","z":"","name":"Query Commander","tab":"d52f4c1.53d79b","order":4,"disp":true,"width":"6"},{"id":"6ca9e199.f52a3","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteEsp"},{"id":"54eb8659.3a1e08","type":"ui_group","z":"","name":"ARCHITECTURE","tab":"d52f4c1.53d79b","order":5,"disp":true,"width":"6"},{"id":"a1296cd7.cbe2c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d52f4c1.53d79b","type":"ui_tab","z":"","name":"ESP8266 with DHT11","icon":"dashboard","order":4}]
