02_CodeFiles/10_ESP8266-01/02_Codes/SQLiteWithESP8266-01DHT_Node-RED_Ver_0.2.txt
[{"id":"8ce61e13.1b5f9","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":712,"y":418,"wires":[]},{"id":"fb641e26.87e1e","type":"ui_gauge","z":"53b6f2e6.47e18c","name":"Temperature [°C]","group":"43ca2768.88beb8","order":1,"width":"","height":"","gtype":"gage","title":"","label":"[°C]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":727.5077590942383,"y":342.48952865600586,"wires":[]},{"id":"dca777d8.bc24a8","type":"ui_gauge","z":"53b6f2e6.47e18c","name":"Humidity [%]","group":"dc0f7e51.66c23","order":1,"width":"","height":"","gtype":"gage","title":"Humidity","label":"[ % ]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.3975143432617,"y":595.1110954284668,"wires":[]},{"id":"13cb511b.761fef","type":"ui_chart","z":"53b6f2e6.47e18c","name":"Temperature [°C]","group":"43ca2768.88beb8","order":2,"width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":729.6474876403809,"y":379.61108684539795,"wires":[[],[]]},{"id":"8254ffdf.97a44","type":"ui_chart","z":"53b6f2e6.47e18c","name":"Humidity [%]","group":"dc0f7e51.66c23","order":2,"width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":707.6475143432617,"y":631.3611106872559,"wires":[[],[]]},{"id":"8d28edb1.ee012","type":"comment","z":"53b6f2e6.47e18c","name":"Temperature & Humidity - Gauge & Chart","info":"","x":219.98703002929688,"y":60.777679443359375,"wires":[]},{"id":"1f81ae64.2bd9c2","type":"inject","z":"53b6f2e6.47e18c","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL, HUM INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1599,"y":486,"wires":[["64a16151.4f2e3"]]},{"id":"c01e14bb.5fa108","type":"inject","z":"53b6f2e6.47e18c","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1637.749942779541,"y":658.0000343322754,"wires":[["b119da10.a6f8f8"]]},{"id":"d40a3aac.0fa3c8","type":"inject","z":"53b6f2e6.47e18c","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1632.9692611694336,"y":614.7500801086426,"wires":[["64a16151.4f2e3"]]},{"id":"6b79bb98.d8fe84","type":"inject","z":"53b6f2e6.47e18c","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1633.2499046325684,"y":573.5000705718994,"wires":[["64a16151.4f2e3"]]},{"id":"7a37edca.c7d9f4","type":"ui_button","z":"53b6f2e6.47e18c","name":"","group":"84db8a02.817db8","order":3,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1611.3352584838867,"y":447.797682762146,"wires":[["64a16151.4f2e3"]]},{"id":"99e1e115.66ac1","type":"ui_template","z":"53b6f2e6.47e18c","group":"84db8a02.817db8","name":"UI Table","order":4,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>T[°C]</th>\n <th>H[%]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n <td>{{msg.payload[$index].HUM}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2070,"y":657,"wires":[[]]},{"id":"f80bc94b.24a088","type":"ui_text_input","z":"53b6f2e6.47e18c","name":"","label":"","group":"b15834a7.882e78","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1515.8506088256836,"y":705.6053838729858,"wires":[["f93e13de.d47db"]]},{"id":"e59e34a9.2a5928","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2100.6182708740234,"y":748.148344039917,"wires":[]},{"id":"f93e13de.d47db","type":"function","z":"53b6f2e6.47e18c","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1667.9589157104492,"y":705.9274368286133,"wires":[["31bd1fb0.da851"]]},{"id":"3d1ff84b.80aa68","type":"ui_template","z":"53b6f2e6.47e18c","group":"b15834a7.882e78","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2108.4386978149414,"y":705.5517110824585,"wires":[["5f2fef4a.518cc"]]},{"id":"b838441a.fa2738","type":"ui_template","z":"53b6f2e6.47e18c","group":"b15834a7.882e78","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n<P></P>\n<p>SELECT * FROM HOME WHERE LOCAL BETWEEN '20171217222634' AND '20171217222708'</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2086.77197265625,"y":793.885009765625,"wires":[[]]},{"id":"5f2fef4a.518cc","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2287,"y":711,"wires":[]},{"id":"64a16151.4f2e3","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"d61553d1.dc074","name":"","x":1898,"y":531,"wires":[[]]},{"id":"b119da10.a6f8f8","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"d61553d1.dc074","name":"","x":1866,"y":658,"wires":[["99e1e115.66ac1"]]},{"id":"31bd1fb0.da851","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"d61553d1.dc074","name":"","x":1883,"y":707,"wires":[["3d1ff84b.80aa68","e59e34a9.2a5928"]]},{"id":"c8c1a5cc.9b10c8","type":"ui_template","z":"53b6f2e6.47e18c","group":"6c774ba1.407634","name":"","order":1,"width":"0","height":"0","format":"<img src=\"https://github.com/leehaesung/NodeRED/raw/master/02_CodeFiles/10_ESP8266-01/01_Images/ESP8266_DHT11.jpg\" height=\"400\" width=\"450\" >","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":320,"y":140,"wires":[[]]},{"id":"32e2d13.b8c2e2e","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":742,"y":511,"wires":[]},{"id":"1a2e2d4.ab2f3d3","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":722,"y":725,"wires":[]},{"id":"bed350d6.761e","type":"moment","z":"53b6f2e6.47e18c","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":1023,"y":265,"wires":[["61c17155.9187d"]]},{"id":"61c17155.9187d","type":"function","z":"53b6f2e6.47e18c","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":1082,"y":316,"wires":[["76872894.be9de8","de7dcc1d.4ffcc"]]},{"id":"72fbb5ea.938d3c","type":"function","z":"53b6f2e6.47e18c","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \", \" + hum + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1549,"y":533,"wires":[["64a16151.4f2e3"]]},{"id":"76872894.be9de8","type":"function","z":"53b6f2e6.47e18c","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":369,"wires":[["dc8f0e01.9d9a2"]]},{"id":"dc8f0e01.9d9a2","type":"join","z":"53b6f2e6.47e18c","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","x":1360,"y":533,"wires":[["72fbb5ea.938d3c","d514d28a.e0c4f"]]},{"id":"6525ca07.67ee74","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":1008,"y":1214,"wires":[]},{"id":"5439d2a7.5cea6c","type":"ui_text","z":"53b6f2e6.47e18c","group":"84db8a02.817db8","order":2,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":1464,"y":315,"wires":[]},{"id":"de7dcc1d.4ffcc","type":"function","z":"53b6f2e6.47e18c","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":1294,"y":315,"wires":[["5439d2a7.5cea6c"]]},{"id":"fc6bef00.bca1","type":"function","z":"53b6f2e6.47e18c","name":"Timestamp","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":415,"wires":[["dc8f0e01.9d9a2"]]},{"id":"d514d28a.e0c4f","type":"function","z":"53b6f2e6.47e18c","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar pre = msg.payload.pressure;\nvar device = msg.payload.device;\n\nmsg.payload = {'data':{device,time,local,temp,hum,pre}};\n\nreturn msg;","outputs":1,"noerr":0,"x":958,"y":1154,"wires":[["6525ca07.67ee74","9813b17e.db711"]]},{"id":"9813b17e.db711","type":"mqtt out","z":"53b6f2e6.47e18c","name":"","topic":"esp8266sqlite","qos":"2","retain":"","broker":"75e59c72.610114","x":1178,"y":1154,"wires":[]},{"id":"7f69c0c1.70afa","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"7ffea772.d6c398","name":"","x":1868,"y":854,"wires":[["485f9cce.ff3354"]]},{"id":"2fc77629.e2111a","type":"function","z":"53b6f2e6.47e18c","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1658,"y":854,"wires":[["7f69c0c1.70afa"]]},{"id":"485f9cce.ff3354","type":"json","z":"53b6f2e6.47e18c","name":"","pretty":false,"x":2074.3639831542964,"y":853.4955902099607,"wires":[["24a9b818.8145e8"]]},{"id":"24a9b818.8145e8","type":"function","z":"53b6f2e6.47e18c","name":"Parsing MAX(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2271,"y":853,"wires":[["ca25b62a.0ba688","3d5bd21e.ee0ede"]]},{"id":"ca25b62a.0ba688","type":"ui_text","z":"53b6f2e6.47e18c","group":"43ca2768.88beb8","order":3,"width":0,"height":0,"name":"","label":"MAX TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2498,"y":853,"wires":[]},{"id":"82ddbf3c.50b0b","type":"inject","z":"53b6f2e6.47e18c","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":1331.4715220133462,"y":949.8808771769202,"wires":[["2fc77629.e2111a","dafdeef1.cedb9","9f9d420.a5b17c","32d94edf.333d62","5c4eb520.f145ac","174e0129.5dd94f"]]},{"id":"36c62b21.c3a3f4","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"7ffea772.d6c398","name":"","x":1868,"y":945,"wires":[["ff74bb94.804488"]]},{"id":"dafdeef1.cedb9","type":"function","z":"53b6f2e6.47e18c","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1658,"y":945,"wires":[["36c62b21.c3a3f4"]]},{"id":"ff74bb94.804488","type":"json","z":"53b6f2e6.47e18c","name":"","pretty":false,"x":2074.3639831542964,"y":944.4955902099607,"wires":[["43001bb7.eacad4"]]},{"id":"43001bb7.eacad4","type":"function","z":"53b6f2e6.47e18c","name":"Parsing MIN(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2271,"y":944,"wires":[["9d70583b.1d0fc8","182a812e.22e1bf"]]},{"id":"9d70583b.1d0fc8","type":"ui_text","z":"53b6f2e6.47e18c","group":"43ca2768.88beb8","order":4,"width":0,"height":0,"name":"","label":"MIN  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2518,"y":945,"wires":[]},{"id":"b9260ac1.845338","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"7ffea772.d6c398","name":"","x":1869,"y":1032,"wires":[["75b4826c.ec0b5c"]]},{"id":"9f9d420.a5b17c","type":"function","z":"53b6f2e6.47e18c","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1659,"y":1032,"wires":[["b9260ac1.845338"]]},{"id":"75b4826c.ec0b5c","type":"json","z":"53b6f2e6.47e18c","name":"","pretty":false,"x":2075.3639831542964,"y":1031.495590209961,"wires":[["dca4732c.03638"]]},{"id":"dca4732c.03638","type":"function","z":"53b6f2e6.47e18c","name":"Parsing AVG(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2272,"y":1031,"wires":[["d7ff4e03.01a32","d36edb3.28b5028"]]},{"id":"d36edb3.28b5028","type":"ui_text","z":"53b6f2e6.47e18c","group":"43ca2768.88beb8","order":5,"width":0,"height":0,"name":"","label":"AVG  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2499,"y":1032,"wires":[]},{"id":"3d5bd21e.ee0ede","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2473,"y":894,"wires":[]},{"id":"182a812e.22e1bf","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2488,"y":986,"wires":[]},{"id":"d7ff4e03.01a32","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2469,"y":1078,"wires":[]},{"id":"f1949cea.5a3b5","type":"comment","z":"53b6f2e6.47e18c","name":"Solving MAX, MIN, AVG TEMP","info":"","x":1480.7924671173096,"y":801.7009315490723,"wires":[]},{"id":"9b8a4b00.afd208","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"7ffea772.d6c398","name":"","x":1877.7369384765625,"y":1182.3333740234375,"wires":[["c4267892.584298"]]},{"id":"32d94edf.333d62","type":"function","z":"53b6f2e6.47e18c","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1667.7369384765625,"y":1182.3333740234375,"wires":[["9b8a4b00.afd208"]]},{"id":"c4267892.584298","type":"json","z":"53b6f2e6.47e18c","name":"","pretty":false,"x":2084.100921630859,"y":1181.8289642333982,"wires":[["b159d4bc.c24238"]]},{"id":"b159d4bc.c24238","type":"function","z":"53b6f2e6.47e18c","name":"Parsing MAX(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2270.7369384765625,"y":1181.3333740234375,"wires":[["1b388666.960eca","87de3921.a55668"]]},{"id":"1b388666.960eca","type":"ui_text","z":"53b6f2e6.47e18c","group":"dc0f7e51.66c23","order":3,"width":0,"height":0,"name":"","label":"MAX HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2497.7369384765625,"y":1181.3333740234375,"wires":[]},{"id":"57bdabe.1713854","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"7ffea772.d6c398","name":"","x":1877.7369384765625,"y":1273.3333740234375,"wires":[["563e1ffe.223a4"]]},{"id":"5c4eb520.f145ac","type":"function","z":"53b6f2e6.47e18c","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1667.7369384765625,"y":1273.3333740234375,"wires":[["57bdabe.1713854"]]},{"id":"563e1ffe.223a4","type":"json","z":"53b6f2e6.47e18c","name":"","pretty":false,"x":2084.100921630859,"y":1272.8289642333982,"wires":[["8c11e46d.a1a7a8"]]},{"id":"8c11e46d.a1a7a8","type":"function","z":"53b6f2e6.47e18c","name":"Parsing MIN(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2270.7369384765625,"y":1272.3333740234375,"wires":[["c5bddd2c.58d6f","c634a3e9.78ace"]]},{"id":"c5bddd2c.58d6f","type":"ui_text","z":"53b6f2e6.47e18c","group":"dc0f7e51.66c23","order":4,"width":0,"height":0,"name":"","label":"MIN HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2507.7369384765625,"y":1273.3333740234375,"wires":[]},{"id":"8fa0513e.7872b","type":"sqlite","z":"53b6f2e6.47e18c","mydb":"7ffea772.d6c398","name":"","x":1878.7369384765625,"y":1360.3333740234375,"wires":[["727d6fe.cad3a9"]]},{"id":"174e0129.5dd94f","type":"function","z":"53b6f2e6.47e18c","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(HUM) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1668.7369384765625,"y":1360.3333740234375,"wires":[["8fa0513e.7872b"]]},{"id":"727d6fe.cad3a9","type":"json","z":"53b6f2e6.47e18c","name":"","pretty":false,"x":2085.100921630859,"y":1359.8289642333984,"wires":[["99193745.28a618"]]},{"id":"99193745.28a618","type":"function","z":"53b6f2e6.47e18c","name":"Parsing AVG(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2271.7369384765625,"y":1359.3333740234375,"wires":[["49571018.bea6b","d20fe673.fa5f68"]]},{"id":"d20fe673.fa5f68","type":"ui_text","z":"53b6f2e6.47e18c","group":"dc0f7e51.66c23","order":5,"width":0,"height":0,"name":"","label":"AVG HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2488.7369384765625,"y":1360.3333740234375,"wires":[]},{"id":"87de3921.a55668","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2482.7369384765625,"y":1222.3333740234375,"wires":[]},{"id":"c634a3e9.78ace","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2497.7369384765625,"y":1314.3333740234375,"wires":[]},{"id":"49571018.bea6b","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":2478.7369384765625,"y":1406.3333740234375,"wires":[]},{"id":"5b4be277.72725c","type":"comment","z":"53b6f2e6.47e18c","name":"Solving MAX, MIN, AVG HUMIDITY","info":"","x":1500.529405593872,"y":1130.0343055725098,"wires":[]},{"id":"7aad8ba.1d5fd74","type":"mqtt in","z":"53b6f2e6.47e18c","name":"","topic":"esp8266-01","qos":"2","broker":"b79ac32e.ca813","x":129,"y":343,"wires":[["192bb7c7.c0a928"]]},{"id":"6e899c9.10c8964","type":"debug","z":"53b6f2e6.47e18c","name":"","active":false,"console":"false","complete":"false","x":129,"y":403,"wires":[]},{"id":"192bb7c7.c0a928","type":"json","z":"53b6f2e6.47e18c","name":"","pretty":false,"x":272,"y":343,"wires":[["6e899c9.10c8964","c906a1e2.a1708","c2c461c7.7df7b","cd72194e.db8f88"]]},{"id":"c906a1e2.a1708","type":"function","z":"53b6f2e6.47e18c","name":"Parsing Device","func":"msg.payload = msg.payload.sensor;\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":860,"wires":[["48634a4f.a28d84","e7fea448.d36f18"]]},{"id":"c2c461c7.7df7b","type":"function","z":"53b6f2e6.47e18c","name":"Parsing Temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":340,"wires":[["7a5a5c06.1b41a4","fb641e26.87e1e","13cb511b.761fef","8ce61e13.1b5f9"]]},{"id":"cd72194e.db8f88","type":"function","z":"53b6f2e6.47e18c","name":"Parsing Humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":503,"y":595,"wires":[["579733d3.2c54bc","dca777d8.bc24a8","8254ffdf.97a44"]]},{"id":"48634a4f.a28d84","type":"function","z":"53b6f2e6.47e18c","name":"Making Device Obj","func":"msg.payload = {'device':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":860,"wires":[["dc8f0e01.9d9a2"]]},{"id":"7a5a5c06.1b41a4","type":"function","z":"53b6f2e6.47e18c","name":"Making Temperature Obj","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":460,"wires":[["32e2d13.b8c2e2e","fc6bef00.bca1","bed350d6.761e","dc8f0e01.9d9a2"]]},{"id":"579733d3.2c54bc","type":"function","z":"53b6f2e6.47e18c","name":"Making Humidity Obj","func":"msg.payload = {'humidity':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":732,"y":673,"wires":[["1a2e2d4.ab2f3d3","dc8f0e01.9d9a2"]]},{"id":"e7fea448.d36f18","type":"ui_text","z":"53b6f2e6.47e18c","group":"84db8a02.817db8","order":1,"width":0,"height":0,"name":"","label":"device:","format":"{{msg.payload}}","layout":"row-spread","x":692,"y":820,"wires":[]},{"id":"a1383814.ddd8b8","type":"comment","z":"53b6f2e6.47e18c","name":"From Senosr to AWS","info":"","x":1008,"y":1100,"wires":[]},{"id":"43ca2768.88beb8","type":"ui_group","z":"","name":"Temperature","tab":"baa1b526.a8c0f8","order":1,"disp":true,"width":"6"},{"id":"dc0f7e51.66c23","type":"ui_group","z":"","name":"Humidity","tab":"baa1b526.a8c0f8","order":2,"disp":true,"width":"6"},{"id":"84db8a02.817db8","type":"ui_group","z":"","name":"SQLite with ESP8266","tab":"baa1b526.a8c0f8","order":3,"disp":true,"width":"6"},{"id":"b15834a7.882e78","type":"ui_group","z":"","name":"Query Commander","tab":"baa1b526.a8c0f8","order":4,"disp":true,"width":"6"},{"id":"d61553d1.dc074","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteEsp"},{"id":"6c774ba1.407634","type":"ui_group","z":"","name":"ARCHITECTURE","tab":"baa1b526.a8c0f8","order":5,"disp":true,"width":"8"},{"id":"75e59c72.610114","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7ffea772.d6c398","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteEsp"},{"id":"b79ac32e.ca813","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"baa1b526.a8c0f8","type":"ui_tab","z":"","name":"ESP8266 with DHT11","icon":"dashboard","order":7}]
