02_CodeFiles/13_ARTIK/02_Codes/00_ARTIK710-System_NodeRED.txt
[{"id":"d8f31c4e.8cc09","type":"inject","z":"20b2a691.e860aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":195.01095581054688,"y":184.4328374862671,"wires":[["736fcbf9.d63df4"]]},{"id":"457cd6bc.370e68","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":610,"y":170,"wires":[]},{"id":"736fcbf9.d63df4","type":"exec","z":"20b2a691.e860aa","command":"shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo shutdown -h now","x":395.0109558105469,"y":184.4328374862671,"wires":[["457cd6bc.370e68"],[],[]]},{"id":"a5aa6705.8fae98","type":"ui_button","z":"20b2a691.e860aa","name":"","group":"792b991d.86f6f8","order":4,"width":0,"height":0,"passthru":false,"label":"Turn Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":167.1816520690918,"y":142.03526544570923,"wires":[["736fcbf9.d63df4"]]},{"id":"f77d6df0.4caa1","type":"inject","z":"20b2a691.e860aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":900,"y":180,"wires":[["f23afc0e.a9e05"]]},{"id":"ed0faef7.a7eee","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":1271.2857971191406,"y":174.5714874267578,"wires":[]},{"id":"f23afc0e.a9e05","type":"exec","z":"20b2a691.e860aa","command":"reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo reboot","x":1070,"y":180,"wires":[["ed0faef7.a7eee"],[],[]]},{"id":"35492155.7cf39e","type":"ui_button","z":"20b2a691.e860aa","name":"","group":"792b991d.86f6f8","order":5,"width":0,"height":0,"passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":872.1706962585449,"y":145.60242795944214,"wires":[["f23afc0e.a9e05"]]},{"id":"1bc794cc.e2d83b","type":"comment","z":"20b2a691.e860aa","name":"System will turn off","info":"","x":144.8409652709961,"y":51.999999046325684,"wires":[]},{"id":"ed816ca6.e1fa8","type":"comment","z":"20b2a691.e860aa","name":"System will reboot","info":"","x":846.574951171875,"y":55.34051513671875,"wires":[]},{"id":"249af4e1.dcf9ac","type":"comment","z":"20b2a691.e860aa","name":"Ping","info":"","x":1470,"y":60,"wires":[]},{"id":"76da5988.a1f438","type":"ping","z":"20b2a691.e860aa","name":"","host":"192.168.0.39","timer":"5","x":1525.7932226998464,"y":110.93277359008789,"wires":[["649ae9e7.d28fe8","24aedf79.d8c68","e94584e2.5a4b08"]]},{"id":"649ae9e7.d28fe8","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":1770.7882559640066,"y":111.35533142089844,"wires":[]},{"id":"24aedf79.d8c68","type":"ui_gauge","z":"20b2a691.e860aa","name":"","group":"78c60162.d01c7","order":1,"width":0,"height":0,"gtype":"gage","title":"Ping","label":"ms","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1754.7882941109792,"y":198.59068775177002,"wires":[]},{"id":"239330da.cabdf","type":"inject","z":"20b2a691.e860aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":190,"y":315,"wires":[["7a8ec0fd.103f1","aae950a0.cc74e","29e10668.a9157a"]]},{"id":"7a8ec0fd.103f1","type":"exec","z":"20b2a691.e860aa","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"measure_temp","useSpawn":"true","timer":"","oldrc":false,"name":"getCPUtemp","x":365.4602584838867,"y":315.4602192470006,"wires":[["4341e62b.e920f8","1bf6c350.66738d"],[],[]]},{"id":"4341e62b.e920f8","type":"function","z":"20b2a691.e860aa","name":"CPU Temp Function","func":"context.global.cputemp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\nvar temp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\nmsg.payload = temp.toString().substr(0, 4);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":562.0475616455078,"y":315.7142475673131,"wires":[["e7c064df.96c8c8","133045be.d58fba","b656b0ef.eea2c","c9faf20b.9763f","7c388b20.805884"]]},{"id":"b813e629.08bd58","type":"comment","z":"20b2a691.e860aa","name":"Measuring CPU's Temperature For Jetson TX2","info":"","x":224,"y":269,"wires":[]},{"id":"e7c064df.96c8c8","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":775.5101356506348,"y":315.3251051902771,"wires":[]},{"id":"133045be.d58fba","type":"ui_gauge","z":"20b2a691.e860aa","name":"","group":"e8a6d016.a0691","order":1,"width":0,"height":0,"gtype":"gage","title":"ARTIK-710 CPU","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":785.6548805236816,"y":361.2680997848511,"wires":[]},{"id":"b656b0ef.eea2c","type":"ui_chart","z":"20b2a691.e860aa","name":"","group":"e8a6d016.a0691","order":2,"width":"0","height":"0","label":"ARTIK-710 CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":838.6869411468506,"y":404.9794569015503,"wires":[[],[]]},{"id":"87f1e430.cc1c48","type":"file","z":"20b2a691.e860aa","name":"","filename":"/root/ARTIK710CPU_temperature.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":864,"y":501.999960899353,"wires":[]},{"id":"1bf6c350.66738d","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":544,"y":354.999960899353,"wires":[]},{"id":"e94584e2.5a4b08","type":"mqtt out","z":"20b2a691.e860aa","name":"ARTKI710 Ping","topic":"arktikPing","qos":"2","retain":"","broker":"ac777589.5e5348","x":1788.0695841653005,"y":148.4261598587036,"wires":[]},{"id":"c9faf20b.9763f","type":"mqtt out","z":"20b2a691.e860aa","name":"","topic":"artikcputemp","qos":"2","retain":"","broker":"ac777589.5e5348","x":780.289623260498,"y":448.48370265960693,"wires":[]},{"id":"e19ae60d.c80348","type":"mqtt in","z":"20b2a691.e860aa","name":"","topic":"turnoffArtik","qos":"2","broker":"ac777589.5e5348","x":167.2971534729004,"y":90.2650842666626,"wires":[["736fcbf9.d63df4"]]},{"id":"2456be70.5f78b2","type":"mqtt in","z":"20b2a691.e860aa","name":"","topic":"rebootArtik","qos":"2","broker":"ac777589.5e5348","x":876.7915496826172,"y":97.88286018371582,"wires":[["f23afc0e.a9e05"]]},{"id":"85bc972d.f30bb8","type":"ping","z":"20b2a691.e860aa","name":"","host":"192.168.0.60","timer":"5","x":1529.222559247698,"y":150.93553256988525,"wires":[["649ae9e7.d28fe8","e94584e2.5a4b08","24aedf79.d8c68"]]},{"id":"31fc8a3d.cf7826","type":"ping","z":"20b2a691.e860aa","name":"","host":"192.168.0.45","timer":"20","x":1530.1017020089284,"y":188.13155460357666,"wires":[["649ae9e7.d28fe8","e94584e2.5a4b08","24aedf79.d8c68"]]},{"id":"4e0b1105.81e7b","type":"ping","z":"20b2a691.e860aa","name":"","host":"10.42.0.33","timer":"20","x":1517.9270041329519,"y":228.28777408599854,"wires":[["649ae9e7.d28fe8","e94584e2.5a4b08","24aedf79.d8c68"]]},{"id":"52487100.1f6d","type":"ping","z":"20b2a691.e860aa","name":"","host":"172.20.10.8","timer":"20","x":1533.008837018694,"y":267.5262384414673,"wires":[["649ae9e7.d28fe8","e94584e2.5a4b08","24aedf79.d8c68"]]},{"id":"9ff0b005.6d217","type":"inject","z":"20b2a691.e860aa","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1255.9890441894531,"y":682.5671234130859,"wires":[["17118d96.247e92"]]},{"id":"7a6c031f.65ee3c","type":"inject","z":"20b2a691.e860aa","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1294.7389869689941,"y":854.5671577453613,"wires":[["42b43ab.e4604c4"]]},{"id":"2f4b7abc.d31e56","type":"inject","z":"20b2a691.e860aa","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1289.9583053588867,"y":811.3172035217285,"wires":[["17118d96.247e92"]]},{"id":"a2f1e93.699d818","type":"inject","z":"20b2a691.e860aa","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1290.2389488220215,"y":770.0671939849854,"wires":[["17118d96.247e92"]]},{"id":"aae950a0.cc74e","type":"moment","z":"20b2a691.e860aa","name":"","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":381.9890441894531,"y":590.5671234130859,"wires":[["70d3b1d0.823aa"]]},{"id":"487e5871.f18698","type":"ui_text","z":"20b2a691.e860aa","group":"7a224bf0.2daef4","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":972.9890441894531,"y":589.5671234130859,"wires":[]},{"id":"2795411a.8f9b0e","type":"ui_button","z":"20b2a691.e860aa","name":"","group":"7a224bf0.2daef4","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1268.3243026733398,"y":644.3648061752319,"wires":[["17118d96.247e92"]]},{"id":"d7f7efef.e142d","type":"comment","z":"20b2a691.e860aa","name":"SQLite Part","info":"","x":1232.9890441894531,"y":565.5671234130859,"wires":[]},{"id":"ace22ad.46304d8","type":"ui_template","z":"20b2a691.e860aa","group":"7a224bf0.2daef4","name":"UI Table","order":3,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>TEMP [°C]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1669.9890441894531,"y":853.5671234130859,"wires":[[]]},{"id":"42b43ab.e4604c4","type":"sqlite","z":"20b2a691.e860aa","mydb":"c9f246c7.f099f8","name":"","x":1471.9890441894531,"y":853.5671234130859,"wires":[["ace22ad.46304d8"]]},{"id":"4ebea69b.d1f9f8","type":"mqtt out","z":"20b2a691.e860aa","name":"","topic":"ARTIK710CpuTemp","qos":"2","retain":"","broker":"9049a66c.1841d8","x":1349.9890441894531,"y":955.5671234130859,"wires":[]},{"id":"c8f45700.6f53a8","type":"sqlite","z":"20b2a691.e860aa","mydb":"c9f246c7.f099f8","name":"","x":1494.9890441894531,"y":902.5671234130859,"wires":[["43397840.4892c8","c113f005.3c3f9"]]},{"id":"3d9ad5a1.92317a","type":"ui_text_input","z":"20b2a691.e860aa","name":"","label":"","group":"46bd6205.b4b83c","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1172.8396530151367,"y":902.1725072860718,"wires":[["33bc61c.f40c09e"]]},{"id":"43397840.4892c8","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":1714.6073150634766,"y":944.7154674530029,"wires":[]},{"id":"33bc61c.f40c09e","type":"function","z":"20b2a691.e860aa","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1324.9479598999023,"y":902.4945602416992,"wires":[["c8f45700.6f53a8"]]},{"id":"c113f005.3c3f9","type":"ui_template","z":"20b2a691.e860aa","group":"46bd6205.b4b83c","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1722.4277420043945,"y":902.1188344955444,"wires":[[]]},{"id":"1b370544.60975b","type":"ui_template","z":"20b2a691.e860aa","group":"46bd6205.b4b83c","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1700.7610168457031,"y":990.4521331787109,"wires":[[]]},{"id":"17118d96.247e92","type":"sqlite","z":"20b2a691.e860aa","mydb":"c9f246c7.f099f8","name":"","x":1530.9890441894531,"y":724.5671234130859,"wires":[[]]},{"id":"29e10668.a9157a","type":"function","z":"20b2a691.e860aa","name":"Timestamp Object","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":799.9890441894531,"y":723.5671234130859,"wires":[["966d6440.b29718","fc84dbd8.291678"]]},{"id":"7c388b20.805884","type":"function","z":"20b2a691.e860aa","name":"Parsing Temperature","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":804.9890441894531,"y":812.5671234130859,"wires":[["a703d936.117d68","fc84dbd8.291678"]]},{"id":"70d3b1d0.823aa","type":"function","z":"20b2a691.e860aa","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":593.9890441894531,"y":590.5671234130859,"wires":[["11dd9369.7e857d","9640e9e.073b418","4c64278e.92f9b8"]]},{"id":"4c64278e.92f9b8","type":"function","z":"20b2a691.e860aa","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":805.9890441894531,"y":589.5671234130859,"wires":[["487e5871.f18698"]]},{"id":"9640e9e.073b418","type":"function","z":"20b2a691.e860aa","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":804.9890441894531,"y":631.5671234130859,"wires":[["8adc7300.7dec6","fc84dbd8.291678"]]},{"id":"11dd9369.7e857d","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":830,"y":550,"wires":[]},{"id":"8adc7300.7dec6","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":854.9890441894531,"y":679.5671234130859,"wires":[]},{"id":"966d6440.b29718","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":854.9890441894531,"y":769.5671234130859,"wires":[]},{"id":"a703d936.117d68","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":854.9890441894531,"y":866.5671234130859,"wires":[]},{"id":"fc84dbd8.291678","type":"join","z":"20b2a691.e860aa","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":1054.9890441894531,"y":723.5671234130859,"wires":[["9a05717a.6f658","6dd3045c.6fa11c"]]},{"id":"9881fb57.854e88","type":"debug","z":"20b2a691.e860aa","name":"","active":false,"console":"false","complete":"false","x":1299.9890441894531,"y":1015.5671234130859,"wires":[]},{"id":"6dd3045c.6fa11c","type":"function","z":"20b2a691.e860aa","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\n//var hum = msg.payload.humidity;\n//var pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1225.9890441894531,"y":722.5671234130859,"wires":[["17118d96.247e92"]]},{"id":"9a05717a.6f658","type":"function","z":"20b2a691.e860aa","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\n\nmsg.payload = {'data':{time,local,temp}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1129.9890441894531,"y":955.5671234130859,"wires":[["9881fb57.854e88","4ebea69b.d1f9f8"]]},{"id":"499d99c0.ce8cc8","type":"sqlite","z":"20b2a691.e860aa","mydb":"c9f246c7.f099f8","name":"","x":1478.9890441894531,"y":1062.567123413086,"wires":[["e09a553d.d25708"]]},{"id":"c8fed05e.bb476","type":"function","z":"20b2a691.e860aa","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1314.9890441894531,"y":1062.567123413086,"wires":[["499d99c0.ce8cc8"]]},{"id":"e09a553d.d25708","type":"json","z":"20b2a691.e860aa","name":"","pretty":false,"x":1637.3530273437495,"y":1062.0627136230466,"wires":[["38379c3e.79fc94"]]},{"id":"38379c3e.79fc94","type":"function","z":"20b2a691.e860aa","name":"Parsing MAX(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1812.9890441894531,"y":1061.567123413086,"wires":[["a075748b.335118"]]},{"id":"a075748b.335118","type":"ui_text","z":"20b2a691.e860aa","group":"e8a6d016.a0691","order":3,"width":0,"height":0,"name":"","label":"MAX TEMP:","format":"{{msg.payload}}","layout":"row-spread","x":1997.9890441894531,"y":1061.567123413086,"wires":[]},{"id":"1511a297.d894dd","type":"inject","z":"20b2a691.e860aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1162.4605662027993,"y":1062.4480005900061,"wires":[["c8fed05e.bb476","966702a2.c3e44","f37abc63.d6a2f"]]},{"id":"58c132be.3318bc","type":"sqlite","z":"20b2a691.e860aa","mydb":"c9f246c7.f099f8","name":"","x":1478.9890441894531,"y":1104.567123413086,"wires":[["4b924c25.a26804"]]},{"id":"966702a2.c3e44","type":"function","z":"20b2a691.e860aa","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1314.9890441894531,"y":1104.567123413086,"wires":[["58c132be.3318bc"]]},{"id":"4b924c25.a26804","type":"json","z":"20b2a691.e860aa","name":"","pretty":false,"x":1637.3530273437495,"y":1104.0627136230466,"wires":[["50515337.63662c"]]},{"id":"50515337.63662c","type":"function","z":"20b2a691.e860aa","name":"Parsing MIN(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1812.9890441894531,"y":1103.567123413086,"wires":[["4b4afcb2.fa7c94"]]},{"id":"4b4afcb2.fa7c94","type":"ui_text","z":"20b2a691.e860aa","group":"e8a6d016.a0691","order":4,"width":0,"height":0,"name":"","label":"MIN TEMP:","format":"{{msg.payload}}","layout":"row-spread","x":2005.9890441894531,"y":1104.567123413086,"wires":[]},{"id":"79e492fc.3d00cc","type":"sqlite","z":"20b2a691.e860aa","mydb":"c9f246c7.f099f8","name":"","x":1479.9890441894531,"y":1152.567123413086,"wires":[["df042eca.6c508"]]},{"id":"f37abc63.d6a2f","type":"function","z":"20b2a691.e860aa","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1315.9890441894531,"y":1152.567123413086,"wires":[["79e492fc.3d00cc"]]},{"id":"df042eca.6c508","type":"json","z":"20b2a691.e860aa","name":"","pretty":false,"x":1638.3530273437495,"y":1152.0627136230469,"wires":[["9f9b2c16.84ece"]]},{"id":"9f9b2c16.84ece","type":"function","z":"20b2a691.e860aa","name":"Parsing AVG(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1813.9890441894531,"y":1151.567123413086,"wires":[["c2b257f1.1e90c8"]]},{"id":"c2b257f1.1e90c8","type":"ui_text","z":"20b2a691.e860aa","group":"e8a6d016.a0691","order":5,"width":0,"height":0,"name":"","label":"AVG TEMP:","format":"{{msg.payload}}","layout":"row-spread","x":1998.9890441894531,"y":1152.567123413086,"wires":[]},{"id":"792b991d.86f6f8","type":"ui_group","z":"","name":"System","tab":"f2e04a78.2a9ba8","order":5,"disp":true,"width":"6"},{"id":"78c60162.d01c7","type":"ui_group","z":"","name":"Internet Speed","tab":"f2e04a78.2a9ba8","order":4,"disp":true,"width":"6"},{"id":"e8a6d016.a0691","type":"ui_group","z":"","name":"CPU Temperature","tab":"f2e04a78.2a9ba8","order":1,"disp":true,"width":"6"},{"id":"ac777589.5e5348","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7a224bf0.2daef4","type":"ui_group","z":"","name":"SQLite DB","tab":"f2e04a78.2a9ba8","order":2,"disp":true,"width":"6"},{"id":"c9f246c7.f099f8","type":"sqlitedb","z":"","db":"/root/sqliteCpu"},{"id":"9049a66c.1841d8","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"46bd6205.b4b83c","type":"ui_group","z":"","name":"Query Commander","tab":"f2e04a78.2a9ba8","order":3,"disp":true,"width":"6"},{"id":"f2e04a78.2a9ba8","type":"ui_tab","z":"","name":"ARTIK-710 System","icon":"dashboard","order":2}]
