02_CodeFiles/13_ARTIK/02_Codes/01_ARTIK710_SensorBoard_NodeRED.txt
[{"id":"318e4839.1ac118","type":"exec","z":"e601478c.8996c8","command":"cat /sys/class/gpio/gpio130/value","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Hall Effect Sensor","x":597.0219116210938,"y":250,"wires":[["a03770ae.e2c49","d496ce3b.a58e9"],[],[]]},{"id":"a03770ae.e2c49","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":830.0219116210938,"y":279,"wires":[]},{"id":"de6ee60c.3d00c8","type":"ui_gauge","z":"e601478c.8996c8","name":"","group":"9062bfda.f1932","order":2,"width":0,"height":0,"gtype":"donut","title":"Hall Effect Sensor","label":"magnet","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":360,"wires":[]},{"id":"3e4fa201.56d1fe","type":"exec","z":"e601478c.8996c8","command":"echo 130 >  /sys/class/gpio/export","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":577.0219116210938,"y":98,"wires":[["b95e8e01.d9736"],[],[]]},{"id":"bbc75b2.d41f4a8","type":"exec","z":"e601478c.8996c8","command":"echo in >  /sys/class/gpio/gpio130/direction","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":737.0219116210938,"y":162,"wires":[["314adc76.c658f4"],[],[]]},{"id":"c4d3f5f1.e55d08","type":"delay","z":"e601478c.8996c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":497.02191162109375,"y":162,"wires":[["bbc75b2.d41f4a8"]]},{"id":"b95e8e01.d9736","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":814.0219116210938,"y":85,"wires":[]},{"id":"314adc76.c658f4","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":987.0219116210938,"y":149,"wires":[]},{"id":"eebdcac.9b81f38","type":"inject","z":"e601478c.8996c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":110,"y":940,"wires":[["3e4fa201.56d1fe","c4d3f5f1.e55d08","af85ac61.df52d","ce5f24cf.aaada8","116bf9b0.c79bb6","27dc43cc.c502dc","42ccbd12.620274","a8daccf1.19df1","88f13a43.883e98"]]},{"id":"6ed93c27.b05ec4","type":"comment","z":"e601478c.8996c8","name":"Hall Effect Sensor","info":"","x":390,"y":40,"wires":[]},{"id":"af85ac61.df52d","type":"exec","z":"e601478c.8996c8","command":"i2cget  -f -y 1 0x5F 0x0F","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":527.0219116210938,"y":470,"wires":[["76af2d6a.962384"],[],[]]},{"id":"f79ad16a.dc9e","type":"comment","z":"e601478c.8996c8","name":"Temperature & Humidity Sensors","info":"","x":390,"y":420,"wires":[]},{"id":"76af2d6a.962384","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":754.0764378138952,"y":457.23167637416293,"wires":[]},{"id":"d30bbf26.9e143","type":"exec","z":"e601478c.8996c8","command":"i2cset -f -y 1 0x5F 0x21 0x80","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":696.6525748116628,"y":524.1809474400111,"wires":[["e5d5d7a3.ef9d98"],[],[]]},{"id":"ce5f24cf.aaada8","type":"delay","z":"e601478c.8996c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":491.02191162109375,"y":524,"wires":[["d30bbf26.9e143"]]},{"id":"e5d5d7a3.ef9d98","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":916.0219116210938,"y":511,"wires":[]},{"id":"4f380b6c.f5da84","type":"exec","z":"e601478c.8996c8","command":"i2cset -f -y 1 0x5F 0x20 0x81","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":695.0219116210938,"y":581,"wires":[["6d1bb72.0d43a48"],[],[]]},{"id":"116bf9b0.c79bb6","type":"delay","z":"e601478c.8996c8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":449.3912010192871,"y":580.8190307617188,"wires":[["4f380b6c.f5da84","c9c69369.8cc61","570b2079.5839a","d7c9b3e3.2a809","f49b46df.483718","8ca12edb.5f8b1"]]},{"id":"6d1bb72.0d43a48","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":916.3912484305247,"y":567.8190525599889,"wires":[]},{"id":"d7c9b3e3.2a809","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5F 0x2A","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":617.0219116210938,"y":811,"wires":[["435a6953.6e2018"],[],[]]},{"id":"3005030a.facbfc","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"payload","x":1371.0219116210938,"y":820,"wires":[]},{"id":"8435d65b.58f538","type":"function","z":"e601478c.8996c8","name":"Retrieving data","func":"// { hb: \"0x01↵\", lb: \"0xb4↵\" }\nvar hb = msg.payload.hb.toString().substr(2, 2);\nvar lb = msg.payload.lb.toString().substr(2, 2);\nmsg.payload = parseFloat((parseInt(\"0x\" + hb + lb)/15.5).toFixed(1));\nreturn msg;\n","outputs":1,"noerr":0,"x":1163.0219116210938,"y":741,"wires":[["3005030a.facbfc","b7123d43.37e49","d2974c27.55801","334db3b7.3b9bec"]]},{"id":"b7123d43.37e49","type":"ui_gauge","z":"e601478c.8996c8","name":"","group":"216e9b3f.d3ef44","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature [ °C ]","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380.0219116210938,"y":741,"wires":[]},{"id":"8ca12edb.5f8b1","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5F 0x28","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":611.8221740722656,"y":1052.7377624511719,"wires":[["ae7f6c79.7c832"],[],[]]},{"id":"e6fdec60.53bcf","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1377.0219116210938,"y":1064,"wires":[]},{"id":"190a907b.79068","type":"function","z":"e601478c.8996c8","name":"Retrieving data","func":"// { hb: \"0x01↵\", lb: \"0xb4↵\" }\nvar hb = msg.payload.hb.toString().substr(2, 2);\nvar lb = msg.payload.lb.toString().substr(2, 2);\nmsg.payload = parseFloat((parseInt(\"0x\" + hb + lb)/800).toFixed(1));\nreturn msg;\n\n\n\n//var b1 = msg.payload.toString().substr(0, 4);\n//var b2 = msg.payload.toString().substr(7, 2);\n//var bt = b1.concat(b2);\n\n//msg.payload = bt;\n//msg.payload = (parseInt(bt)/800).toFixed(2);\n\n//return msg;","outputs":1,"noerr":0,"x":1163.0219116210938,"y":983,"wires":[["e6fdec60.53bcf","41c2eb66.47d534","2001e4c4.c730cc","e0753926.5e5eb8"]]},{"id":"41c2eb66.47d534","type":"ui_gauge","z":"e601478c.8996c8","name":"","group":"9d5483d8.4dfe6","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity [ % ]","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1377.0219116210938,"y":982,"wires":[]},{"id":"9f679b11.1a2548","type":"comment","z":"e601478c.8996c8","name":"Barometric Pressure Sensor","info":"","x":380,"y":1200,"wires":[]},{"id":"27dc43cc.c502dc","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5D 0x0F","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":527.0219116210938,"y":1266,"wires":[["f4204c3e.f9db"],[],[]]},{"id":"f4204c3e.f9db","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":754.0764378138952,"y":1253.2316763741628,"wires":[]},{"id":"c760e070.00652","type":"exec","z":"e601478c.8996c8","command":"i2cset -f -y 1 0x5D 0x21 0xC4","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":715.0219116210938,"y":1320,"wires":[["3d42936d.24ab8c"],[],[]]},{"id":"42ccbd12.620274","type":"delay","z":"e601478c.8996c8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":499.3912484305247,"y":1319.819052559989,"wires":[["c760e070.00652"]]},{"id":"3d42936d.24ab8c","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":948.3912484305247,"y":1306.819052559989,"wires":[]},{"id":"9e7df6c1.ba6948","type":"exec","z":"e601478c.8996c8","command":"i2cset -f -y 1 0x5D 0x20 0x90","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":707.3912484305247,"y":1376.819052559989,"wires":[["de10f1af.e7377"],[],[]]},{"id":"a8daccf1.19df1","type":"delay","z":"e601478c.8996c8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":461.76059341430664,"y":1376.638081073761,"wires":[["9e7df6c1.ba6948","abee30fa.9db9c","95f0edd9.5a60f","7d2ff84.0f33508"]]},{"id":"de10f1af.e7377","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":941.7605852399556,"y":1363.6381051199778,"wires":[]},{"id":"242b4422.554e3c","type":"debug","z":"e601478c.8996c8","name":"","active":true,"console":"false","complete":"true","x":867.0219116210938,"y":1706,"wires":[]},{"id":"afb96b16.6828a8","type":"function","z":"e601478c.8996c8","name":"","func":"// eg 2010612FF590080BC39010020064C00FFFFFFFFFFFF\n\nvar b1 = msg.payload.substr(18, 2);\nvar b2 = msg.payload.substr(20, 2);\nvar t1 = msg.payload.substr(24, 2);\nvar t2 = msg.payload.substr(25, 2);\nmsg.b = parseInt(b2+b1 ,16)/100;\nmsg.t = parseInt(t2+t1 ,16)/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":682.0219116210938,"y":1705,"wires":[["242b4422.554e3c"]]},{"id":"1579d8ef.955237","type":"inject","z":"e601478c.8996c8","name":"","topic":"","payload":"02010612FF590080BC4A0101A10A3F00FFFFFFFFFFFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":494.52191162109375,"y":1703,"wires":[["afb96b16.6828a8"]]},{"id":"abee30fa.9db9c","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5D 0x2A","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":611.0219116210938,"y":1446,"wires":[["ffb6fd1.bf57c"],[],[]]},{"id":"f6b802fe.debae","type":"function","z":"e601478c.8996c8","name":"Retrieving data","func":"// { mb: \"0x53↵\", hb: \"0x3f↵\", lb: \"0x69↵\" }\n\nvar hb = msg.payload.hb.toString().substr(2, 2);\nvar mb = msg.payload.mb.toString().substr(2, 2);\nvar lb = msg.payload.lb.toString().substr(2, 2);\nmsg.payload = parseFloat((parseInt(\"0x\" + hb + mb + lb)/4096).toFixed(1));\nreturn msg;\n\n\n\n//var b1 = msg.payload.toString().substr(0, 4);\n//var b2 = msg.payload.toString().substr(7, 2);\n//var b3 = msg.payload.toString().substr(12,2);\n//var bt = b1.concat(b2).concat(b3);\n\n//msg.payload = (parseInt(bt)/4096).toFixed(2);\n\n//return msg;","outputs":1,"noerr":0,"x":1198.0219116210938,"y":1434,"wires":[["d28fb4f8.41bf78","41692778.d9e798","a2b758d1.b34aa8","7e870f72.261e7"]]},{"id":"d28fb4f8.41bf78","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"payload","x":1394.0219116210938,"y":1520,"wires":[]},{"id":"95f0edd9.5a60f","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5D 0x29","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":611.0219116210938,"y":1506,"wires":[["5031da53.53aef4"],[],[]]},{"id":"7d2ff84.0f33508","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5D 0x28","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":611.0219116210938,"y":1566,"wires":[["a58d66af.98b358"],[],[]]},{"id":"12460694.cda209","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"payload","x":1188.0219116210938,"y":1494,"wires":[]},{"id":"d2974c27.55801","type":"ui_chart","z":"e601478c.8996c8","name":"","group":"216e9b3f.d3ef44","order":3,"width":0,"height":0,"label":"Chart : Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1392.0219116210938,"y":779,"wires":[[],[]]},{"id":"2001e4c4.c730cc","type":"ui_chart","z":"e601478c.8996c8","name":"","group":"9d5483d8.4dfe6","order":3,"width":0,"height":0,"label":"Chart : Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1380.0219116210938,"y":1022,"wires":[[],[]]},{"id":"3015aff5.51f64","type":"join","z":"e601478c.8996c8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":1028.0219116210938,"y":1433,"wires":[["12460694.cda209","f6b802fe.debae"]]},{"id":"41692778.d9e798","type":"ui_gauge","z":"e601478c.8996c8","name":"","group":"d32f5d02.7fc95","order":1,"width":0,"height":0,"gtype":"gage","title":"Barometric Pressure [ hPa ]","label":"hPa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1444.5855255126953,"y":1433.1200510660806,"wires":[]},{"id":"a2b758d1.b34aa8","type":"ui_chart","z":"e601478c.8996c8","name":"","group":"d32f5d02.7fc95","order":3,"width":0,"height":0,"label":"Chart : Barometric Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1437.0219116210938,"y":1474,"wires":[[],[]]},{"id":"f49b46df.483718","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5F 0x29","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":612.0219116210938,"y":996,"wires":[["3a2a3952.a114d6"],[],[]]},{"id":"23e39a8c.7e0e16","type":"join","z":"e601478c.8996c8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":974.0219116210938,"y":982,"wires":[["b577d5ba.dac588","190a907b.79068"]]},{"id":"b577d5ba.dac588","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1150.0219116210938,"y":1030,"wires":[]},{"id":"570b2079.5839a","type":"exec","z":"e601478c.8996c8","command":"i2cget -f -y 1 0x5F 0x2B","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":617.0219116210938,"y":755,"wires":[["7c2de609.2ea9d8"],[],[]]},{"id":"6c062ee2.99126","type":"join","z":"e601478c.8996c8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":981.0219116210938,"y":742,"wires":[["10d49d8c.b25d22","8435d65b.58f538"]]},{"id":"10d49d8c.b25d22","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1154.0219116210938,"y":787,"wires":[]},{"id":"909e6c9f.b94e4","type":"ui_text","z":"e601478c.8996c8","group":"9062bfda.f1932","order":0,"width":0,"height":0,"name":"","label":"0: no magnet & 1: magnet detected","format":"{{msg.payload}}","layout":"row-spread","x":1146.6667022705078,"y":403.3333411216736,"wires":[]},{"id":"7c2de609.2ea9d8","type":"function","z":"e601478c.8996c8","name":"HighByte Obj","func":"msg.payload = {'hb':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":817.9088701520647,"y":742.5141034807477,"wires":[["6c062ee2.99126"]]},{"id":"435a6953.6e2018","type":"function","z":"e601478c.8996c8","name":"LowByte Obj","func":"msg.payload = {'lb':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":820.6273411342075,"y":798.9479282924107,"wires":[["6c062ee2.99126"]]},{"id":"3a2a3952.a114d6","type":"function","z":"e601478c.8996c8","name":"HighByte Obj","func":"msg.payload = {'hb':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":982,"wires":[["23e39a8c.7e0e16"]]},{"id":"ae7f6c79.7c832","type":"function","z":"e601478c.8996c8","name":"LowByte Obj","func":"msg.payload = {'lb':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":817.7184709821429,"y":1038.4338248116628,"wires":[["23e39a8c.7e0e16"]]},{"id":"ffb6fd1.bf57c","type":"function","z":"e601478c.8996c8","name":"HighByte Obj","func":"msg.payload = {'hb':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":821,"y":1433,"wires":[["3015aff5.51f64"]]},{"id":"a58d66af.98b358","type":"function","z":"e601478c.8996c8","name":"LowByte Obj","func":"msg.payload = {'lb':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":820.7184709821429,"y":1552.4338248116628,"wires":[["3015aff5.51f64"]]},{"id":"5031da53.53aef4","type":"function","z":"e601478c.8996c8","name":"MiddleByte Obj","func":"msg.payload = {'mb':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":832,"y":1493,"wires":[["3015aff5.51f64"]]},{"id":"c9c69369.8cc61","type":"moment","z":"e601478c.8996c8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":611,"y":700,"wires":[["14e39b71.151925"]]},{"id":"14e39b71.151925","type":"function","z":"e601478c.8996c8","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":836,"y":700,"wires":[["ea800ccb.4e27d","36c87576.0cc17a","e1cc239d.5334"]]},{"id":"ea800ccb.4e27d","type":"function","z":"e601478c.8996c8","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":1063,"y":649,"wires":[["8740faee.4b1558","c2ebb031.018ea"]]},{"id":"e569be1e.5ff4b","type":"ui_text","z":"e601478c.8996c8","group":"12ea2324.d0dddd","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":1221,"y":700,"wires":[]},{"id":"36c87576.0cc17a","type":"function","z":"e601478c.8996c8","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":1063,"y":700,"wires":[["e569be1e.5ff4b"]]},{"id":"fb036970.d3bf78","type":"function","z":"e601478c.8996c8","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \", \" + hum +  \", \" + pre + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1881,"y":980,"wires":[["9173187e.5a5178"]]},{"id":"b212103c.8b221","type":"inject","z":"e601478c.8996c8","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL, HUM INT NOT NULL, PRE INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1952,"y":933,"wires":[["9173187e.5a5178"]]},{"id":"af534a0f.bccbe8","type":"inject","z":"e601478c.8996c8","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1990.749942779541,"y":1105.0000343322754,"wires":[["85ec5b94.fbedf8"]]},{"id":"846df527.bfec38","type":"inject","z":"e601478c.8996c8","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1985.9692611694336,"y":1061.7500801086426,"wires":[["9173187e.5a5178"]]},{"id":"dde44a02.2bd378","type":"inject","z":"e601478c.8996c8","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1986.2499046325684,"y":1020.5000705718994,"wires":[["9173187e.5a5178"]]},{"id":"23760055.ea02e","type":"ui_button","z":"e601478c.8996c8","name":"","group":"12ea2324.d0dddd","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE LOCAL <= strftime('%s','now', '-1 hours')*1000","x":1968,"y":890,"wires":[["9173187e.5a5178"]]},{"id":"d1be76d9.685268","type":"ui_template","z":"e601478c.8996c8","group":"12ea2324.d0dddd","name":"UI Table","order":3,"width":"6","height":"11","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>T[°C]</th>\n <th>H[%]</th>\n <th>P[hPa]</th>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n <td>{{msg.payload[$index].HUM}}</td>\n <td>{{msg.payload[$index].PRE}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2473,"y":1104,"wires":[[]]},{"id":"ec5c1282.069dc","type":"ui_text_input","z":"e601478c.8996c8","name":"","label":"","group":"de83f862.7caea8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1868.8506088256836,"y":1152.6053838729858,"wires":[["fc34d3a2.c3e9d"]]},{"id":"bb687d4b.b31c6","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2503.6182708740234,"y":1195.148344039917,"wires":[]},{"id":"fc34d3a2.c3e9d","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2020.9589157104492,"y":1152.9274368286133,"wires":[["980b6cc2.d5037"]]},{"id":"12c6945f.a25f1c","type":"ui_template","z":"e601478c.8996c8","group":"de83f862.7caea8","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2511.4386978149414,"y":1152.5517110824585,"wires":[[]]},{"id":"e57dc02f.b1b1e","type":"ui_template","z":"e601478c.8996c8","group":"de83f862.7caea8","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2489.77197265625,"y":1240.885009765625,"wires":[[]]},{"id":"9173187e.5a5178","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2251,"y":978,"wires":[[]]},{"id":"85ec5b94.fbedf8","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2219,"y":1105,"wires":[["d1be76d9.685268"]]},{"id":"980b6cc2.d5037","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2236,"y":1154,"wires":[["12c6945f.a25f1c","bb687d4b.b31c6"]]},{"id":"8740faee.4b1558","type":"join","z":"e601478c.8996c8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","x":1700,"y":980,"wires":[["dbee5adb.4bb4c8","fb036970.d3bf78","2e2a0bb9.d57f14"]]},{"id":"3ae4e194.5dfebe","type":"debug","z":"e601478c.8996c8","name":"","active":true,"console":"false","complete":"false","x":1920,"y":1287,"wires":[]},{"id":"dbee5adb.4bb4c8","type":"function","z":"e601478c.8996c8","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar halleffect = msg.payload.halleffect;\nvar temperature = parseFloat(msg.payload.temperature);\nvar humidity = parseFloat(msg.payload.humidity);\nvar pressure = parseFloat(msg.payload.pressure);\nvar device = 'artik-710';\ncontext.global.temperature = msg.payload.temperature;\ncontext.global.humidity = msg.payload.humidity;\ncontext.global.pressure = msg.payload.pressure;\n\nmsg.payload = {'data':{device,time,local,temperature,humidity,pressure,halleffect}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":1227,"wires":[["3ae4e194.5dfebe","170cc8ef.ed1127"]]},{"id":"170cc8ef.ed1127","type":"mqtt out","z":"e601478c.8996c8","name":"","topic":"artik710sensorBoard","qos":"2","retain":"","broker":"e3bb5624.de4198","x":2110,"y":1227,"wires":[]},{"id":"e1cc239d.5334","type":"function","z":"e601478c.8996c8","name":"Timestamp","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":1061,"y":605,"wires":[["8740faee.4b1558","42d11b2.de695e4"]]},{"id":"334db3b7.3b9bec","type":"function","z":"e601478c.8996c8","name":"Temp Obj","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1359,"y":863,"wires":[["8740faee.4b1558","c1c98162.d9a09"]]},{"id":"e0753926.5e5eb8","type":"function","z":"e601478c.8996c8","name":"Hum Obj","func":"msg.payload = {'humidity':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1363,"y":1106,"wires":[["8740faee.4b1558","3b98e2cd.d57dde"]]},{"id":"7e870f72.261e7","type":"function","z":"e601478c.8996c8","name":"Press Obj","func":"msg.payload = {'pressure':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1389,"y":1563,"wires":[["8740faee.4b1558","9fd40515.220348"]]},{"id":"2f592444.97d20c","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2221,"y":1400,"wires":[["4ec825d.ef79fdc"]]},{"id":"c9f4f0ef.7d2be","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2011,"y":1400,"wires":[["2f592444.97d20c"]]},{"id":"4ec825d.ef79fdc","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2417.3639831542964,"y":1399.4955902099607,"wires":[["5de369bf.df5d98"]]},{"id":"5de369bf.df5d98","type":"function","z":"e601478c.8996c8","name":"Parsing MAX(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2614,"y":1399,"wires":[["3c4fedb5.4cafb2","13eaf0cd.0e0b6f"]]},{"id":"3c4fedb5.4cafb2","type":"ui_text","z":"e601478c.8996c8","group":"216e9b3f.d3ef44","order":3,"width":0,"height":0,"name":"","label":"MAX TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2841,"y":1399,"wires":[]},{"id":"66d15905.ffe098","type":"inject","z":"e601478c.8996c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":1684.4715220133462,"y":1495.8808771769202,"wires":[["c9f4f0ef.7d2be","6a29b2d5.30de1c","f093fdef.491ff","f7ec9ee6.2488b","561dd850.fe9238","c3975a80.b03dc8","51da2582.57d90c","bdafa093.3fcbe","1ec3f24c.e4ef2e"]]},{"id":"e2200090.85673","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2221,"y":1491,"wires":[["44678774.a17c08"]]},{"id":"6a29b2d5.30de1c","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2011,"y":1491,"wires":[["e2200090.85673"]]},{"id":"44678774.a17c08","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2417.3639831542964,"y":1490.4955902099607,"wires":[["90b5cf5a.abc54"]]},{"id":"90b5cf5a.abc54","type":"function","z":"e601478c.8996c8","name":"Parsing MIN(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2614,"y":1490,"wires":[["aec94dc5.379a2","9b5df32.cad861"]]},{"id":"aec94dc5.379a2","type":"ui_text","z":"e601478c.8996c8","group":"216e9b3f.d3ef44","order":4,"width":0,"height":0,"name":"","label":"MIN  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2861,"y":1491,"wires":[]},{"id":"9006caef.f4dfc8","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2222,"y":1578,"wires":[["ef08e6f5.4ec8d8"]]},{"id":"f093fdef.491ff","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2012,"y":1578,"wires":[["9006caef.f4dfc8"]]},{"id":"ef08e6f5.4ec8d8","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2418.3639831542964,"y":1577.495590209961,"wires":[["b4d0686e.d97ad8"]]},{"id":"b4d0686e.d97ad8","type":"function","z":"e601478c.8996c8","name":"Parsing AVG(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2615,"y":1577,"wires":[["f7f7178a.ef9b28","a68b0846.e4f418"]]},{"id":"a68b0846.e4f418","type":"ui_text","z":"e601478c.8996c8","group":"216e9b3f.d3ef44","order":5,"width":0,"height":0,"name":"","label":"AVG  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2842,"y":1578,"wires":[]},{"id":"13eaf0cd.0e0b6f","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2816,"y":1440,"wires":[]},{"id":"9b5df32.cad861","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2831,"y":1532,"wires":[]},{"id":"f7f7178a.ef9b28","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2812,"y":1624,"wires":[]},{"id":"27cc4d6a.16f882","type":"comment","z":"e601478c.8996c8","name":"Solving MAX, MIN, AVG TEMP","info":"","x":1833.7924671173096,"y":1347.7009315490723,"wires":[]},{"id":"a8d4aae8.8f8ca8","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2230.7369384765625,"y":1728.3333740234375,"wires":[["78d03f89.a9cb1"]]},{"id":"f7ec9ee6.2488b","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2020.7369384765625,"y":1728.3333740234375,"wires":[["a8d4aae8.8f8ca8"]]},{"id":"78d03f89.a9cb1","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2427.100921630859,"y":1727.8289642333982,"wires":[["c0608383.b5976"]]},{"id":"c0608383.b5976","type":"function","z":"e601478c.8996c8","name":"Parsing MAX(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2613.7369384765625,"y":1727.3333740234375,"wires":[["4d988c07.706964","acc63e8b.c132a"]]},{"id":"4d988c07.706964","type":"ui_text","z":"e601478c.8996c8","group":"9d5483d8.4dfe6","order":3,"width":0,"height":0,"name":"","label":"MAX HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2840.7369384765625,"y":1727.3333740234375,"wires":[]},{"id":"3be9719e.b88f8e","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2230.7369384765625,"y":1819.3333740234375,"wires":[["76c13d2.86156c4"]]},{"id":"561dd850.fe9238","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2020.7369384765625,"y":1819.3333740234375,"wires":[["3be9719e.b88f8e"]]},{"id":"76c13d2.86156c4","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2427.100921630859,"y":1818.8289642333984,"wires":[["d7b2ffc8.3f07d"]]},{"id":"d7b2ffc8.3f07d","type":"function","z":"e601478c.8996c8","name":"Parsing MIN(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2613.7369384765625,"y":1818.3333740234375,"wires":[["1b38c01f.3eb13","21d420ea.a243"]]},{"id":"1b38c01f.3eb13","type":"ui_text","z":"e601478c.8996c8","group":"9d5483d8.4dfe6","order":4,"width":0,"height":0,"name":"","label":"MIN HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2850.7369384765625,"y":1819.3333740234375,"wires":[]},{"id":"a3213ec9.2d4ff","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2231.7369384765625,"y":1906.3333740234375,"wires":[["b51fb722.64c448"]]},{"id":"c3975a80.b03dc8","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(HUM) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2021.7369384765625,"y":1906.3333740234375,"wires":[["a3213ec9.2d4ff"]]},{"id":"b51fb722.64c448","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2428.100921630859,"y":1905.8289642333984,"wires":[["4ee39d3b.d935f4"]]},{"id":"4ee39d3b.d935f4","type":"function","z":"e601478c.8996c8","name":"Parsing AVG(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2614.7369384765625,"y":1905.3333740234375,"wires":[["45b6ebda.3b4f04","c002c475.74ba78"]]},{"id":"c002c475.74ba78","type":"ui_text","z":"e601478c.8996c8","group":"9d5483d8.4dfe6","order":5,"width":0,"height":0,"name":"","label":"AVG HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2831.7369384765625,"y":1906.3333740234375,"wires":[]},{"id":"acc63e8b.c132a","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2825.7369384765625,"y":1768.3333740234375,"wires":[]},{"id":"21d420ea.a243","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2840.7369384765625,"y":1860.3333740234375,"wires":[]},{"id":"45b6ebda.3b4f04","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2821.7369384765625,"y":1952.3333740234375,"wires":[]},{"id":"679e007d.ad87","type":"comment","z":"e601478c.8996c8","name":"Solving MAX, MIN, AVG HUMIDITY","info":"","x":1853.529405593872,"y":1676.0343055725098,"wires":[]},{"id":"7c5930c9.12ba8","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2225.2930908203125,"y":2063.8341064453125,"wires":[["14a0e380.d8840d"]]},{"id":"51da2582.57d90c","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(PRE) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2015.2930908203125,"y":2063.8341064453125,"wires":[["7c5930c9.12ba8"]]},{"id":"14a0e380.d8840d","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2421.657073974609,"y":2063.3296966552734,"wires":[["d07b4869.3e5fd8"]]},{"id":"d07b4869.3e5fd8","type":"function","z":"e601478c.8996c8","name":"Parsing MAX(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":2608.2930908203125,"y":2062.8341064453125,"wires":[["547b6050.bfea8","c021f9d3.bfdde8"]]},{"id":"547b6050.bfea8","type":"ui_text","z":"e601478c.8996c8","group":"d32f5d02.7fc95","order":3,"width":0,"height":0,"name":"","label":"MAX PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2835.2930908203125,"y":2062.8341064453125,"wires":[]},{"id":"4a8fb5af.85109c","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2225.2930908203125,"y":2154.8341064453125,"wires":[["af6d5091.c6a8"]]},{"id":"bdafa093.3fcbe","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(PRE) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2015.2930908203125,"y":2154.8341064453125,"wires":[["4a8fb5af.85109c"]]},{"id":"af6d5091.c6a8","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2421.657073974609,"y":2154.3296966552734,"wires":[["ba4d39b5.114168"]]},{"id":"ba4d39b5.114168","type":"function","z":"e601478c.8996c8","name":"Parsing MIN(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":2608.2930908203125,"y":2153.8341064453125,"wires":[["f73ddb27.8c0a58","e57ae987.9503e8"]]},{"id":"f73ddb27.8c0a58","type":"ui_text","z":"e601478c.8996c8","group":"d32f5d02.7fc95","order":4,"width":0,"height":0,"name":"","label":"MIN PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2855.2930908203125,"y":2154.8341064453125,"wires":[]},{"id":"3dbc0601.0c510a","type":"sqlite","z":"e601478c.8996c8","mydb":"e05be409.360348","name":"","x":2226.2930908203125,"y":2241.8341064453125,"wires":[["16e9ca8b.770c15"]]},{"id":"1ec3f24c.e4ef2e","type":"function","z":"e601478c.8996c8","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(PRE) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":2016.2930908203125,"y":2241.8341064453125,"wires":[["3dbc0601.0c510a"]]},{"id":"16e9ca8b.770c15","type":"json","z":"e601478c.8996c8","name":"","pretty":false,"x":2422.657073974609,"y":2241.3296966552734,"wires":[["b527a17c.06702"]]},{"id":"b527a17c.06702","type":"function","z":"e601478c.8996c8","name":"Parsing AVG(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":2609.2930908203125,"y":2240.8341064453125,"wires":[["4843102f.b6344","99e27e05.2826e"]]},{"id":"99e27e05.2826e","type":"ui_text","z":"e601478c.8996c8","group":"d32f5d02.7fc95","order":5,"width":0,"height":0,"name":"","label":"AVG PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2836.2930908203125,"y":2241.8341064453125,"wires":[]},{"id":"c021f9d3.bfdde8","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2820.2930908203125,"y":2103.8341064453125,"wires":[]},{"id":"e57ae987.9503e8","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2835.2930908203125,"y":2195.8341064453125,"wires":[]},{"id":"4843102f.b6344","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":2816.2930908203125,"y":2287.8341064453125,"wires":[]},{"id":"d446271e.fd7c58","type":"comment","z":"e601478c.8996c8","name":"Solving MAX, MIN, AVG PRESSURE","info":"","x":1858.085557937622,"y":2011.5350379943848,"wires":[]},{"id":"d496ce3b.a58e9","type":"function","z":"e601478c.8996c8","name":"HallEffect Obj","func":"// \"1↵\"\nvar filter = parseInt(msg.payload);\n// Magnet Signal Converter 0 --> 1 , 1 --> 0\nif(0 === filter)\n{\n    msg.payload = {'halleffect':1};  // Magnet On\n    return msg;\n}\nelse if(1 === filter)\n{\n    msg.payload = {'halleffect':0};  // Magnet Off\n    return msg;\n}","outputs":1,"noerr":0,"x":840,"y":320,"wires":[["aa847835.0b1638","6a8893b4.99a68c","8740faee.4b1558"]]},{"id":"408f25bb.d5576c","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1210,"y":320,"wires":[]},{"id":"aa847835.0b1638","type":"function","z":"e601478c.8996c8","name":"Parsing Obj","func":"msg.payload = msg.payload.halleffect;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":320,"wires":[["408f25bb.d5576c","909e6c9f.b94e4","de6ee60c.3d00c8"]]},{"id":"2e2a0bb9.d57f14","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1730,"y":920,"wires":[]},{"id":"88f13a43.883e98","type":"delay","z":"e601478c.8996c8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450.81689453125,"y":335.0054931640625,"wires":[["318e4839.1ac118"]]},{"id":"c1c98162.d9a09","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1369.4372329711914,"y":912.817907333374,"wires":[]},{"id":"3b98e2cd.d57dde","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1364.4408925374346,"y":1164.4955825805662,"wires":[]},{"id":"9fd40515.220348","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1392.7851104736326,"y":1611.1513646443682,"wires":[]},{"id":"6a8893b4.99a68c","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":867.1089426676431,"y":378.5307184855143,"wires":[]},{"id":"42d11b2.de695e4","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1247.5366083780923,"y":595.1973851521809,"wires":[]},{"id":"c2ebb031.018ea","type":"debug","z":"e601478c.8996c8","name":"","active":false,"console":"false","complete":"false","x":1262.5402704874673,"y":648.5233942667642,"wires":[]},{"id":"9062bfda.f1932","type":"ui_group","z":"","name":"Hall Effect Sensor","tab":"9b995e35.88b33","order":4,"disp":true,"width":"6"},{"id":"216e9b3f.d3ef44","type":"ui_group","z":"","name":"Temperature Sensor","tab":"9b995e35.88b33","order":1,"disp":true,"width":"6"},{"id":"9d5483d8.4dfe6","type":"ui_group","z":"","name":"Humidity Sensor","tab":"9b995e35.88b33","order":2,"disp":true,"width":"6"},{"id":"d32f5d02.7fc95","type":"ui_group","z":"","name":"Barometric Pressure Sensor","tab":"9b995e35.88b33","order":3,"disp":true,"width":"6"},{"id":"12ea2324.d0dddd","type":"ui_group","z":"","name":"SQLite with Sensor Board","tab":"9b995e35.88b33","order":5,"disp":true,"width":"6"},{"id":"de83f862.7caea8","type":"ui_group","z":"","name":"Query Commander","tab":"9b995e35.88b33","order":6,"disp":true,"width":"6"},{"id":"e05be409.360348","type":"sqlitedb","z":"","db":"/root/sqliteSensorBoard"},{"id":"e3bb5624.de4198","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9b995e35.88b33","type":"ui_tab","z":"","name":"ARTIK-710 Sensor Board","icon":"dashboard","order":1}]
