02_CodeFiles/13_ARTIK/02_Codes/02_ARTIK710_SensorBoard_AtAWS_NodeRED.txt
[{"id":"ab811af9.60cf38","type":"comment","z":"3f2cae52.5e07f2","name":"ARTIK-710 For Sensor Board","info":"","x":158.75514221191406,"y":38.750003814697266,"wires":[]},{"id":"5d065536.ef8a3c","type":"http in","z":"3f2cae52.5e07f2","name":"/sensors","url":"/sensors","method":"get","upload":false,"swaggerDoc":"","x":385.5204544067383,"y":39.9854211807251,"wires":[["fef3f9ab.aa5af8"]]},{"id":"fef3f9ab.aa5af8","type":"template","z":"3f2cae52.5e07f2","name":"Monitoring Sensors","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html>\n<body>\n    <h2>Smart Home Security Web</h2>\n    <h5></h5>\n    <h5></h5>\n    \n<iframe src=\"http://ec2-54-153-177-45.ap-southeast-2.compute.amazonaws.com:1880/ui/#/1\" width=\"1350\" height=\"600\" scrolling=\"yes\">\n  <p>Your browser does not support iframes.</p>\n</iframe>\n\n<iframe src=\"http://ec2-54-153-177-45.ap-southeast-2.compute.amazonaws.com:1880/ui/#/3\" width=\"1350\" height=\"600\" scrolling=\"yes\">\n  <p>Your browser does not support iframes.</p>\n</iframe>\n\n<iframe src=\"http://ec2-54-153-177-45.ap-southeast-2.compute.amazonaws.com:1880/ui/#/2\" width=\"1350\" height=\"600\" scrolling=\"yes\">\n  <p>Your browser does not support iframes.</p>\n</iframe>\n\n</body>\n</html>\n\n","x":566.8841094970703,"y":40.53089380264282,"wires":[["5b01e294.65985c"]]},{"id":"5b01e294.65985c","type":"http response","z":"3f2cae52.5e07f2","name":"","statusCode":"","headers":{},"x":837.1567611694336,"y":40.98540782928467,"wires":[]},{"id":"3e28dbcd.fa3254","type":"mqtt in","z":"3f2cae52.5e07f2","name":"","topic":"artik710sensorBoard","qos":"2","broker":"57f2f3e9.d38a8c","x":169.07009887695312,"y":138.29580974578857,"wires":[["a5012914.579008","484387ba.e6c798"]]},{"id":"484387ba.e6c798","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":284.7948913574219,"y":191.23953819274902,"wires":[]},{"id":"a5012914.579008","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":354.646235874721,"y":137.94337531498502,"wires":[["a3698320.52fe","e04af1e9.cae26","341218cb.3ccf98","ba39e625.c2b048","b06e1bed.ed0bd8","5baac7e5.92a718","a2128226.bbb07"]]},{"id":"fe0bead2.dd8f58","type":"function","z":"3f2cae52.5e07f2","name":"Making Temperature Obj","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":888.761474609375,"y":453.8223648071289,"wires":[["4f899e31.12a33"]]},{"id":"b06e1bed.ed0bd8","type":"function","z":"3f2cae52.5e07f2","name":"Parsing Temperature","func":"msg.payload = msg.payload.data.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":605.8996734619141,"y":477.046049118042,"wires":[["ed67c5d.741a138","c7438d8.364f17","68fb16cb.19e588","fe0bead2.dd8f58"]]},{"id":"5baac7e5.92a718","type":"function","z":"3f2cae52.5e07f2","name":"Parsing Humidity","func":"msg.payload = msg.payload.data.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":591.7632141113281,"y":693.9046006202698,"wires":[["a9f2bdd2.8d6f7","6aa92f79.360e9","7a51096.ec748f8","f4bc4c7f.abda6"]]},{"id":"a2128226.bbb07","type":"function","z":"3f2cae52.5e07f2","name":"Parsing Pressure","func":"msg.payload = msg.payload.data.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":597.761474609375,"y":839.8223648071289,"wires":[["6dcfc046.3b05d","a43995fd.be0c98","254d5a3c.a0b9e6","6c38feb1.ffa52"]]},{"id":"6c38feb1.ffa52","type":"function","z":"3f2cae52.5e07f2","name":"Making Pressure Obj","func":"msg.payload = {'pressure':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":847.761474609375,"y":812.8223648071289,"wires":[["4f899e31.12a33"]]},{"id":"7605d92.8afcb28","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":598.261360168457,"y":184.82237815856934,"wires":[]},{"id":"c7438d8.364f17","type":"ui_gauge","z":"3f2cae52.5e07f2","name":"","group":"85a3fba3.8c6f98","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature [ °C ]","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":869.761474609375,"y":497.8223648071289,"wires":[]},{"id":"68fb16cb.19e588","type":"ui_chart","z":"3f2cae52.5e07f2","name":"","group":"85a3fba3.8c6f98","order":2,"width":0,"height":0,"label":"Chart : Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880.761474609375,"y":532.8223648071289,"wires":[[],[]]},{"id":"ed67c5d.741a138","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":848.761474609375,"y":573.8223648071289,"wires":[]},{"id":"6aa92f79.360e9","type":"ui_gauge","z":"3f2cae52.5e07f2","name":"","group":"e332a4d3.e57f98","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity [ % ]","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":835.761474609375,"y":684.8223648071289,"wires":[]},{"id":"7a51096.ec748f8","type":"ui_chart","z":"3f2cae52.5e07f2","name":"","group":"e332a4d3.e57f98","order":2,"width":0,"height":0,"label":"Chart : Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":836.761474609375,"y":721.8223648071289,"wires":[[],[]]},{"id":"a9f2bdd2.8d6f7","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":825.761474609375,"y":763.8223648071289,"wires":[]},{"id":"a43995fd.be0c98","type":"ui_gauge","z":"3f2cae52.5e07f2","name":"","group":"8a378617.cc8df8","order":1,"width":0,"height":0,"gtype":"gage","title":"Barometric Pressur [ hPa ]","label":"hPa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":863.761474609375,"y":852.8223648071289,"wires":[]},{"id":"4f899e31.12a33","type":"join","z":"3f2cae52.5e07f2","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","x":1135.2615051269531,"y":452.32242012023926,"wires":[["59bc9e65.7c925","2b0ac0fa.0164"]]},{"id":"2b0ac0fa.0164","type":"function","z":"3f2cae52.5e07f2","name":"Insert query","func":"// \"{\"data\":{\"device\":\"artik-710\",\"time\":1513332217142,\"local\":20171215210337,\"temperature\":30.4,\"humidity\":66.6,\"pressure\":1016.9,\"halleffect\":0}}\"\n\nvar time = msg.payload.time;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \", \" + hum +  \", \" + pre + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1326.761474609375,"y":643.8223648071289,"wires":[["f66076ac.eefb18"]]},{"id":"d237a7f1.9505d8","type":"ui_button","z":"3f2cae52.5e07f2","name":"","group":"7005246b.6de1cc","order":3,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE LOCAL <= strftime('%s','now', '-1 hours')*1000","x":1413.761474609375,"y":557.8223648071289,"wires":[["f66076ac.eefb18"]]},{"id":"e597587f.4353d8","type":"inject","z":"3f2cae52.5e07f2","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL, HUM INT NOT NULL, PRE INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1397.761474609375,"y":596.8223648071289,"wires":[["f66076ac.eefb18"]]},{"id":"3bb28249.fc970e","type":"inject","z":"3f2cae52.5e07f2","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1432.0113792419434,"y":684.3224353790283,"wires":[["f66076ac.eefb18"]]},{"id":"fcc7fbb3.ff0cf8","type":"inject","z":"3f2cae52.5e07f2","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1431.7307357788086,"y":725.5724449157715,"wires":[["f66076ac.eefb18"]]},{"id":"a624f82f.238ab8","type":"inject","z":"3f2cae52.5e07f2","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1436.511417388916,"y":768.8223991394043,"wires":[["bea10b02.d9a0f8"]]},{"id":"3ed72d28.03d3c2","type":"ui_text_input","z":"3f2cae52.5e07f2","name":"","label":"","group":"efcbbd0f.539f2","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1314.6120834350586,"y":816.4277486801147,"wires":[["80c41233.f53b4"]]},{"id":"80c41233.f53b4","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1466.7203903198242,"y":816.7498016357422,"wires":[["c06174fb.e5d5c8"]]},{"id":"bea10b02.d9a0f8","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1714.761474609375,"y":768.8223648071289,"wires":[["2f1242a2.b21fee"]]},{"id":"c06174fb.e5d5c8","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1731.761474609375,"y":817.8223648071289,"wires":[["6455ebd5.dbb654","49fd6be7.5d56d4"]]},{"id":"2f1242a2.b21fee","type":"ui_template","z":"3f2cae52.5e07f2","group":"7005246b.6de1cc","name":"UI Table","order":4,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>T[°C]</th>\n <th>H[%]</th>\n <th>P[hPa]</th>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n <td>{{msg.payload[$index].HUM}}</td>\n <td>{{msg.payload[$index].PRE}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1964.761474609375,"y":767.8223648071289,"wires":[[]]},{"id":"6455ebd5.dbb654","type":"ui_template","z":"3f2cae52.5e07f2","group":"efcbbd0f.539f2","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2003.2001724243164,"y":816.3740758895874,"wires":[[]]},{"id":"49fd6be7.5d56d4","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":1995.3797454833984,"y":858.9707088470459,"wires":[]},{"id":"f448d7ea.320718","type":"ui_template","z":"3f2cae52.5e07f2","group":"efcbbd0f.539f2","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2183.2000045776367,"y":848.0406761169434,"wires":[[]]},{"id":"ba39e625.c2b048","type":"function","z":"3f2cae52.5e07f2","name":"Parsing Local Time","func":"msg.payload = msg.payload.data.local;\nreturn msg;","outputs":1,"noerr":0,"x":598.437255859375,"y":325.9999771118164,"wires":[["2667ebf9.1607f4","7b5b423a.92f4cc","510f6da6.4d4684"]]},{"id":"e04af1e9.cae26","type":"function","z":"3f2cae52.5e07f2","name":"Parsing Device","func":"msg.payload = msg.payload.data.device;\nreturn msg;","outputs":1,"noerr":0,"x":588.9373168945312,"y":134.99999237060547,"wires":[["7605d92.8afcb28","9c3a13b7.1631f","6501b618.e879f8"]]},{"id":"2667ebf9.1607f4","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":601.437255859375,"y":379.9999771118164,"wires":[]},{"id":"59bc9e65.7c925","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":1323.8780517578125,"y":449.22228622436523,"wires":[]},{"id":"f4bc4c7f.abda6","type":"function","z":"3f2cae52.5e07f2","name":"Making Humidity Obj","func":"msg.payload = {'humidity':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":856.437255859375,"y":635.4999465942383,"wires":[["4f899e31.12a33"]]},{"id":"7b5b423a.92f4cc","type":"function","z":"3f2cae52.5e07f2","name":"Making Local Time Obj","func":"msg.payload = {'local':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":868.437255859375,"y":324.9999771118164,"wires":[["4f899e31.12a33"]]},{"id":"341218cb.3ccf98","type":"function","z":"3f2cae52.5e07f2","name":"Parsing Timestamp","func":"msg.payload = msg.payload.data.time;\nreturn msg;","outputs":1,"noerr":0,"x":593.437255859375,"y":227.99999237060547,"wires":[["909d19d0.9e15d8","e49c4e5.6dc0eb"]]},{"id":"909d19d0.9e15d8","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":596.4373168945312,"y":279.4999771118164,"wires":[]},{"id":"e49c4e5.6dc0eb","type":"function","z":"3f2cae52.5e07f2","name":"Making Timestamp Obj","func":"msg.payload = {'time':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":866.437255859375,"y":229.4999771118164,"wires":[["4f899e31.12a33"]]},{"id":"9c3a13b7.1631f","type":"function","z":"3f2cae52.5e07f2","name":"Making Device Obj","func":"msg.payload = {'device':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":859.28271484375,"y":135.3430404663086,"wires":[["4f899e31.12a33"]]},{"id":"f66076ac.eefb18","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1714.0948486328125,"y":642.4707717895508,"wires":[[]]},{"id":"6501b618.e879f8","type":"ui_text","z":"3f2cae52.5e07f2","group":"f039fee5.1698e","order":1,"width":0,"height":0,"name":"","label":"Device :","format":"{{msg.payload}}","layout":"row-spread","x":831.769603729248,"y":177.4846305847168,"wires":[]},{"id":"873adc44.248f","type":"ui_text","z":"3f2cae52.5e07f2","group":"7005246b.6de1cc","order":2,"width":0,"height":0,"name":"","label":"Date :","format":"{{msg.payload}}","layout":"row-spread","x":876.4317092895508,"y":405.4714403152466,"wires":[]},{"id":"510f6da6.4d4684","type":"function","z":"3f2cae52.5e07f2","name":"Making Date","func":"// 20171212193424\n\nvar localBuff = msg.payload.toString().substr(0, 14);\nvar localYear = msg.payload.toString().substr(0, 4);\nvar localMonth = msg.payload.toString().substr(4, 2);\nvar localDay = msg.payload.toString().substr(6, 2);\nvar localHour = msg.payload.toString().substr(8, 2);\nvar localMin = msg.payload.toString().substr(10, 2);\nvar localSec = msg.payload.toString().substr(12, 2);\n\nmsg.payload = (localYear + \"-\" + localMonth + \"-\" + localDay + \" \" + localHour + \":\" + localMin + \":\" + localSec);\n\nreturn msg;","outputs":1,"noerr":0,"x":837.786979675293,"y":364.58990383148193,"wires":[["873adc44.248f"]]},{"id":"254d5a3c.a0b9e6","type":"ui_chart","z":"3f2cae52.5e07f2","name":"","group":"8a378617.cc8df8","order":2,"width":0,"height":0,"label":"Chart : Barometric Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":863.761474609375,"y":887.8223648071289,"wires":[[],[]]},{"id":"6dcfc046.3b05d","type":"debug","z":"3f2cae52.5e07f2","name":"","active":false,"console":"false","complete":"false","x":817.761474609375,"y":934.8223648071289,"wires":[]},{"id":"bf46602e.3b50e","type":"ui_gauge","z":"3f2cae52.5e07f2","name":"","group":"2a33f506.ed290a","order":0,"width":0,"height":0,"gtype":"donut","title":"Hall Effect Sensor","label":"magnet","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":874.7122993469238,"y":91.5685453414917,"wires":[]},{"id":"a3698320.52fe","type":"function","z":"3f2cae52.5e07f2","name":"Parsing HallEffect","func":"msg.payload = msg.payload.data.halleffect;\nreturn msg;","outputs":1,"noerr":0,"x":602.3012084960938,"y":91.68858337402344,"wires":[["bf46602e.3b50e"]]},{"id":"40f4f64e.cfb738","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1728.7076416015625,"y":964.3770751953125,"wires":[["6788af55.d917e"]]},{"id":"fcc9a7db.819298","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1476.7076416015625,"y":964.3770751953125,"wires":[["40f4f64e.cfb738"]]},{"id":"6788af55.d917e","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1955.0716247558594,"y":963.8726654052732,"wires":[["ea708101.dc675"]]},{"id":"ea708101.dc675","type":"function","z":"3f2cae52.5e07f2","name":"Parsing MAX(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2151.7076416015625,"y":963.3770751953125,"wires":[["1fa5311a.e9550f"]]},{"id":"1fa5311a.e9550f","type":"ui_text","z":"3f2cae52.5e07f2","group":"85a3fba3.8c6f98","order":4,"width":0,"height":0,"name":"","label":"MAX TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2378.7076416015625,"y":963.3770751953125,"wires":[]},{"id":"c4952dd9.646df","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1728.7076416015625,"y":1014.3770751953125,"wires":[["742aa16e.68aff"]]},{"id":"ef69ecbd.1152e","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1476.7076416015625,"y":1014.3770751953125,"wires":[["c4952dd9.646df"]]},{"id":"742aa16e.68aff","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1955.0716247558594,"y":1013.8726654052732,"wires":[["522f5c1a.d82f14"]]},{"id":"522f5c1a.d82f14","type":"function","z":"3f2cae52.5e07f2","name":"Parsing MIN(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2151.7076416015625,"y":1013.3770751953125,"wires":[["70c93f21.7be42"]]},{"id":"70c93f21.7be42","type":"ui_text","z":"3f2cae52.5e07f2","group":"85a3fba3.8c6f98","order":5,"width":0,"height":0,"name":"","label":"MIN  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2398.7076416015625,"y":1014.3770751953125,"wires":[]},{"id":"3a8ea19e.151fde","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1729.7076416015625,"y":1063.3770751953125,"wires":[["3ffff555.cf85ea"]]},{"id":"e043e5b6.78a4a8","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1477.7076416015625,"y":1063.3770751953125,"wires":[["3a8ea19e.151fde"]]},{"id":"3ffff555.cf85ea","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1956.0716247558594,"y":1062.8726654052734,"wires":[["7bd5c5d8.f1216c"]]},{"id":"7bd5c5d8.f1216c","type":"function","z":"3f2cae52.5e07f2","name":"Parsing AVG(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":2152.7076416015625,"y":1062.3770751953125,"wires":[["7819d77e.276eb8"]]},{"id":"7819d77e.276eb8","type":"ui_text","z":"3f2cae52.5e07f2","group":"85a3fba3.8c6f98","order":6,"width":0,"height":0,"name":"","label":"AVG  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2379.7076416015625,"y":1063.3770751953125,"wires":[]},{"id":"a48b3915.a3b538","type":"comment","z":"3f2cae52.5e07f2","name":"Solving MAX, MIN, AVG TEMP","info":"","x":1299.500108718872,"y":912.0780067443848,"wires":[]},{"id":"ace26535.be6ac8","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1738.444580078125,"y":1170.71044921875,"wires":[["7e0999b6.55cb58"]]},{"id":"4a29e881.b39468","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1486.444580078125,"y":1170.71044921875,"wires":[["ace26535.be6ac8"]]},{"id":"7e0999b6.55cb58","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1964.8085632324219,"y":1170.2060394287107,"wires":[["7c469f43.52462"]]},{"id":"7c469f43.52462","type":"function","z":"3f2cae52.5e07f2","name":"Parsing MAX(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2151.444580078125,"y":1169.71044921875,"wires":[["af5f4099.d4234"]]},{"id":"af5f4099.d4234","type":"ui_text","z":"3f2cae52.5e07f2","group":"e332a4d3.e57f98","order":4,"width":0,"height":0,"name":"","label":"MAX HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2378.444580078125,"y":1169.71044921875,"wires":[]},{"id":"c551a11c.c3d2","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1738.444580078125,"y":1217.71044921875,"wires":[["1e73289b.305b67"]]},{"id":"d0230b70.706138","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1486.444580078125,"y":1217.71044921875,"wires":[["c551a11c.c3d2"]]},{"id":"1e73289b.305b67","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1964.8085632324219,"y":1217.2060394287107,"wires":[["a432b25a.3668"]]},{"id":"a432b25a.3668","type":"function","z":"3f2cae52.5e07f2","name":"Parsing MIN(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2151.444580078125,"y":1216.71044921875,"wires":[["676133c6.999fcc"]]},{"id":"676133c6.999fcc","type":"ui_text","z":"3f2cae52.5e07f2","group":"e332a4d3.e57f98","order":5,"width":0,"height":0,"name":"","label":"MIN HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2388.444580078125,"y":1217.71044921875,"wires":[]},{"id":"c304de02.fc376","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1739.444580078125,"y":1266.71044921875,"wires":[["5ddaa458.60729c"]]},{"id":"eece6ecb.51217","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(HUM) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1487.444580078125,"y":1266.71044921875,"wires":[["c304de02.fc376"]]},{"id":"5ddaa458.60729c","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1965.8085632324219,"y":1266.206039428711,"wires":[["96e1262d.4ef6e8"]]},{"id":"96e1262d.4ef6e8","type":"function","z":"3f2cae52.5e07f2","name":"Parsing AVG(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":2152.444580078125,"y":1265.71044921875,"wires":[["996c71c7.4d882"]]},{"id":"996c71c7.4d882","type":"ui_text","z":"3f2cae52.5e07f2","group":"e332a4d3.e57f98","order":6,"width":0,"height":0,"name":"","label":"AVG HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2369.444580078125,"y":1266.71044921875,"wires":[]},{"id":"4628d1ee.e7717","type":"comment","z":"3f2cae52.5e07f2","name":"Solving MAX, MIN, AVG HUMIDITY","info":"","x":1319.2370471954346,"y":1118.4113807678223,"wires":[]},{"id":"5e676c0f.775824","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1767.000732421875,"y":1372.211181640625,"wires":[["2f673614.fdc96a"]]},{"id":"82d37f26.2f65c","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(PRE) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1515.000732421875,"y":1372.211181640625,"wires":[["5e676c0f.775824"]]},{"id":"2f673614.fdc96a","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1993.3647155761719,"y":1371.7067718505857,"wires":[["2825f6fd.4a6fba"]]},{"id":"2825f6fd.4a6fba","type":"function","z":"3f2cae52.5e07f2","name":"Parsing MAX(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":2180.000732421875,"y":1371.211181640625,"wires":[["d3d9b1bf.222e3"]]},{"id":"d3d9b1bf.222e3","type":"ui_text","z":"3f2cae52.5e07f2","group":"8a378617.cc8df8","order":4,"width":0,"height":0,"name":"","label":"MAX PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2407.000732421875,"y":1371.211181640625,"wires":[]},{"id":"f9e5988d.8b4a28","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1767.000732421875,"y":1421.211181640625,"wires":[["ab1631cc.39fb9"]]},{"id":"bc843d23.efe29","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(PRE) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1515.000732421875,"y":1421.211181640625,"wires":[["f9e5988d.8b4a28"]]},{"id":"ab1631cc.39fb9","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1993.3647155761719,"y":1420.7067718505857,"wires":[["1551ec42.a82774"]]},{"id":"1551ec42.a82774","type":"function","z":"3f2cae52.5e07f2","name":"Parsing MIN(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":2180.000732421875,"y":1420.211181640625,"wires":[["c6df3494.b5cfd8"]]},{"id":"c6df3494.b5cfd8","type":"ui_text","z":"3f2cae52.5e07f2","group":"8a378617.cc8df8","order":5,"width":0,"height":0,"name":"","label":"MIN PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2408.000732421875,"y":1421.211181640625,"wires":[]},{"id":"e077d0a7.a3fac","type":"sqlite","z":"3f2cae52.5e07f2","mydb":"816cd38.51c8a3","name":"","x":1768.000732421875,"y":1465.211181640625,"wires":[["c00a909c.38a56"]]},{"id":"52319a99.809c24","type":"function","z":"3f2cae52.5e07f2","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(PRE) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1516.000732421875,"y":1465.211181640625,"wires":[["e077d0a7.a3fac"]]},{"id":"c00a909c.38a56","type":"json","z":"3f2cae52.5e07f2","name":"","pretty":false,"x":1994.3647155761719,"y":1464.706771850586,"wires":[["960dcce.b2a953"]]},{"id":"960dcce.b2a953","type":"function","z":"3f2cae52.5e07f2","name":"Parsing AVG(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":2181.000732421875,"y":1464.211181640625,"wires":[["954dad64.c591b"]]},{"id":"954dad64.c591b","type":"ui_text","z":"3f2cae52.5e07f2","group":"8a378617.cc8df8","order":6,"width":0,"height":0,"name":"","label":"AVG PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2408.000732421875,"y":1465.211181640625,"wires":[]},{"id":"971f69fa.8e5588","type":"comment","z":"3f2cae52.5e07f2","name":"Solving MAX, MIN, AVG PRESSURE","info":"","x":1357.7931995391846,"y":1319.9121131896973,"wires":[]},{"id":"5c5bb1bf.6b237","type":"ui_button","z":"3f2cae52.5e07f2","name":"","group":"85a3fba3.8c6f98","order":3,"width":0,"height":0,"passthru":false,"label":"COMPUTING BUTTON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1250.9179077148438,"y":1012.5592861175537,"wires":[["fcc9a7db.819298","ef69ecbd.1152e","e043e5b6.78a4a8"]]},{"id":"62a00f97.6cc9b","type":"ui_button","z":"3f2cae52.5e07f2","name":"","group":"e332a4d3.e57f98","order":3,"width":0,"height":0,"passthru":false,"label":"COMPUTING BUTTON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1260.024658203125,"y":1220.3946533203125,"wires":[["4a29e881.b39468","d0230b70.706138","eece6ecb.51217"]]},{"id":"33560230.ddf37e","type":"ui_button","z":"3f2cae52.5e07f2","name":"","group":"8a378617.cc8df8","order":3,"width":0,"height":0,"passthru":false,"label":"COMPUTING BUTTON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1285.015380859375,"y":1419.003173828125,"wires":[["82d37f26.2f65c","bc843d23.efe29","52319a99.809c24"]]},{"id":"57f2f3e9.d38a8c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"85a3fba3.8c6f98","type":"ui_group","z":"","name":"Temperature Sensor","tab":"94d8487e.20c858","order":1,"disp":true,"width":"6"},{"id":"e332a4d3.e57f98","type":"ui_group","z":"","name":"Humidity Sensor","tab":"94d8487e.20c858","order":2,"disp":true,"width":"6"},{"id":"8a378617.cc8df8","type":"ui_group","z":"","name":"Barometric Pressure Sensor","tab":"94d8487e.20c858","order":3,"disp":true,"width":"6"},{"id":"7005246b.6de1cc","type":"ui_group","z":"","name":"SQLite with ARTIK710 Sensor Board","tab":"94d8487e.20c858","order":6,"disp":true,"width":"6"},{"id":"efcbbd0f.539f2","type":"ui_group","z":"","name":"Query Commander","tab":"94d8487e.20c858","order":7,"disp":true,"width":"6"},{"id":"816cd38.51c8a3","type":"sqlitedb","z":"","db":"/home/ubuntu/sqliteArtik710SensorBoard"},{"id":"f039fee5.1698e","type":"ui_group","z":"","name":"SQLite with Pi Sense HAT","tab":"119be50c.b1efab","order":4,"disp":true,"width":"6"},{"id":"2a33f506.ed290a","type":"ui_group","z":"","name":"Hall Effect Sensor","tab":"94d8487e.20c858","order":4,"disp":true,"width":"6"},{"id":"94d8487e.20c858","type":"ui_tab","z":"","name":"Sensor Board (ARTIK 710)","icon":"dashboard","order":3},{"id":"119be50c.b1efab","type":"ui_tab","z":"","name":"Pi Sense HAT","icon":"dashboard","order":1}]
