02_CodeFiles/12_SQLite/02_SourceCodes/PiSenseHATwithSQLite_NodeRED_Ver_0.2.txt
[{"id":"300b6e7.e1e6f92","type":"rpi-sensehat in","z":"1e512cfc.072c63","name":"","motion":false,"env":true,"stick":false,"x":118.14147186279297,"y":594.5740213394165,"wires":[["cbb90ba0.331728","fa0bf4ad.913348","5bb85929.714598","b2c24faa.26d61"]]},{"id":"80b06cc2.980a1","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":576,"y":442,"wires":[]},{"id":"b2c24faa.26d61","type":"function","z":"1e512cfc.072c63","name":"Parsing Temperature","func":"msg.payload = msg.payload.temperature.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":333.13819885253906,"y":345.2236843109131,"wires":[["80b06cc2.980a1","18e20836.960058","1020fa57.4ff316","df3dbee4.f5292","aed725cb.e5e818","c1d4ab5b.18d7f8"]]},{"id":"cbb90ba0.331728","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":290,"y":880,"wires":[]},{"id":"556576b2.b49128","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":553,"y":662,"wires":[]},{"id":"5bb85929.714598","type":"function","z":"1e512cfc.072c63","name":"Parsing Humidity","func":"msg.payload = msg.payload.humidity.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":319.0017395019531,"y":592.0822358131409,"wires":[["556576b2.b49128","5da520d7.82825","efba7ab6.ca1098","1cecb89d.dc86b7"]]},{"id":"878f47fb.cffb98","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":545,"y":882,"wires":[]},{"id":"fa0bf4ad.913348","type":"function","z":"1e512cfc.072c63","name":"Parsing Pressure","func":"msg.payload = msg.payload.pressure.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":787,"wires":[["878f47fb.cffb98","8721fa0f.eeddd8","8c6ebbd9.68cf98","ffadda3.a1d5328"]]},{"id":"18e20836.960058","type":"ui_gauge","z":"1e512cfc.072c63","name":"","group":"ae125744.15cad8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature [ °C ]","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":597,"y":366,"wires":[]},{"id":"1020fa57.4ff316","type":"ui_chart","z":"1e512cfc.072c63","name":"","group":"ae125744.15cad8","order":2,"width":0,"height":0,"label":"Chart : Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":608,"y":401,"wires":[[],[]]},{"id":"5da520d7.82825","type":"ui_gauge","z":"1e512cfc.072c63","name":"","group":"97a8d9c3.7d5468","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity [ % ]","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":563,"y":583,"wires":[]},{"id":"efba7ab6.ca1098","type":"ui_chart","z":"1e512cfc.072c63","name":"","group":"97a8d9c3.7d5468","order":2,"width":0,"height":0,"label":"Chart : Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":564,"y":620,"wires":[[],[]]},{"id":"8721fa0f.eeddd8","type":"ui_gauge","z":"1e512cfc.072c63","name":"","group":"e5ef6a02.565478","order":1,"width":0,"height":0,"gtype":"gage","title":"Barometric Pressur [ hPa ]","label":"hPa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":591,"y":800,"wires":[]},{"id":"8c6ebbd9.68cf98","type":"ui_chart","z":"1e512cfc.072c63","name":"","group":"e5ef6a02.565478","order":2,"width":0,"height":0,"label":"Chart : Barometric Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":591,"y":835,"wires":[[],[]]},{"id":"df3dbee4.f5292","type":"moment","z":"1e512cfc.072c63","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":606,"y":122,"wires":[["ac8103aa.097da"]]},{"id":"ac8103aa.097da","type":"function","z":"1e512cfc.072c63","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":170,"wires":[["a8f75139.ad4f8","9a649814.cf5458"]]},{"id":"fcc0ef5d.72463","type":"function","z":"1e512cfc.072c63","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \", \" + hum +  \", \" + pre + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1054,"y":542,"wires":[["2a18ae16.989cc2"]]},{"id":"26e02ea4.698b62","type":"inject","z":"1e512cfc.072c63","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL, HUM INT NOT NULL, PRE INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1125,"y":495,"wires":[["2a18ae16.989cc2"]]},{"id":"56f320ab.e94f","type":"inject","z":"1e512cfc.072c63","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1163.749942779541,"y":667.0000343322754,"wires":[["9cc983c9.06dfb"]]},{"id":"f1906178.58808","type":"inject","z":"1e512cfc.072c63","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1158.9692611694336,"y":623.7500801086426,"wires":[["2a18ae16.989cc2"]]},{"id":"6d250e4d.49446","type":"inject","z":"1e512cfc.072c63","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1159.2499046325684,"y":582.5000705718994,"wires":[["2a18ae16.989cc2"]]},{"id":"628beb2.a48d314","type":"ui_button","z":"1e512cfc.072c63","name":"","group":"c12f19f2.339eb8","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE LOCAL <= strftime('%s','now', '-1 hours')*1000","x":1141,"y":452,"wires":[["2a18ae16.989cc2"]]},{"id":"d98ddd7d.e4301","type":"ui_template","z":"1e512cfc.072c63","group":"c12f19f2.339eb8","name":"UI Table","order":3,"width":"6","height":"11","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>T[°C]</th>\n <th>H[%]</th>\n <th>P[hPa]</th>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n <td>{{msg.payload[$index].HUM}}</td>\n <td>{{msg.payload[$index].PRE}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1646,"y":666,"wires":[[]]},{"id":"c41a1415.82d008","type":"ui_text_input","z":"1e512cfc.072c63","name":"","label":"","group":"a3310ad2.7b5f68","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1041.8506088256836,"y":714.6053838729858,"wires":[["62e87865.c89e98"]]},{"id":"b5a4cf71.1932","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":1676.6182708740234,"y":757.148344039917,"wires":[]},{"id":"62e87865.c89e98","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1193.9589157104492,"y":714.9274368286133,"wires":[["896d05bc.f16968"]]},{"id":"7ab2cd71.0152e4","type":"ui_template","z":"1e512cfc.072c63","group":"a3310ad2.7b5f68","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1684.4386978149414,"y":714.5517110824585,"wires":[[]]},{"id":"641c6498.1b42dc","type":"ui_template","z":"1e512cfc.072c63","group":"a3310ad2.7b5f68","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1662.77197265625,"y":802.885009765625,"wires":[[]]},{"id":"2a18ae16.989cc2","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1454,"y":540,"wires":[[]]},{"id":"9cc983c9.06dfb","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1422,"y":667,"wires":[["d98ddd7d.e4301"]]},{"id":"896d05bc.f16968","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1439,"y":716,"wires":[["7ab2cd71.0152e4","b5a4cf71.1932"]]},{"id":"1cecb89d.dc86b7","type":"function","z":"1e512cfc.072c63","name":"Parsing Humidity","func":"msg.payload = {'humidity':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":581,"y":542,"wires":[["69eac746.a0a498","5e7f3fe8.4b2b7"]]},{"id":"ffadda3.a1d5328","type":"function","z":"1e512cfc.072c63","name":"Parsing Pressure","func":"msg.payload = {'pressure':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":565,"y":760,"wires":[["69eac746.a0a498"]]},{"id":"aed725cb.e5e818","type":"function","z":"1e512cfc.072c63","name":"Parsing Temperature","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":322,"wires":[["69eac746.a0a498","5e7f3fe8.4b2b7"]]},{"id":"a8f75139.ad4f8","type":"function","z":"1e512cfc.072c63","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":215,"wires":[["69eac746.a0a498"]]},{"id":"69eac746.a0a498","type":"join","z":"1e512cfc.072c63","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","x":873,"y":542,"wires":[["79419f66.58e88","fcc0ef5d.72463"]]},{"id":"5eb2b9ce.b09078","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":1093,"y":849,"wires":[]},{"id":"7b3bdcd9.d40454","type":"ui_text","z":"1e512cfc.072c63","group":"c12f19f2.339eb8","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":1007,"y":169,"wires":[]},{"id":"9a649814.cf5458","type":"function","z":"1e512cfc.072c63","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":849,"y":169,"wires":[["7b3bdcd9.d40454"]]},{"id":"c1d4ab5b.18d7f8","type":"function","z":"1e512cfc.072c63","name":"Timestamp","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":631,"y":280,"wires":[["69eac746.a0a498"]]},{"id":"79419f66.58e88","type":"function","z":"1e512cfc.072c63","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temperature = parseFloat(msg.payload.temperature);\nvar humidity = parseFloat(msg.payload.humidity);\nvar pressure = parseFloat(msg.payload.pressure);\nvar device = 'pisensehat';\ncontext.global.temperature = msg.payload.temperature;\ncontext.global.humidity = msg.payload.humidity;\ncontext.global.pressure = msg.payload.pressure;\n\nmsg.payload = {'data':{device,time,local,temperature,humidity,pressure}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1043,"y":789,"wires":[["5eb2b9ce.b09078","63d82def.6929f4"]]},{"id":"63d82def.6929f4","type":"mqtt out","z":"1e512cfc.072c63","name":"","topic":"pisensehat","qos":"2","retain":"","broker":"353984d7.3e151c","x":1253,"y":789,"wires":[]},{"id":"52c2d28.335392c","type":"rpi-sensehat out","z":"1e512cfc.072c63","name":"","x":1266,"y":320,"wires":[]},{"id":"5e7f3fe8.4b2b7","type":"function","z":"1e512cfc.072c63","name":"Parsing Obj of Temp","func":"var temp = msg.payload.temperature;\nmsg.payload = {'topic':temp};\nreturn msg;","outputs":1,"noerr":0,"x":903,"y":323,"wires":[["59ce13db.2fc60c"]]},{"id":"59ce13db.2fc60c","type":"function","z":"1e512cfc.072c63","name":"Parsing Obj","func":"msg.paylaod = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1101,"y":322,"wires":[["52c2d28.335392c"]]},{"id":"d530a6c3.bf1ef8","type":"rpi-sensehat in","z":"1e512cfc.072c63","name":"","motion":false,"env":false,"stick":true,"x":180,"y":1140,"wires":[["d6bbbcd.0c0084"]]},{"id":"d6bbbcd.0c0084","type":"function","z":"1e512cfc.072c63","name":"Parsing Key Value","func":"var temperature = context.global.temperature;\nvar humidity = context.global.humidity;\nvar pressure = context.global.pressure;\n\n// { key: \"RIGHT\", state: 1 }\nvar key = msg.payload.key;\nvar state = msg.payload.state;\nvar keyState = key + state; \n\nif(\"LEFT2\" === keyState)\n{\n    msg.payload = \"Temp: \" + temperature + \" 'C\";\n    return msg;\n}\nelse if(\"RIGHT2\" === keyState)\n{\n    msg.payload = \"Hum: \" + humidity + \" %\";\n    return msg;\n}\nelse if(\"DOWN2\" === keyState)\n{\n    msg.payload = \"Press: \" + pressure + \" hPa\";\n    return msg;\n}\n","outputs":"1","noerr":0,"x":370,"y":1140,"wires":[["edeab4a9.0faed8","df0bec2a.5e3f"]]},{"id":"edeab4a9.0faed8","type":"debug","z":"1e512cfc.072c63","name":"","active":true,"console":"false","complete":"false","x":570,"y":1200,"wires":[]},{"id":"df0bec2a.5e3f","type":"rpi-sensehat out","z":"1e512cfc.072c63","name":"","x":572.3771667480466,"y":1139.1183929443357,"wires":[]},{"id":"5e097a1c.2066e4","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1480,"y":980,"wires":[["34ec2afd.a606e6"]]},{"id":"14fce59a.c0255a","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1240,"y":980,"wires":[["5e097a1c.2066e4"]]},{"id":"34ec2afd.a606e6","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1726.3639831542964,"y":979.4955902099607,"wires":[["eb61ff87.2a78c"]]},{"id":"eb61ff87.2a78c","type":"function","z":"1e512cfc.072c63","name":"Parsing MAX(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1923,"y":979,"wires":[["cc053665.772658","559b7a24.03ed14"]]},{"id":"cc053665.772658","type":"ui_text","z":"1e512cfc.072c63","group":"ae125744.15cad8","order":3,"width":0,"height":0,"name":"","label":"MAX TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2150,"y":979,"wires":[]},{"id":"af159d5a.3ab1f","type":"inject","z":"1e512cfc.072c63","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":913.4715220133462,"y":1075.8808771769202,"wires":[["14fce59a.c0255a","88713f77.d568c","1b7c2d08.3a7593","3780aef2.3ca482","bb3cf348.25b2e","e8622853.321228","51514da8.fc8864","698b1200.82fe8","a8c9a3c8.6ff1d"]]},{"id":"fa3cfa0b.945ca8","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1480,"y":1071,"wires":[["79e1c5da.1713fc"]]},{"id":"88713f77.d568c","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1240,"y":1071,"wires":[["fa3cfa0b.945ca8"]]},{"id":"79e1c5da.1713fc","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1726.3639831542964,"y":1070.4955902099607,"wires":[["8fb1c4c4.722c38"]]},{"id":"8fb1c4c4.722c38","type":"function","z":"1e512cfc.072c63","name":"Parsing MIN(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1923,"y":1070,"wires":[["693bce34.a332a","821372c7.4a47e"]]},{"id":"693bce34.a332a","type":"ui_text","z":"1e512cfc.072c63","group":"ae125744.15cad8","order":4,"width":0,"height":0,"name":"","label":"MIN  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2170,"y":1071,"wires":[]},{"id":"fa2e9c15.71218","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1481,"y":1158,"wires":[["332f9d22.7697b2"]]},{"id":"1b7c2d08.3a7593","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(TEMP) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1241,"y":1158,"wires":[["fa2e9c15.71218"]]},{"id":"332f9d22.7697b2","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1727.3639831542964,"y":1157.495590209961,"wires":[["2de14f9c.12859"]]},{"id":"2de14f9c.12859","type":"function","z":"1e512cfc.072c63","name":"Parsing AVG(TEMP)","func":"// \"[{\"MAX(TEMP)\":40.6}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(14, 4)) + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"x":1924,"y":1157,"wires":[["4e1773c7.05c2ec","b029a362.7af2d"]]},{"id":"b029a362.7af2d","type":"ui_text","z":"1e512cfc.072c63","group":"ae125744.15cad8","order":5,"width":0,"height":0,"name":"","label":"AVG  TEMPERATURE:","format":"{{msg.payload}}","layout":"row-spread","x":2151,"y":1158,"wires":[]},{"id":"559b7a24.03ed14","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2125,"y":1020,"wires":[]},{"id":"821372c7.4a47e","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2140,"y":1112,"wires":[]},{"id":"4e1773c7.05c2ec","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2121,"y":1204,"wires":[]},{"id":"1e366d2a.d29c13","type":"comment","z":"1e512cfc.072c63","name":"Solving MAX, MIN, AVG TEMP","info":"","x":1062.7924671173096,"y":927.7009315490723,"wires":[]},{"id":"ca799006.60ed9","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1489.7369384765625,"y":1308.3333740234375,"wires":[["e9d7c305.84ac6"]]},{"id":"3780aef2.3ca482","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1249.7369384765625,"y":1308.3333740234375,"wires":[["ca799006.60ed9"]]},{"id":"e9d7c305.84ac6","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1736.100921630859,"y":1307.8289642333982,"wires":[["29c9d738.996158","bb508ead.d07b6"]]},{"id":"29c9d738.996158","type":"function","z":"1e512cfc.072c63","name":"Parsing MAX(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":1922.7369384765625,"y":1307.3333740234375,"wires":[["804948d.6a453b8","99b97cf.8d41d8"]]},{"id":"804948d.6a453b8","type":"ui_text","z":"1e512cfc.072c63","group":"97a8d9c3.7d5468","order":3,"width":0,"height":0,"name":"","label":"MAX HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2149.7369384765625,"y":1307.3333740234375,"wires":[]},{"id":"200f8b7e.7cb164","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1489.7369384765625,"y":1399.3333740234375,"wires":[["9eda7e1c.3478e"]]},{"id":"bb3cf348.25b2e","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(HUM) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1249.7369384765625,"y":1399.3333740234375,"wires":[["200f8b7e.7cb164"]]},{"id":"9eda7e1c.3478e","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1736.100921630859,"y":1398.8289642333984,"wires":[["f6084d5f.c53f","1a17cfa4.75165"]]},{"id":"f6084d5f.c53f","type":"function","z":"1e512cfc.072c63","name":"Parsing MIN(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":1922.7369384765625,"y":1398.3333740234375,"wires":[["62471003.151f5","c33e6360.930ac"]]},{"id":"62471003.151f5","type":"ui_text","z":"1e512cfc.072c63","group":"97a8d9c3.7d5468","order":4,"width":0,"height":0,"name":"","label":"MIN HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2159.7369384765625,"y":1399.3333740234375,"wires":[]},{"id":"9132182b.6bc9b8","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1490.7369384765625,"y":1486.3333740234375,"wires":[["3bcb11bd.b9d7ee"]]},{"id":"e8622853.321228","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(HUM) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1250.7369384765625,"y":1486.3333740234375,"wires":[["9132182b.6bc9b8"]]},{"id":"3bcb11bd.b9d7ee","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1737.100921630859,"y":1485.8289642333984,"wires":[["79f9cfcd.ca845"]]},{"id":"79f9cfcd.ca845","type":"function","z":"1e512cfc.072c63","name":"Parsing AVG(HUM)","func":"// \"[{\"MAX(HUM)\":97.6}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 4)) + \" %\";\nreturn msg;","outputs":1,"noerr":0,"x":1923.7369384765625,"y":1485.3333740234375,"wires":[["1f23b02e.cc087","98ddb936.df64f8"]]},{"id":"98ddb936.df64f8","type":"ui_text","z":"1e512cfc.072c63","group":"97a8d9c3.7d5468","order":5,"width":0,"height":0,"name":"","label":"AVG HUMIDITY:","format":"{{msg.payload}}","layout":"row-spread","x":2140.7369384765625,"y":1486.3333740234375,"wires":[]},{"id":"99b97cf.8d41d8","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2134.7369384765625,"y":1348.3333740234375,"wires":[]},{"id":"c33e6360.930ac","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2149.7369384765625,"y":1440.3333740234375,"wires":[]},{"id":"1f23b02e.cc087","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2130.7369384765625,"y":1532.3333740234375,"wires":[]},{"id":"3eccadba.7e09a2","type":"comment","z":"1e512cfc.072c63","name":"Solving MAX, MIN, AVG HUMIDITY","info":"","x":1082.529405593872,"y":1256.0343055725098,"wires":[]},{"id":"9ce60111.6a794","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1484.2930908203125,"y":1643.8341064453125,"wires":[["4004a3a1.afca2c"]]},{"id":"51514da8.fc8864","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(PRE) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1244.2930908203125,"y":1643.8341064453125,"wires":[["9ce60111.6a794"]]},{"id":"4004a3a1.afca2c","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1730.657073974609,"y":1643.3296966552734,"wires":[["faa7eb4.f776118"]]},{"id":"faa7eb4.f776118","type":"function","z":"1e512cfc.072c63","name":"Parsing MAX(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":1917.2930908203125,"y":1642.8341064453125,"wires":[["a2c1d78d.59f718","d827147.f4739e8"]]},{"id":"a2c1d78d.59f718","type":"ui_text","z":"1e512cfc.072c63","group":"e5ef6a02.565478","order":3,"width":0,"height":0,"name":"","label":"MAX PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2144.2930908203125,"y":1642.8341064453125,"wires":[]},{"id":"e6516f9.060a59","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1484.2930908203125,"y":1734.8341064453125,"wires":[["dba60efe.89976"]]},{"id":"698b1200.82fe8","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MIN(PRE) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1244.2930908203125,"y":1734.8341064453125,"wires":[["e6516f9.060a59"]]},{"id":"dba60efe.89976","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1730.657073974609,"y":1734.3296966552734,"wires":[["e6fb58a0.8055e8"]]},{"id":"e6fb58a0.8055e8","type":"function","z":"1e512cfc.072c63","name":"Parsing MIN(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":1917.2930908203125,"y":1733.8341064453125,"wires":[["d79e4168.bd10b","ee724cc8.0c4db"]]},{"id":"d79e4168.bd10b","type":"ui_text","z":"1e512cfc.072c63","group":"e5ef6a02.565478","order":4,"width":0,"height":0,"name":"","label":"MIN PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2164.2930908203125,"y":1734.8341064453125,"wires":[]},{"id":"99fe4971.11d8d8","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1485.2930908203125,"y":1821.8341064453125,"wires":[["2896cab1.f38a36"]]},{"id":"a8c9a3c8.6ff1d","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT AVG(PRE) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1245.2930908203125,"y":1821.8341064453125,"wires":[["99fe4971.11d8d8"]]},{"id":"2896cab1.f38a36","type":"json","z":"1e512cfc.072c63","name":"","pretty":false,"x":1731.657073974609,"y":1821.3296966552734,"wires":[["afa9fa56.06a838"]]},{"id":"afa9fa56.06a838","type":"function","z":"1e512cfc.072c63","name":"Parsing AVG(PRE)","func":"// \"[{\"MAX(PRE)\":1021.7}]\"\nmsg.payload = parseFloat(msg.payload.toString().substr(13, 6)) + \" hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":1918.2930908203125,"y":1820.8341064453125,"wires":[["1721574a.91fc89","9b511994.f5f4d8"]]},{"id":"9b511994.f5f4d8","type":"ui_text","z":"1e512cfc.072c63","group":"e5ef6a02.565478","order":5,"width":0,"height":0,"name":"","label":"AVG PRESSURE:","format":"{{msg.payload}}","layout":"row-spread","x":2145.2930908203125,"y":1821.8341064453125,"wires":[]},{"id":"d827147.f4739e8","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2129.2930908203125,"y":1683.8341064453125,"wires":[]},{"id":"ee724cc8.0c4db","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2144.2930908203125,"y":1775.8341064453125,"wires":[]},{"id":"1721574a.91fc89","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":2125.2930908203125,"y":1867.8341064453125,"wires":[]},{"id":"a11a88ff.94d768","type":"comment","z":"1e512cfc.072c63","name":"Solving MAX, MIN, AVG PRESSURE","info":"","x":1087.085557937622,"y":1591.5350379943848,"wires":[]},{"id":"bb508ead.d07b6","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":1903,"y":1351,"wires":[]},{"id":"1a17cfa4.75165","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":1901,"y":1441,"wires":[]},{"id":"ae125744.15cad8","type":"ui_group","z":"","name":"Temperature Sensor","tab":"1b4838a6.acac47","order":1,"disp":true,"width":"6"},{"id":"97a8d9c3.7d5468","type":"ui_group","z":"","name":"Humidity Sensor","tab":"1b4838a6.acac47","order":2,"disp":true,"width":"6"},{"id":"e5ef6a02.565478","type":"ui_group","z":"","name":"Barometric Pressure Sensor","tab":"1b4838a6.acac47","order":3,"disp":true,"width":"6"},{"id":"c12f19f2.339eb8","type":"ui_group","z":"","name":"SQLite with Pi Sense HAT","tab":"1b4838a6.acac47","order":4,"disp":true,"width":"6"},{"id":"a3310ad2.7b5f68","type":"ui_group","z":"","name":"Query Commander","tab":"1b4838a6.acac47","order":5,"disp":true,"width":"6"},{"id":"c1d57c25.1437d","type":"sqlitedb","z":"","db":"/home/pi/sqliteTemATPiSenseHat"},{"id":"353984d7.3e151c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1b4838a6.acac47","type":"ui_tab","z":"","name":"Pi Sense HAT","icon":"dashboard","order":2}]
