02_CodeFiles/12_SQLite/02_SourceCodes/PiSenseHATwithSQLite_NodeRED.txt
[{"id":"300b6e7.e1e6f92","type":"rpi-sensehat in","z":"1e512cfc.072c63","name":"","motion":false,"env":true,"stick":false,"x":118.14147186279297,"y":594.5740213394165,"wires":[["2909107c.e51e","cbb90ba0.331728","e39501c2.b36e3","d227a535.7f2c38"]]},{"id":"80b06cc2.980a1","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":729,"y":510,"wires":[]},{"id":"b2c24faa.26d61","type":"function","z":"1e512cfc.072c63","name":"Parsing Temperature","func":"// {\"temperature\":33.92,\"humidity\":39.8,\"pressure\":1010.29}\n\nvar temp = msg.payload.toString().substr(15, 4);\nmsg.payload = parseFloat(temp);\nreturn msg;","outputs":1,"noerr":0,"x":467.13819885253906,"y":413.2236843109131,"wires":[["80b06cc2.980a1","18e20836.960058","1020fa57.4ff316","df3dbee4.f5292","aed725cb.e5e818","c1d4ab5b.18d7f8"]]},{"id":"2909107c.e51e","type":"json","z":"1e512cfc.072c63","name":"","x":291.13817596435547,"y":414.5164489746094,"wires":[["b2c24faa.26d61"]]},{"id":"cbb90ba0.331728","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":310,"y":940,"wires":[]},{"id":"556576b2.b49128","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":721,"y":738,"wires":[]},{"id":"5bb85929.714598","type":"function","z":"1e512cfc.072c63","name":"Parsing Humidity","func":"// {\"temperature\":33.92,\"humidity\":39.8,\"pressure\":1010.29}\n\nvar hum = msg.payload.toString().substr(31, 5).replace(\":\",\"\").replace(\"\",\"\",\"\");\nmsg.payload = parseFloat(hum);\nreturn msg;","outputs":1,"noerr":0,"x":463.0017395019531,"y":660.0822358131409,"wires":[["556576b2.b49128","5da520d7.82825","efba7ab6.ca1098","1cecb89d.dc86b7"]]},{"id":"e39501c2.b36e3","type":"json","z":"1e512cfc.072c63","name":"","x":295.00171661376953,"y":660.3750004768372,"wires":[["5bb85929.714598"]]},{"id":"878f47fb.cffb98","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":709,"y":958,"wires":[]},{"id":"fa0bf4ad.913348","type":"function","z":"1e512cfc.072c63","name":"Parsing Pressure","func":"// {\"temperature\":33.92,\"humidity\":39.8,\"pressure\":1010.29}\n//                15               32              48\nvar pressure = msg.payload.toString().substr(48, 10).replace(\":\",\"\").replace(\"}\",\"\");\nmsg.payload = parseFloat(pressure);\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":855,"wires":[["878f47fb.cffb98","8721fa0f.eeddd8","8c6ebbd9.68cf98","ffadda3.a1d5328"]]},{"id":"d227a535.7f2c38","type":"json","z":"1e512cfc.072c63","name":"","x":295.00171661376953,"y":856.3750004768372,"wires":[["fa0bf4ad.913348"]]},{"id":"18e20836.960058","type":"ui_gauge","z":"1e512cfc.072c63","name":"","group":"ae125744.15cad8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature [ °C ]","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":434,"wires":[]},{"id":"1020fa57.4ff316","type":"ui_chart","z":"1e512cfc.072c63","name":"","group":"ae125744.15cad8","order":0,"width":0,"height":0,"label":"Chart : Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":761,"y":469,"wires":[[],[]]},{"id":"5da520d7.82825","type":"ui_gauge","z":"1e512cfc.072c63","name":"","group":"97a8d9c3.7d5468","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity [ % ]","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":731,"y":659,"wires":[]},{"id":"efba7ab6.ca1098","type":"ui_chart","z":"1e512cfc.072c63","name":"","group":"97a8d9c3.7d5468","order":0,"width":0,"height":0,"label":"Chart : Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":732,"y":696,"wires":[[],[]]},{"id":"8721fa0f.eeddd8","type":"ui_gauge","z":"1e512cfc.072c63","name":"","group":"e5ef6a02.565478","order":0,"width":0,"height":0,"gtype":"gage","title":"Barometric Pressur [ hPa ]","label":"hPa","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":876,"wires":[]},{"id":"8c6ebbd9.68cf98","type":"ui_chart","z":"1e512cfc.072c63","name":"","group":"e5ef6a02.565478","order":0,"width":0,"height":0,"label":"Chart : Barometric Pressure Sensor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":775,"y":911,"wires":[[],[]]},{"id":"df3dbee4.f5292","type":"moment","z":"1e512cfc.072c63","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":759,"y":143,"wires":[["ac8103aa.097da"]]},{"id":"ac8103aa.097da","type":"function","z":"1e512cfc.072c63","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":818,"y":194,"wires":[["a8f75139.ad4f8","9a649814.cf5458"]]},{"id":"fcc0ef5d.72463","type":"function","z":"1e512cfc.072c63","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \", \" + hum +  \", \" + pre + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1238,"y":610,"wires":[["2a18ae16.989cc2"]]},{"id":"26e02ea4.698b62","type":"inject","z":"1e512cfc.072c63","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL, HUM INT NOT NULL, PRE INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1309,"y":563,"wires":[["2a18ae16.989cc2"]]},{"id":"56f320ab.e94f","type":"inject","z":"1e512cfc.072c63","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1347.749942779541,"y":735.0000343322754,"wires":[["9cc983c9.06dfb"]]},{"id":"f1906178.58808","type":"inject","z":"1e512cfc.072c63","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1342.9692611694336,"y":691.7500801086426,"wires":[["2a18ae16.989cc2"]]},{"id":"6d250e4d.49446","type":"inject","z":"1e512cfc.072c63","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1343.2499046325684,"y":650.5000705718994,"wires":[["2a18ae16.989cc2"]]},{"id":"628beb2.a48d314","type":"ui_button","z":"1e512cfc.072c63","name":"","group":"c12f19f2.339eb8","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE LOCAL <= strftime('%s','now', '-1 hours')*1000","x":1325,"y":520,"wires":[["2a18ae16.989cc2"]]},{"id":"d98ddd7d.e4301","type":"ui_template","z":"1e512cfc.072c63","group":"c12f19f2.339eb8","name":"UI Table","order":3,"width":"6","height":"11","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>T[°C]</th>\n <th>H[%]</th>\n <th>P[hPa]</th>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n <td>{{msg.payload[$index].HUM}}</td>\n <td>{{msg.payload[$index].PRE}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1830,"y":734,"wires":[[]]},{"id":"c41a1415.82d008","type":"ui_text_input","z":"1e512cfc.072c63","name":"","label":"","group":"a3310ad2.7b5f68","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1225.8506088256836,"y":782.6053838729858,"wires":[["62e87865.c89e98"]]},{"id":"b5a4cf71.1932","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":1860.6182708740234,"y":825.148344039917,"wires":[]},{"id":"62e87865.c89e98","type":"function","z":"1e512cfc.072c63","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1377.9589157104492,"y":782.9274368286133,"wires":[["896d05bc.f16968"]]},{"id":"7ab2cd71.0152e4","type":"ui_template","z":"1e512cfc.072c63","group":"a3310ad2.7b5f68","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1868.4386978149414,"y":782.5517110824585,"wires":[[]]},{"id":"641c6498.1b42dc","type":"ui_template","z":"1e512cfc.072c63","group":"a3310ad2.7b5f68","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1846.77197265625,"y":870.885009765625,"wires":[[]]},{"id":"2a18ae16.989cc2","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1638,"y":608,"wires":[[]]},{"id":"9cc983c9.06dfb","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1606,"y":735,"wires":[["d98ddd7d.e4301"]]},{"id":"896d05bc.f16968","type":"sqlite","z":"1e512cfc.072c63","mydb":"c1d57c25.1437d","name":"","x":1623,"y":784,"wires":[["7ab2cd71.0152e4","b5a4cf71.1932"]]},{"id":"1cecb89d.dc86b7","type":"function","z":"1e512cfc.072c63","name":"Parsing Humidity","func":"msg.payload = {'humidity':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":749,"y":610,"wires":[["69eac746.a0a498"]]},{"id":"ffadda3.a1d5328","type":"function","z":"1e512cfc.072c63","name":"Parsing Pressure","func":"msg.payload = {'pressure':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":749,"y":821,"wires":[["69eac746.a0a498"]]},{"id":"aed725cb.e5e818","type":"function","z":"1e512cfc.072c63","name":"Parsing Temperature","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":759,"y":390,"wires":[["69eac746.a0a498"]]},{"id":"a8f75139.ad4f8","type":"function","z":"1e512cfc.072c63","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":856,"y":247,"wires":[["69eac746.a0a498"]]},{"id":"69eac746.a0a498","type":"join","z":"1e512cfc.072c63","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","x":1060,"y":610,"wires":[["fcc0ef5d.72463","79419f66.58e88"]]},{"id":"5eb2b9ce.b09078","type":"debug","z":"1e512cfc.072c63","name":"","active":false,"console":"false","complete":"false","x":1277,"y":917,"wires":[]},{"id":"7b3bdcd9.d40454","type":"ui_text","z":"1e512cfc.072c63","group":"c12f19f2.339eb8","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":193,"wires":[]},{"id":"9a649814.cf5458","type":"function","z":"1e512cfc.072c63","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":193,"wires":[["7b3bdcd9.d40454"]]},{"id":"c1d4ab5b.18d7f8","type":"function","z":"1e512cfc.072c63","name":"Timestamp","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":781,"y":345,"wires":[["69eac746.a0a498"]]},{"id":"79419f66.58e88","type":"function","z":"1e512cfc.072c63","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\nvar hum = msg.payload.humidity;\nvar pre = msg.payload.pressure;\n\nmsg.payload = {'data':{time,local,temp,hum,pre}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1227,"y":857,"wires":[["5eb2b9ce.b09078","63d82def.6929f4"]]},{"id":"63d82def.6929f4","type":"mqtt out","z":"1e512cfc.072c63","name":"","topic":"piSenseHat","qos":"2","retain":"","broker":"353984d7.3e151c","x":1437,"y":857,"wires":[]},{"id":"ae125744.15cad8","type":"ui_group","z":"","name":"Temperature Sensor","tab":"1b4838a6.acac47","order":1,"disp":true,"width":"6"},{"id":"97a8d9c3.7d5468","type":"ui_group","z":"","name":"Humidity Sensor","tab":"1b4838a6.acac47","order":2,"disp":true,"width":"6"},{"id":"e5ef6a02.565478","type":"ui_group","z":"","name":"Barometric Pressure Sensor","tab":"1b4838a6.acac47","order":3,"disp":true,"width":"6"},{"id":"c12f19f2.339eb8","type":"ui_group","z":"","name":"SQLite with Pi Sense HAT","tab":"1b4838a6.acac47","order":4,"disp":true,"width":"6"},{"id":"a3310ad2.7b5f68","type":"ui_group","z":"","name":"Query Commander","tab":"1b4838a6.acac47","order":5,"disp":true,"width":"6"},{"id":"c1d57c25.1437d","type":"sqlitedb","z":"","db":"/home/pi/sqliteTemATPiSenseHat"},{"id":"353984d7.3e151c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1b4838a6.acac47","type":"ui_tab","z":"","name":"Pi Sense HAT","icon":"dashboard","order":1}]
