02_CodeFiles/12_SQLite/02_SourceCodes/PiSenseHATForTetrisGame.txt
[{"id":"a8132e47.4068a","type":"rpi-sensehat in","z":"7a6ce12a.2883","name":"","motion":false,"env":false,"stick":true,"x":140,"y":140,"wires":[["586d77e.df2a088"]]},{"id":"c73c2047.b1535","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":470,"y":220,"wires":[]},{"id":"b83cf8d4.d24e08","type":"ui_text","z":"7a6ce12a.2883","group":"545a53d3.cddf4c","order":2,"width":0,"height":0,"name":"","label":"Game Result:","format":"{{msg.payload}}","layout":"col-center","x":980,"y":220,"wires":[]},{"id":"3e4cc923.c19e56","type":"rpi-sensehat out","z":"7a6ce12a.2883","name":"","x":970,"y":260,"wires":[]},{"id":"586d77e.df2a088","type":"function","z":"7a6ce12a.2883","name":"Parsing Key Value","func":"// { key: \"RIGHT\", state: 1 }\nvar key = msg.payload.key;\nvar state = msg.payload.state;\nvar keyState = key + state; \n// \"ENTER1\"\nif(\"ENTER1\" === keyState)\n{\n    msg.payload = 1;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["c73c2047.b1535","e1ad4cdb.4cac"]]},{"id":"e1ad4cdb.4cac","type":"exec","z":"7a6ce12a.2883","command":"sudo python /home/pi/Documents/TetriPiSense/tetripisense.py","addpay":false,"append":"measure_temp","useSpawn":"true","timer":"","oldrc":false,"name":"play a game","x":516,"y":140,"wires":[["c748391b.fdcf18","2c5b2dca.b2ae32"],[],[]]},{"id":"c748391b.fdcf18","type":"function","z":"7a6ce12a.2883","name":"Displaying Result","func":"// \"Game over, score: 16↵\"\n\nvar result = msg.payload.toString().substr(0, 21).replace('↵\"','').replace('↵','');\nmsg.payload = (result);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["76b193ed.82e89c"]]},{"id":"76b193ed.82e89c","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":890,"y":120,"wires":[]},{"id":"6b176ed4.940f1","type":"ui_button","z":"7a6ce12a.2883","name":"","group":"545a53d3.cddf4c","order":1,"width":0,"height":0,"passthru":false,"label":"Start Playing","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320.97431727818076,"y":85.56077139718191,"wires":[["e1ad4cdb.4cac"]]},{"id":"2c5b2dca.b2ae32","type":"function","z":"7a6ce12a.2883","name":"Displaying Result","func":"// \"Game over, score: 16↵\"\n\nvar result = msg.payload.toString().substr(18, 4).replace('↵\"','');\nmsg.payload = parseInt(result);\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":316,"wires":[["245c177b.aa3fa8","c1f1208b.ba946","ad58d38.08dc03","3e4cc923.c19e56","b83cf8d4.d24e08"]]},{"id":"245c177b.aa3fa8","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":962.3727722167966,"y":312.23246765136713,"wires":[]},{"id":"58af064b.3ab458","type":"inject","z":"7a6ce12a.2883","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, SCORE INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1400,"y":560,"wires":[["8b38cc57.8c261"]]},{"id":"637ab8c0.8bd598","type":"inject","z":"7a6ce12a.2883","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1438.749942779541,"y":732.0000343322754,"wires":[["ad40bfb1.f8a8a"]]},{"id":"58e200e2.95af9","type":"inject","z":"7a6ce12a.2883","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1433.9692611694336,"y":688.7500801086426,"wires":[["8b38cc57.8c261"]]},{"id":"fd3d961e.2f60a8","type":"inject","z":"7a6ce12a.2883","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1434.2499046325684,"y":647.5000705718994,"wires":[["8b38cc57.8c261"]]},{"id":"ad58d38.08dc03","type":"moment","z":"7a6ce12a.2883","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":523,"y":435,"wires":[["d451cb2e.789b98"]]},{"id":"c955d084.612ae","type":"ui_text","z":"7a6ce12a.2883","group":"102046f0.46e0e9","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":1114,"y":434,"wires":[]},{"id":"8c01c5a2.13a268","type":"ui_button","z":"7a6ce12a.2883","name":"","group":"102046f0.46e0e9","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1412.3352584838867,"y":521.797682762146,"wires":[["8b38cc57.8c261"]]},{"id":"d8ef2a0f.d30428","type":"comment","z":"7a6ce12a.2883","name":"SQLite Part","info":"","x":1370,"y":420,"wires":[]},{"id":"a1c00431.92e6c8","type":"ui_template","z":"7a6ce12a.2883","group":"102046f0.46e0e9","name":"UI Table","order":3,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>SCORE</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].SCORE}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1895,"y":729,"wires":[[]]},{"id":"ad40bfb1.f8a8a","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1677,"y":731,"wires":[["a1c00431.92e6c8"]]},{"id":"bd9e10e0.96fa8","type":"mqtt out","z":"7a6ce12a.2883","name":"","topic":"pisensetetris","qos":"2","retain":"","broker":"391b63dc.9f2ddc","x":1050,"y":1320,"wires":[]},{"id":"250c7ddd.2d0b92","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1679,"y":780,"wires":[["27cfffd5.19814","66a5ae4d.7f52e"]]},{"id":"34d2dfe6.b649","type":"ui_text_input","z":"7a6ce12a.2883","name":"","label":"","group":"ff63fb9e.ae3238","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1316.8506088256836,"y":779.6053838729858,"wires":[["e63615dd.ed3d08"]]},{"id":"27cfffd5.19814","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":1914.6182708740234,"y":823.148344039917,"wires":[]},{"id":"e63615dd.ed3d08","type":"function","z":"7a6ce12a.2883","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1468.9589157104492,"y":779.9274368286133,"wires":[["250c7ddd.2d0b92"]]},{"id":"66a5ae4d.7f52e","type":"ui_template","z":"7a6ce12a.2883","group":"ff63fb9e.ae3238","name":"Query Answer","order":3,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1922.4386978149414,"y":780.5517110824585,"wires":[[]]},{"id":"cb622f0b.6c0d6","type":"ui_template","z":"7a6ce12a.2883","group":"ff63fb9e.ae3238","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME;</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1900.77197265625,"y":868.885009765625,"wires":[[]]},{"id":"8b38cc57.8c261","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1715,"y":602,"wires":[[]]},{"id":"c1f1208b.ba946","type":"function","z":"7a6ce12a.2883","name":"Parsing Score","func":"msg.payload = {'score':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":720,"wires":[["5c2b89de.918d08","72360ba6.c7f5e4","f3abe8d9.b4bed8"]]},{"id":"d451cb2e.789b98","type":"function","z":"7a6ce12a.2883","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":435,"wires":[["5efc648c.5dcdac","bda08bef.c27098","9a25c748.f00668","6dd40858.b346a8"]]},{"id":"9a25c748.f00668","type":"function","z":"7a6ce12a.2883","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":947,"y":434,"wires":[["c955d084.612ae"]]},{"id":"bda08bef.c27098","type":"function","z":"7a6ce12a.2883","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":620,"wires":[["92027c2a.3eb0a","72360ba6.c7f5e4"]]},{"id":"5efc648c.5dcdac","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":997,"y":382,"wires":[]},{"id":"92027c2a.3eb0a","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":1010,"y":668,"wires":[]},{"id":"5c2b89de.918d08","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":1050,"y":760,"wires":[]},{"id":"72360ba6.c7f5e4","type":"join","z":"7a6ce12a.2883","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":1196,"y":601,"wires":[["d16f05fd.e16198","5b0c4987.6bea28"]]},{"id":"8785b95f.1e6c78","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":1030,"y":1380,"wires":[]},{"id":"5b0c4987.6bea28","type":"function","z":"7a6ce12a.2883","name":"Insert query","func":"var timestamp = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar score = msg.payload.score;\n//var hum = msg.payload.humidity;\n//var pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + timestamp + \", \" + local + \", \" + score + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1370,"y":600,"wires":[["8b38cc57.8c261"]]},{"id":"d16f05fd.e16198","type":"function","z":"7a6ce12a.2883","name":"Making Object","func":"var device = \"tetrisforpisenshat\";\nvar timestamp = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar score = msg.payload.score;\n\nmsg.payload = {'data':{device,timestamp,local,score}};\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1320,"wires":[["8785b95f.1e6c78","bd9e10e0.96fa8"]]},{"id":"6dd40858.b346a8","type":"function","z":"7a6ce12a.2883","name":"Parsing Timestamp","func":"var d = new Date();\nmsg.payload = {'timestamp':d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":520,"wires":[["70d3882c.ba2f28","72360ba6.c7f5e4"]]},{"id":"70d3882c.ba2f28","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":990,"y":580,"wires":[]},{"id":"3d75e7f7.715e08","type":"mqtt in","z":"7a6ce12a.2883","name":"MQTT - startpisensehattetris","topic":"startpisensehattetris","qos":"2","broker":"353984d7.3e151c","x":278,"y":40,"wires":[["e1ad4cdb.4cac","c1aa229e.38a8e"]]},{"id":"c1aa229e.38a8e","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":542.8033701578776,"y":45.197359720865876,"wires":[]},{"id":"be9fc640.e73e48","type":"ui_chart","z":"7a6ce12a.2883","name":"","group":"545a53d3.cddf4c","order":3,"width":0,"height":0,"label":"Chart : Tetris Scores","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1040,"y":860,"wires":[[],[]]},{"id":"f3abe8d9.b4bed8","type":"function","z":"7a6ce12a.2883","name":"Parsing Score Obj","func":"msg.payload = parseFloat(msg.payload.score);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":800,"wires":[["be9fc640.e73e48"]]},{"id":"1a83fcc7.c07d43","type":"ui_button","z":"7a6ce12a.2883","name":"","group":"545a53d3.cddf4c","order":4,"width":0,"height":0,"passthru":false,"label":"Max Score","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1297,"y":960,"wires":[["2bb3d036.259e9"]]},{"id":"2bb3d036.259e9","type":"function","z":"7a6ce12a.2883","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n  \"topic\": \"SELECT MAX(SCORE) FROM [HOME]\"\n};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1460,"y":960,"wires":[["d4f2ba67.5c0e38"]]},{"id":"d4f2ba67.5c0e38","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1660,"y":960,"wires":[["92ee5a88.3278e8"]]},{"id":"4faa12d2.c046ec","type":"ui_text","z":"7a6ce12a.2883","group":"545a53d3.cddf4c","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2310,"y":1026,"wires":[]},{"id":"55569efd.77749","type":"function","z":"7a6ce12a.2883","name":"Parsing MAX(SCORE)","func":"// \"[{\"MAX(SCORE)\":163}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(15, 3));\nreturn msg;","outputs":1,"noerr":0,"x":2038,"y":960,"wires":[["95f2ced0.3ec8d"]]},{"id":"92ee5a88.3278e8","type":"json","z":"7a6ce12a.2883","name":"","pretty":false,"x":1856.3639831542964,"y":959.4955902099607,"wires":[["55569efd.77749"]]},{"id":"2bd9100b.94387","type":"ui_button","z":"7a6ce12a.2883","name":"","group":"545a53d3.cddf4c","order":6,"width":0,"height":0,"passthru":false,"label":"Min Score","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1280,"y":1162,"wires":[["587fc657.0262e8"]]},{"id":"587fc657.0262e8","type":"function","z":"7a6ce12a.2883","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": \"SELECT MIN(SCORE) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1453,"y":1162,"wires":[["431897d9.5f3d38"]]},{"id":"13db5f21.cefb71","type":"ui_text","z":"7a6ce12a.2883","group":"545a53d3.cddf4c","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2310,"y":1224,"wires":[]},{"id":"7160f2a8.f54fec","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":2050,"y":1120,"wires":[]},{"id":"95f8b99e.84cbc8","type":"function","z":"7a6ce12a.2883","name":"Parsing MIN(SCORE)","func":"// \"[{\"MAX(SCORE)\":163}]\"\n\nmsg.payload = parseFloat(msg.payload.toString().substr(15, 3));\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":1160,"wires":[["5e6b8a2b.838cc4"]]},{"id":"6d5624b9.c0361c","type":"json","z":"7a6ce12a.2883","name":"","pretty":false,"x":1870,"y":1160,"wires":[["7160f2a8.f54fec","95f8b99e.84cbc8"]]},{"id":"431897d9.5f3d38","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1653,"y":1162,"wires":[["6d5624b9.c0361c"]]},{"id":"95f2ced0.3ec8d","type":"function","z":"7a6ce12a.2883","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n// \"[{\"TIME\":1513126219950,\"LOCAL\":20171213115019,\"SCORE\":223}]\"\nvar score = msg.payload;\nvar newMsg = {\n    \"topic\": \"SELECT * FROM HOME WHERE SCORE = \" + score \n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1460,"y":1026,"wires":[["2c372e59.64db42","5426d0ef.375f6"]]},{"id":"2c372e59.64db42","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":1586.4638264973958,"y":1071.1358303493923,"wires":[]},{"id":"5426d0ef.375f6","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1665,"y":1026,"wires":[["f4412e6e.7f76b"]]},{"id":"f4412e6e.7f76b","type":"json","z":"7a6ce12a.2883","name":"","pretty":false,"x":1854,"y":1026,"wires":[["9ca576db.68b898"]]},{"id":"265e0f92.b72ea","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":2330,"y":1080,"wires":[]},{"id":"9ca576db.68b898","type":"function","z":"7a6ce12a.2883","name":"Parsing Local with MAX(SCORE)","func":"// \"[{\"TIME\":1513126219950,\"LOCAL\":20171213115019,\"SCORE\":223}]\"\n\nvar localTime = parseInt(msg.payload.toString().substr(31, 12));\nvar score = parseInt(msg.payload.toString().substr(54, 3));\n\nmsg.payload = \"DATE: \" + localTime + \" || \" + \"SCORE: \" + score;\nreturn msg;","outputs":1,"noerr":0,"x":2083,"y":1026,"wires":[["4faa12d2.c046ec","265e0f92.b72ea"]]},{"id":"5e6b8a2b.838cc4","type":"function","z":"7a6ce12a.2883","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n// \"[{\"TIME\":1513126219950,\"LOCAL\":20171213115019,\"SCORE\":223}]\"\nvar score = msg.payload;\nvar newMsg = {\n    \"topic\": \"SELECT * FROM HOME WHERE SCORE = \" + score \n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1460,"y":1224,"wires":[["bcc0a013.0c6d9","a2d02c78.f445e"]]},{"id":"bcc0a013.0c6d9","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":1586.4638264973955,"y":1269.1358303493923,"wires":[]},{"id":"a2d02c78.f445e","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1665,"y":1224,"wires":[["6aa55aee.f37c34"]]},{"id":"6aa55aee.f37c34","type":"json","z":"7a6ce12a.2883","name":"","pretty":false,"x":1864,"y":1224,"wires":[["db710834.a8d6d8"]]},{"id":"db710834.a8d6d8","type":"function","z":"7a6ce12a.2883","name":"Parsing Local with MIN(SCORE)","func":"// \"[{\"TIME\":1513126219950,\"LOCAL\":20171213115019,\"SCORE\":223}]\"\n\nvar localTime = parseInt(msg.payload.toString().substr(31, 12));\nvar score = parseInt(msg.payload.toString().substr(54, 3));\n\nmsg.payload = \"DATE: \" + localTime + \" || \" + \"SCORE: \" + score;\nreturn msg;","outputs":1,"noerr":0,"x":2073,"y":1224,"wires":[["7d8e9ff4.77658","13db5f21.cefb71"]]},{"id":"7d8e9ff4.77658","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":2330,"y":1266,"wires":[]},{"id":"fc09e70e.a409f8","type":"ui_template","z":"7a6ce12a.2883","group":"545a53d3.cddf4c","name":"","order":10,"width":0,"height":0,"format":"<img src=\"https://raw.githubusercontent.com/leehaesung/NodeRED/master/02_CodeFiles/12_SQLite/01_Images/Python_Tetris_SQLite.jpg\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1000,"y":920,"wires":[[]]},{"id":"5c5cbf3c.38c8f","type":"ui_button","z":"7a6ce12a.2883","name":"","group":"545a53d3.cddf4c","order":8,"width":0,"height":0,"passthru":false,"label":"Avg Score","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1290,"y":1400,"wires":[["f79b7784.358088"]]},{"id":"f79b7784.358088","type":"function","z":"7a6ce12a.2883","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": \"SELECT AVG(SCORE) FROM [HOME]\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1453,"y":1400,"wires":[["e98bd74d.54e518"]]},{"id":"af98f199.6d001","type":"ui_text","z":"7a6ce12a.2883","group":"545a53d3.cddf4c","order":9,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2250,"y":1400,"wires":[]},{"id":"7c1c517c.38b94","type":"debug","z":"7a6ce12a.2883","name":"","active":false,"console":"false","complete":"false","x":2050,"y":1358,"wires":[]},{"id":"2e08f952.d3e7b6","type":"function","z":"7a6ce12a.2883","name":"Parsing AVG(SCORE)","func":"// \"[{\"AVG(SCORE)\":163}]\"\nvar avgScore = parseFloat(msg.payload.toString().substr(15, 3));\nmsg.payload = \"AVG SCORE: \" + avgScore.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":1398,"wires":[["34b316f.d615fea","af98f199.6d001"]]},{"id":"3d13d230.3ea23e","type":"json","z":"7a6ce12a.2883","name":"","pretty":false,"x":1870,"y":1398,"wires":[["7c1c517c.38b94","2e08f952.d3e7b6"]]},{"id":"e98bd74d.54e518","type":"sqlite","z":"7a6ce12a.2883","mydb":"eb286da7.8e80e","name":"","x":1653,"y":1400,"wires":[["3d13d230.3ea23e"]]},{"id":"34b316f.d615fea","type":"debug","z":"7a6ce12a.2883","name":"","active":true,"console":"false","complete":"false","x":2270,"y":1440,"wires":[]},{"id":"545a53d3.cddf4c","type":"ui_group","z":"","name":"Tetris Game For Joystick","tab":"6df649e7.9b46b8","order":1,"disp":true,"width":"6"},{"id":"102046f0.46e0e9","type":"ui_group","z":"","name":"Tetris with SQLite","tab":"6df649e7.9b46b8","order":2,"disp":true,"width":"6"},{"id":"eb286da7.8e80e","type":"sqlitedb","z":"","db":"/home/pi/sqliteTetrisScores"},{"id":"391b63dc.9f2ddc","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ff63fb9e.ae3238","type":"ui_group","z":"","name":"Tetris Query Commander","tab":"6df649e7.9b46b8","order":3,"disp":true,"width":"6"},{"id":"353984d7.3e151c","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6df649e7.9b46b8","type":"ui_tab","z":"","name":"Tetris Game For Joystick","icon":"dashboard","order":1}]
