02_CodeFiles/12_SQLite/02_SourceCodes/PiSystemWithSQLite_NodeRED_Ver_0.1.txt
[{"id":"7776faa4.af7a44","type":"inject","z":"d0c1ca4e.021d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":150,"y":226,"wires":[["12f99961.4bd717","44cb2131.6cb89","a7de5205.8e01f"]]},{"id":"12f99961.4bd717","type":"exec","z":"d0c1ca4e.021d28","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"true","timer":"","oldrc":false,"name":"getCPUtemp","x":342.4602584838867,"y":225.4602583476476,"wires":[["a6e1ff49.247cb","3909ead2.d0db56"],[],[]]},{"id":"a6e1ff49.247cb","type":"function","z":"d0c1ca4e.021d28","name":"CPU Temp Function","func":"msg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"));\nreturn msg;\n\n\n//context.global.cputemp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\n//var temp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\n//msg.payload = temp.toString().substr(0, 4);\n\n","outputs":1,"noerr":0,"x":552.0475616455078,"y":211.7142866679601,"wires":[["20d2cdf2.995ad2","529c6e1e.baee3","e90a654d.156eb8","c30c3681.59fa98","db5571e3.774fd","37f0ed48.507322"]]},{"id":"bfb2f5dc.89f698","type":"comment","z":"d0c1ca4e.021d28","name":"Measuring CPU's Temperature For Raspberry Pi","info":"","x":309.85717010498047,"y":97.6192177363805,"wires":[]},{"id":"20d2cdf2.995ad2","type":"debug","z":"d0c1ca4e.021d28","name":"","active":true,"console":"false","complete":"false","x":765.5101356506348,"y":211.32514429092407,"wires":[]},{"id":"529c6e1e.baee3","type":"ui_gauge","z":"d0c1ca4e.021d28","name":"","group":"1d22ce6.3fbbc32","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":745.6548805236816,"y":257.26813888549805,"wires":[]},{"id":"e90a654d.156eb8","type":"ui_chart","z":"d0c1ca4e.021d28","name":"","group":"1d22ce6.3fbbc32","order":2,"width":"0","height":"0","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":788.6869411468506,"y":300.97949600219727,"wires":[[],[]]},{"id":"37f0ed48.507322","type":"file","z":"d0c1ca4e.021d28","name":"","filename":"/home/pi/CPU_Temp.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":810,"y":174,"wires":[]},{"id":"3909ead2.d0db56","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":534,"y":251,"wires":[]},{"id":"c30c3681.59fa98","type":"mqtt out","z":"d0c1ca4e.021d28","name":"MQTT - laptopcputemp","topic":"laptopcputemp","qos":"2","retain":"","broker":"8ed21226.996af","x":810.289623260498,"y":344.4837417602539,"wires":[]},{"id":"bf20f68e.00bf78","type":"inject","z":"d0c1ca4e.021d28","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1021,"y":530,"wires":[["dec5981e.6d9de8"]]},{"id":"3c7a20fa.3e057","type":"function","z":"d0c1ca4e.021d28","name":"Insert query","func":"//var time = msg.payload.substr(0, 18);\n//var temp01 = msg.payload.substr(17, 5);\n//var temp = parseFloat(temp01);\n\nvar time = msg.payload.data.time;\nvar local = msg.payload.data.local;\nvar temp = msg.payload.data.temp;\n\n//var temp = msg.payload;\n//var largeBool = (temp > 30)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \")\"\n};\n\nreturn newMsg;\n\n\n/*\nvar randomNum = Math.round(Math.random()*100);\nvar largeBool = (randomNum > 50)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO RANDOMNUM VALUES ( \" + msg.payload + \", \" + randomNum + \", \" + largeBool + \")\"\n}\n\nreturn newMsg;\n*/","outputs":1,"noerr":0,"x":1009.3621673583984,"y":572.7500791549683,"wires":[["dec5981e.6d9de8"]]},{"id":"62268bd2.c794e4","type":"inject","z":"d0c1ca4e.021d28","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1059.749942779541,"y":702.0000343322754,"wires":[["4b4fc3c2.d15e0c"]]},{"id":"99d932a2.d0422","type":"inject","z":"d0c1ca4e.021d28","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1054.9692611694336,"y":658.7500801086426,"wires":[["dec5981e.6d9de8"]]},{"id":"8a12f967.539848","type":"inject","z":"d0c1ca4e.021d28","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1055.2499046325684,"y":617.5000705718994,"wires":[["dec5981e.6d9de8"]]},{"id":"44cb2131.6cb89","type":"moment","z":"d0c1ca4e.021d28","name":"","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":388,"y":455,"wires":[["2e1d065a.b26dea"]]},{"id":"2e1d065a.b26dea","type":"function","z":"d0c1ca4e.021d28","name":"Parsing Time","func":"var time = msg.payload.toString().substr(0, 19).replace(\"T\",\" \");\nmsg.payload = time;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":587.4999618530273,"y":454.8341507911682,"wires":[["3339b6bd.f18c0a","8aaba309.987b3"]]},{"id":"db5571e3.774fd","type":"delay","z":"d0c1ca4e.021d28","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":331,"y":574,"wires":[["a7de5205.8e01f"]]},{"id":"a7de5205.8e01f","type":"join","z":"d0c1ca4e.021d28","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":486,"y":533,"wires":[["b7ef4dd4.cb175","3366dfda.5697c"]]},{"id":"b7ef4dd4.cb175","type":"function","z":"d0c1ca4e.021d28","name":"JSON","func":"// \"1511753186366 2017-11-27 14:26:26 37.2\"\n\nvar timeBuf = msg.payload.toString().substr(0, 13);\nvar localYear = msg.payload.toString().substr(16, 2);\nvar localMon = msg.payload.toString().substr(19, 2);\nvar localD = msg.payload.toString().substr(22, 2);\nvar localH = msg.payload.toString().substr(25, 2);\nvar localMin = msg.payload.toString().substr(28, 2);\nvar localSec = msg.payload.toString().substr(31, 2);\nvar tempBuf = msg.payload.toString().substr(34, 4);\n\nvar time = parseFloat(timeBuf);\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \nvar temp = parseFloat(tempBuf);\n\nmsg.payload = {data:{time,local,temp}};\n// The result : \"{\"data\":{\"time\":1511777910194,\"local\":171127211830,\"temp\":35.9}}\"\n\nreturn msg;","outputs":1,"noerr":0,"x":651.4568634033203,"y":573.3318691253662,"wires":[["c0a3dcb8.f1526","f1fed139.89519","3c7a20fa.3e057"]]},{"id":"3339b6bd.f18c0a","type":"ui_text","z":"d0c1ca4e.021d28","group":"102046f0.46e0e9","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":760.0924854278564,"y":455.7849850654602,"wires":[]},{"id":"5f9db22f.70ae7c","type":"ui_button","z":"d0c1ca4e.021d28","name":"","group":"102046f0.46e0e9","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1033.3352584838867,"y":491.797682762146,"wires":[["dec5981e.6d9de8"]]},{"id":"8fb2efc3.11efa","type":"comment","z":"d0c1ca4e.021d28","name":"SQLite Part","info":"","x":170,"y":394,"wires":[]},{"id":"4024439c.1665fc","type":"ui_template","z":"d0c1ca4e.021d28","group":"102046f0.46e0e9","name":"UI Table","order":3,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>TEMP [°C]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1478,"y":701,"wires":[[]]},{"id":"4b4fc3c2.d15e0c","type":"sqlite","z":"d0c1ca4e.021d28","mydb":"18175312.0799ad","name":"","x":1247,"y":701,"wires":[["4024439c.1665fc"]]},{"id":"8aaba309.987b3","type":"delay","z":"d0c1ca4e.021d28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":331,"y":534,"wires":[["a7de5205.8e01f"]]},{"id":"3366dfda.5697c","type":"debug","z":"d0c1ca4e.021d28","name":"","active":true,"console":"false","complete":"false","x":487,"y":630,"wires":[]},{"id":"c0a3dcb8.f1526","type":"debug","z":"d0c1ca4e.021d28","name":"","active":true,"console":"false","complete":"false","x":830,"y":867,"wires":[]},{"id":"f1fed139.89519","type":"mqtt out","z":"d0c1ca4e.021d28","name":"","topic":"raspberrypiCpuTemp","qos":"2","retain":"","broker":"391b63dc.9f2ddc","x":860,"y":807,"wires":[]},{"id":"b045a90d.26c3e8","type":"comment","z":"d0c1ca4e.021d28","name":"Local SQL @Laptop","info":"","x":1290,"y":454,"wires":[]},{"id":"8e79f5a7.142908","type":"sqlite","z":"d0c1ca4e.021d28","mydb":"18175312.0799ad","name":"","x":1270,"y":750,"wires":[["7eb23a4f.2f3734","86d9b227.aec0c"]]},{"id":"c28e022d.04541","type":"ui_text_input","z":"d0c1ca4e.021d28","name":"","label":"","group":"893e34ca.1998e8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":937.8506088256836,"y":749.6053838729858,"wires":[["e13861ac.41a05"]]},{"id":"7eb23a4f.2f3734","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":1522.6182708740234,"y":792.148344039917,"wires":[]},{"id":"e13861ac.41a05","type":"function","z":"d0c1ca4e.021d28","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1089.9589157104492,"y":749.9274368286133,"wires":[["8e79f5a7.142908"]]},{"id":"86d9b227.aec0c","type":"ui_template","z":"d0c1ca4e.021d28","group":"893e34ca.1998e8","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1530.4386978149414,"y":749.5517110824585,"wires":[["97616647.dc27d8"]]},{"id":"bfc57fad.54d92","type":"ui_template","z":"d0c1ca4e.021d28","group":"893e34ca.1998e8","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1508.77197265625,"y":837.885009765625,"wires":[[]]},{"id":"97616647.dc27d8","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":1710,"y":794,"wires":[]},{"id":"dec5981e.6d9de8","type":"sqlite","z":"d0c1ca4e.021d28","mydb":"18175312.0799ad","name":"","x":1306,"y":572,"wires":[[]]},{"id":"1d22ce6.3fbbc32","type":"ui_group","z":"","name":"CPU Temperature","tab":"b59d1339.a8659","order":1,"disp":true,"width":"6"},{"id":"8ed21226.996af","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"102046f0.46e0e9","type":"ui_group","z":"","name":"SQLite DB","tab":"b59d1339.a8659","order":2,"disp":true,"width":"6"},{"id":"18175312.0799ad","type":"sqlitedb","z":"","db":"/home/pi/sqliteCpu"},{"id":"391b63dc.9f2ddc","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"893e34ca.1998e8","type":"ui_group","z":"","name":"Query Commander","tab":"b59d1339.a8659","order":3,"disp":true,"width":"6"},{"id":"b59d1339.a8659","type":"ui_tab","z":"","name":"Pi System","icon":"dashboard","order":1}]
