02_CodeFiles/12_SQLite/02_SourceCodes/PiSystemWithSQLite_NodeRED_Ver_0.2.txt
[{"id":"7776faa4.af7a44","type":"inject","z":"d0c1ca4e.021d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":150,"y":226,"wires":[["12f99961.4bd717","44cb2131.6cb89","561fa54.8e1fe5c"]]},{"id":"12f99961.4bd717","type":"exec","z":"d0c1ca4e.021d28","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"true","timer":"","oldrc":false,"name":"getCPUtemp","x":342.4602584838867,"y":225.4602583476476,"wires":[["a6e1ff49.247cb","3909ead2.d0db56"],[],[]]},{"id":"a6e1ff49.247cb","type":"function","z":"d0c1ca4e.021d28","name":"CPU Temp Function","func":"msg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"));\nreturn msg;\n\n\n//context.global.cputemp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\n//var temp = 0.1 * parseFloat(msg.payload.replace(\"\",\"\").replace(\"00\",\"\"));\n//msg.payload = temp.toString().substr(0, 4);\n\n","outputs":1,"noerr":0,"x":552.0475616455078,"y":211.7142866679601,"wires":[["20d2cdf2.995ad2","529c6e1e.baee3","e90a654d.156eb8","c30c3681.59fa98","37f0ed48.507322","9002eb18.89d918"]]},{"id":"bfb2f5dc.89f698","type":"comment","z":"d0c1ca4e.021d28","name":"Measuring CPU's Temperature For Raspberry Pi","info":"","x":280,"y":120,"wires":[]},{"id":"20d2cdf2.995ad2","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":806.5101356506348,"y":211.32514429092407,"wires":[]},{"id":"529c6e1e.baee3","type":"ui_gauge","z":"d0c1ca4e.021d28","name":"","group":"1d22ce6.3fbbc32","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":786.6548805236816,"y":257.26813888549805,"wires":[]},{"id":"e90a654d.156eb8","type":"ui_chart","z":"d0c1ca4e.021d28","name":"","group":"1d22ce6.3fbbc32","order":2,"width":"0","height":"0","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":829.6869411468506,"y":300.97949600219727,"wires":[[],[]]},{"id":"37f0ed48.507322","type":"file","z":"d0c1ca4e.021d28","name":"","filename":"/home/pi/CPU_Temp.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":851,"y":174,"wires":[]},{"id":"3909ead2.d0db56","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":534,"y":251,"wires":[]},{"id":"c30c3681.59fa98","type":"mqtt out","z":"d0c1ca4e.021d28","name":"MQTT - laptopcputemp","topic":"laptopcputemp","qos":"2","retain":"","broker":"8ed21226.996af","x":851.289623260498,"y":344.4837417602539,"wires":[]},{"id":"bf20f68e.00bf78","type":"inject","z":"d0c1ca4e.021d28","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1223,"y":577,"wires":[["dec5981e.6d9de8"]]},{"id":"62268bd2.c794e4","type":"inject","z":"d0c1ca4e.021d28","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":1261.749942779541,"y":749.0000343322754,"wires":[["4b4fc3c2.d15e0c"]]},{"id":"99d932a2.d0422","type":"inject","z":"d0c1ca4e.021d28","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1256.9692611694336,"y":705.7500801086426,"wires":[["dec5981e.6d9de8"]]},{"id":"8a12f967.539848","type":"inject","z":"d0c1ca4e.021d28","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1257.2499046325684,"y":664.5000705718994,"wires":[["dec5981e.6d9de8"]]},{"id":"44cb2131.6cb89","type":"moment","z":"d0c1ca4e.021d28","name":"","topic":"","input":"","inputType":"msg","inTz":"ETC/GMT","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":346,"y":452,"wires":[["a7abd1a4.78683"]]},{"id":"3339b6bd.f18c0a","type":"ui_text","z":"d0c1ca4e.021d28","group":"102046f0.46e0e9","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":937,"y":451,"wires":[]},{"id":"5f9db22f.70ae7c","type":"ui_button","z":"d0c1ca4e.021d28","name":"","group":"102046f0.46e0e9","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":1235.3352584838867,"y":538.797682762146,"wires":[["dec5981e.6d9de8"]]},{"id":"8fb2efc3.11efa","type":"comment","z":"d0c1ca4e.021d28","name":"SQLite Part","info":"","x":1200,"y":460,"wires":[]},{"id":"4024439c.1665fc","type":"ui_template","z":"d0c1ca4e.021d28","group":"102046f0.46e0e9","name":"UI Table","order":3,"width":"6","height":"10","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>TEMP [°C]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1637,"y":748,"wires":[[]]},{"id":"4b4fc3c2.d15e0c","type":"sqlite","z":"d0c1ca4e.021d28","mydb":"18175312.0799ad","name":"","x":1449,"y":748,"wires":[["4024439c.1665fc"]]},{"id":"f1fed139.89519","type":"mqtt out","z":"d0c1ca4e.021d28","name":"","topic":"raspberrypiCpuTemp","qos":"2","retain":"","broker":"391b63dc.9f2ddc","x":1341,"y":898,"wires":[]},{"id":"8e79f5a7.142908","type":"sqlite","z":"d0c1ca4e.021d28","mydb":"18175312.0799ad","name":"","x":1472,"y":797,"wires":[["7eb23a4f.2f3734","86d9b227.aec0c"]]},{"id":"c28e022d.04541","type":"ui_text_input","z":"d0c1ca4e.021d28","name":"","label":"","group":"893e34ca.1998e8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1139.8506088256836,"y":796.6053838729858,"wires":[["e13861ac.41a05"]]},{"id":"7eb23a4f.2f3734","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":1681.6182708740234,"y":839.148344039917,"wires":[]},{"id":"e13861ac.41a05","type":"function","z":"d0c1ca4e.021d28","name":"Filtering","func":"// SELECT * FROM HOME WHERE TEMP = 34;\n\nvar newMsg = {\n \"topic\": msg.payload\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1291.9589157104492,"y":796.9274368286133,"wires":[["8e79f5a7.142908"]]},{"id":"86d9b227.aec0c","type":"ui_template","z":"d0c1ca4e.021d28","group":"893e34ca.1998e8","name":"Query Answer","order":3,"width":"6","height":"9","format":"<table style=\"width:100%\">\n <tr>\n  <th>Index</th>     \n <th>ANSWER</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:500\">\n <td>{{$index + 1}}</td>\n <td>{{msg.payload[$index]}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1689.4386978149414,"y":796.5517110824585,"wires":[[]]},{"id":"bfc57fad.54d92","type":"ui_template","z":"d0c1ca4e.021d28","group":"893e34ca.1998e8","name":"Example","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<strong>Example :</strong>\n<p>SELECT * FROM HOME WHERE TEMP = 39.5</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1667.77197265625,"y":884.885009765625,"wires":[[]]},{"id":"dec5981e.6d9de8","type":"sqlite","z":"d0c1ca4e.021d28","mydb":"18175312.0799ad","name":"","x":1508,"y":619,"wires":[[]]},{"id":"561fa54.8e1fe5c","type":"function","z":"d0c1ca4e.021d28","name":"Timestamp Object","func":"var d = new Date();\nmsg.payload = {'timestamp': d.getTime()};\nreturn msg;","outputs":1,"noerr":0,"x":764,"y":620,"wires":[["40f1efcc.3c7e","8163378b.9f28f8"]]},{"id":"9002eb18.89d918","type":"function","z":"d0c1ca4e.021d28","name":"Parsing Temperature","func":"msg.payload = {'temperature':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":769,"y":724,"wires":[["62154c32.f446c4","8163378b.9f28f8"]]},{"id":"a7abd1a4.78683","type":"function","z":"d0c1ca4e.021d28","name":"Parsing Local","func":"msg.payload = {'local':msg.payload.toString().substr(0, 19).replace(\"T\",\" \")};\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":452,"wires":[["311e6e60.48c332","12aba663.778a8a","cf87751b.4a3c28"]]},{"id":"cf87751b.4a3c28","type":"function","z":"d0c1ca4e.021d28","name":"Parsing Object","func":"msg.payload = msg.payload.local;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":451,"wires":[["3339b6bd.f18c0a"]]},{"id":"12aba663.778a8a","type":"function","z":"d0c1ca4e.021d28","name":"Parsing Integer","func":"// { local: \"2017-12-09 18:30:40\" }\nvar localBuf = msg.payload.local;\n// \"2017-12-09 18:30:40\"\n\n\nvar localYear = localBuf.toString().substr(0, 4);\nvar localMon =localBuf.toString().substr(5, 2);\nvar localD = localBuf.toString().substr(8, 2);\nvar localH = localBuf.toString().substr(11, 2);\nvar localMin =localBuf.toString().substr(14, 2);\nvar localSec = localBuf.toString().substr(17, 2);\n\n\nvar local = parseFloat(localYear + localMon + localD + localH + localMin + localSec); \n\n\nmsg.payload = {'local':local};\n\nreturn msg;","outputs":1,"noerr":0,"x":769,"y":510,"wires":[["48faf438.c95dcc","8163378b.9f28f8"]]},{"id":"311e6e60.48c332","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":820,"y":399,"wires":[]},{"id":"48faf438.c95dcc","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":819,"y":558,"wires":[]},{"id":"40f1efcc.3c7e","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":819,"y":678,"wires":[]},{"id":"62154c32.f446c4","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":819,"y":778,"wires":[]},{"id":"8163378b.9f28f8","type":"join","z":"d0c1ca4e.021d28","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":1019,"y":618,"wires":[["ac4d3159.bdc8a","30532afd.1a1bb6"]]},{"id":"7a93eb0d.003964","type":"debug","z":"d0c1ca4e.021d28","name":"","active":false,"console":"false","complete":"false","x":1291,"y":958,"wires":[]},{"id":"ac4d3159.bdc8a","type":"function","z":"d0c1ca4e.021d28","name":"Insert query","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\n//var hum = msg.payload.humidity;\n//var pre = msg.payload.pressure;\n\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1193,"y":617,"wires":[["dec5981e.6d9de8"]]},{"id":"30532afd.1a1bb6","type":"function","z":"d0c1ca4e.021d28","name":"Making Object","func":"var time = msg.payload.timestamp;\nvar local = msg.payload.local;\nvar temp = msg.payload.temperature;\n\nmsg.payload = {'data':{time,local,temp}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1121,"y":898,"wires":[["7a93eb0d.003964","f1fed139.89519"]]},{"id":"1d22ce6.3fbbc32","type":"ui_group","z":"","name":"CPU Temperature","tab":"b59d1339.a8659","order":1,"disp":true,"width":"6"},{"id":"8ed21226.996af","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"102046f0.46e0e9","type":"ui_group","z":"","name":"SQLite DB","tab":"b59d1339.a8659","order":2,"disp":true,"width":"6"},{"id":"18175312.0799ad","type":"sqlitedb","z":"","db":"/home/pi/sqliteCpu"},{"id":"391b63dc.9f2ddc","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"893e34ca.1998e8","type":"ui_group","z":"","name":"Query Commander","tab":"b59d1339.a8659","order":3,"disp":true,"width":"6"},{"id":"b59d1339.a8659","type":"ui_tab","z":"","name":"Pi System","icon":"dashboard","order":1}]
