02_CodeFiles/12_SQLite/02_SourceCodes/SQLiteWithArduinoMQTT.txt
[{"id":"2749c81a.f04048","type":"inject","z":"37080677.472aea","name":"create database table","topic":"CREATE TABLE HOME( TIME INT PRIMARY KEY NOT NULL, LOCAL INT NOT NULL, TEMP INT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":760,"y":260,"wires":[["6b44189.2956ee8"]]},{"id":"c97f69d9.ce5688","type":"function","z":"37080677.472aea","name":"Insert query","func":"//var time = msg.payload.substr(0, 18);\n//var temp01 = msg.payload.substr(17, 5);\n//var temp = parseFloat(temp01);\n\nvar time = msg.payload.data.time;\nvar local = msg.payload.data.local;\nvar temp = msg.payload.data.temp;\n\n//var temp = msg.payload;\n//var largeBool = (temp > 30)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO HOME VALUES ( \" + time + \", \" + local + \", \" + temp + \")\"\n};\n\nreturn newMsg;\n\n\n/*\nvar randomNum = Math.round(Math.random()*100);\nvar largeBool = (randomNum > 50)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO RANDOMNUM VALUES ( \" + msg.payload + \", \" + randomNum + \", \" + largeBool + \")\"\n}\n\nreturn newMsg;\n*/","outputs":1,"noerr":0,"x":748.3621673583984,"y":302.75007915496826,"wires":[["6b44189.2956ee8"]]},{"id":"cc76412d.a964b","type":"inject","z":"37080677.472aea","name":"view records","topic":"SELECT * FROM HOME ORDER BY TIME DESC LIMIT 100;","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":798.749942779541,"y":432.0000343322754,"wires":[["b1337bf5.b88cb8"]]},{"id":"5ea8a0b9.5ae63","type":"inject","z":"37080677.472aea","name":"delete records","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":793.9692611694336,"y":388.7500801086426,"wires":[["6b44189.2956ee8"]]},{"id":"a196d967.c502a8","type":"inject","z":"37080677.472aea","name":"show counts ","topic":"SELECT COUNT(*) FROM HOME","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":794.2499046325684,"y":347.5000705718994,"wires":[["6b44189.2956ee8"]]},{"id":"6b44189.2956ee8","type":"sqlite","z":"37080677.472aea","mydb":"53602467.998e5c","name":"","x":1009.7499160766602,"y":302.3334608078003,"wires":[[]]},{"id":"adc15772.c109c8","type":"moment","z":"37080677.472aea","name":"","topic":"","input":"","inputType":"date","inTz":"UTC","adjAmount":"11","adjType":"hours","adjDir":"add","format":"","locale":"AEDT","output":"payload","outputType":"msg","outTz":"ETC/GMT","x":316.60706329345703,"y":173.5963544845581,"wires":[["c8049f3e.94874"]]},{"id":"c8049f3e.94874","type":"function","z":"37080677.472aea","name":"Parsing Time","func":"var time = msg.payload.toString().substr(0, 19).replace(\"T\",\" \");\nmsg.payload = time;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":506.49996185302734,"y":173.8341507911682,"wires":[["8b832af6.f44328","543259c0.5aa3c8","a4e3554.59178a8"]]},{"id":"d774b5a.cbb1948","type":"mqtt in","z":"37080677.472aea","name":"MQTT","topic":"temptosql","qos":"2","broker":"b79ac32e.ca813","x":93.67808532714844,"y":238.5425100326538,"wires":[["18736497.32a6ab","adc15772.c109c8","b205707.4a3749","3be02a47.5e11a6"]]},{"id":"18736497.32a6ab","type":"delay","z":"37080677.472aea","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":274.1251220703125,"y":301.94019317626953,"wires":[["8b832af6.f44328"]]},{"id":"8b832af6.f44328","type":"join","z":"37080677.472aea","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"3","x":469.4506072998047,"y":303.240110874176,"wires":[["423dd25c.b7842c"]]},{"id":"423dd25c.b7842c","type":"function","z":"37080677.472aea","name":"JSON","func":"// \"2017-11-25 14:53:26 11.36\"\n// \"1511589899 17.76\"\n// \"1511607089 2017-11-25 21:51:29 4.48\"\n\n//var time = msg.payload.toString().substr(0, 19);\nvar time01 = msg.payload.toString().substr(0, 10);\nvar localMon = msg.payload.toString().substr(16, 2);\nvar localD = msg.payload.toString().substr(19, 2);\nvar localH = msg.payload.toString().substr(22, 2);\nvar localMin = msg.payload.toString().substr(25, 2);\nvar temp01 = msg.payload.toString().substr(31, 5);\n\nvar time = parseFloat(time01);\nvar local = parseFloat(localMon + localD + localH + localMin); \nvar temp = parseFloat(temp01);\n\nmsg.payload = {data:{time,local,temp}};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":599.4568634033203,"y":302.3318691253662,"wires":[["c97f69d9.ce5688"]]},{"id":"543259c0.5aa3c8","type":"ui_text","z":"37080677.472aea","group":"f11db5a7.539d68","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":668.0924854278564,"y":173.7849850654602,"wires":[]},{"id":"94ac0cfc.668e","type":"ui_button","z":"37080677.472aea","name":"","group":"f11db5a7.539d68","order":2,"width":0,"height":0,"passthru":false,"label":"Delete SQL Records","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE FROM HOME WHERE TIME <= strftime('%s','now', '-1 hours')*1000","x":772.3352584838867,"y":221.797682762146,"wires":[["6b44189.2956ee8"]]},{"id":"171193ab.a0abfc","type":"comment","z":"37080677.472aea","name":"SQLite Part","info":"","x":145.96214294433594,"y":53.049516677856445,"wires":[]},{"id":"c1f4c280.584b8","type":"ui_template","z":"37080677.472aea","group":"f11db5a7.539d68","name":"UI Table","order":3,"width":"6","height":"8","format":"<table style=\"width:100%\">\n <tr>\n <th>Index</th>\n <th></th>\n <th>DATE</th>\n <th>TEMP [°C]</th>\n </tr>\n <tr ng-repeat=\"x in msg.payload | limitTo:30\">\n <td>{{$index + 1}}</td>\n <td></td>\n <td>{{msg.payload[$index].LOCAL}}</td>\n <td>{{msg.payload[$index].TEMP}}</td>\n </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1135.9999084472656,"y":431.5000669956207,"wires":[[]]},{"id":"b1337bf5.b88cb8","type":"sqlite","z":"37080677.472aea","mydb":"53602467.998e5c","name":"","x":974.9998931884766,"y":431.50006675720215,"wires":[["c1f4c280.584b8"]]},{"id":"a4e3554.59178a8","type":"debug","z":"37080677.472aea","name":"","active":true,"console":"false","complete":"false","x":673,"y":137,"wires":[]},{"id":"b205707.4a3749","type":"ui_gauge","z":"37080677.472aea","name":"","group":"bab1fb46.681648","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature [°C]","label":"[°C]","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":315.9116690499442,"y":370.3665379115513,"wires":[]},{"id":"3be02a47.5e11a6","type":"ui_chart","z":"37080677.472aea","name":"","group":"bab1fb46.681648","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":270,"y":420,"wires":[[],[]]},{"id":"53602467.998e5c","type":"sqlitedb","z":"","db":"/root/sqlite"},{"id":"b79ac32e.ca813","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f11db5a7.539d68","type":"ui_group","z":"","name":"SQLite DB","tab":"20251239.0e503e","order":4,"disp":true,"width":"6"},{"id":"bab1fb46.681648","type":"ui_group","z":"","name":"IoT Sensor","tab":"20251239.0e503e","order":2,"disp":true,"width":"6"},{"id":"20251239.0e503e","type":"ui_tab","z":"","name":"SQLiteDB With Arduino","icon":"dashboard"}]
